[2021-11-07 23:03] bollaking commented on #4342
I have been unable to install python 3.6 using homebrew or compiling from scratch.  It is no longer supported as of macos 11.0

I have been able to run experiments by raising an ImportError exception on line 73 of hardware.keyboard.py to force psychopy to use the events for keyboard events.

[2021-11-08 00:22] Catyre commented on #4342
Looks like there's already a codeblock in my version of psychopy for that:

[code]

Were you saying that adding that fixed your (our) problem?

[2021-11-08 00:41] bollaking commented on #4342
Sorry I meant to raise the ImportError so that psychopy does not use ptb ie:
[code]

This is just a temporary hack to be able to run experiments in built locally until ptb can run with 3.8

[2021-11-08 02:00] Catyre commented on #4342
EDIT: Unrelated problem.  Removed it.

 My environment works now!  Thanks so much

[2021-11-09 08:08] Tiger-0512 opened #4349 "Set monospaced fonts as the default font for Coder and the code component in Builder"
Monospace fonts allocate equal space for each character.
e.g., The letter 'i' is given as much horizontal space as the letter 'k'.
That may look unnatural for other types of text and typography, but it's perfect for coding.

These are the candidates.
- [Fira code](https://fonts.google.com/specimen/Fira+Code)
- [Ubuntu mono](https://fonts.google.com/specimen/Ubuntu+Mono)
- [Iosevka](https://github.

[2021-11-09 19:45] mdcutone commented on #4349
Perhaps we should default to one of the monospace fonts we already ship with? @TEParsons

[2021-11-09 19:49] TEParsons commented on #4349
Currently the default font is monospace - it should be Jetbrains Mono. I think what's most likely happening is it's not detecting it on your machine and so is defaulting to the system default - what OS are you on?

[2021-11-09 20:12] Tiger-0512 commented on #4349
Thank you for your prompt response.
I found that the monospace font is set in the newest version of PsycoPy(I mainly use PsycoPy v2021.1.4).
I am sorry for the lack of confirmation.

[2021-11-09 20:13] #4349 closed, assigned to nobody

[2021-11-09 21:00] Altibertalt opened #4351 "PsychoPy quit unexpectedly - macOS Monterey (12.0.1)"
Since upgrading my macOS from Big Sur to Monterey PsychoPy keeps crashing immediately.
I have tried reinstalling PsychoPy and trying older versions. Nothing works.
Anyone else getting this same issue?

Error:
`Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'CGSSetSurfaceColorSpace failed with 1000'
abort() called
terminat

[2021-11-10 08:06] DimitriPapadopoulos opened #4352 "jQuery vulnerabilities: is the project using jQuery < 3.5?"
If so, update jQuery to 3.5.1 or later as prior versions contain known vulnerabilities:
https://blog.jquery.com/2020/04/10/jquery-3-5-0-released/

[2021-11-10 08:30] DimitriPapadopoulos opened #4354 "Flake8 and LGTM.com issues"
Would you accept PRs for [Flake8](https://flake8.pycqa.org) and [LGTM.com](https://lgtm.com/projects/g/psychopy/psychopy/alerts/?severity=error) alerts, at least those that seem more relevant?

[2021-11-10 16:29] Avijit-Chowdhury1 commented on #4344
@peircej Hi, any help on this, please?

[2021-11-10 21:54] mdcutone commented on #4354
Generally, its okay to submit PRs fixing LGTM issues, particularly the ones marked as "Errors". However, avoid fixing lots of issues across multiple files in a single PR. Doing so may cause merge conflicts and other headaches for everyone else working on the project.

Don't bother working on Flake8 stuff for now. If you want to help with style issues, converting docstrings to [NumpyDoc](https://nu

[2021-11-10 23:27] iPsych opened #4357 "VlcMovieStim crash in MacOs High Sierra"
VlcMovieStim randomly crashes in MacOS High Sierra (around 75%of all runs).
Even when it successfully opened, it always crashes when it finished.

First I checked whether mixing system python and python3 in the Psychopy, but it wasn't the problem.

Then I separately checked whether pythonvlc works properly with below example.
https://raw.githubusercontent.com/oaubert/python-vlc/master/examples/coc

[2021-11-10 23:38] iPsych commented on #4357
Update : Same crash in MacOS Catalina with MacPro 2013

Date/Time:             2021-11-11 08:36:33.761 +0900
OS Version:            Mac OS X 10.15.7 (19H1323)
Report Version:        12
Anonymous UUID:        48CDF4B3-8CAA-A574-386A-BB7C61054AFA

Time Awake Since Boot: 1300000 seconds

System Integrity Protection: disabled

Crashed Thread:        32

Exception Type:        EXC_BAD_ACCESS (SIGSEGV)

[2021-11-11 01:09] mdcutone commented on #4357
Thanks for reporting this issue.

Difference here is that we're using OpenGL not Cocoa, and Python+OpenGL video playback is generally not great regardless of the backend in use (i.e. MoviePy, VLC). Since you are using the standalone version which should ship with the correct python-vlc version for MacOS (only a specific version works), this possibly is a new issue we'll need to look into.

[2021-11-11 09:53] DimitriPapadopoulos commented on #4354
Some Flake8 issues are also LGTM.com issues, but I get it: too many changes, and especially stylistic ones, will disturb the workflow of other contributors.

[2021-11-11 09:54] #4354 closed, assigned to nobody

[2021-11-11 10:01] DimitriPapadopoulos opened #4359 "Keyword argument `colorSpace` is not a supported parameter name of `Color.__init__`"
These [LGTM.com errors](https://lgtm.com/projects/g/psychopy/psychopy/alerts/?severity=error) originate here:
https://github.com/psychopy/psychopy/blob/5711431f37b0dc1b0449d7e7e975fa73911f9782/psychopy/visual/radial.py#L122-L124
https://github.com/psychopy/psychopy/blob/5711431f37b0dc1b0449d7e7e975fa73911f9782/psychopy/visual/radial.py#L126-L128
https://github.com/psychopy/psychopy/blob/5711431f37

[2021-11-11 10:32] DimitriPapadopoulos opened #4361 "Keyword argument `keepMatrix` is not a supported parameter name of method `ImageStim.draw`"
This [LGTM.com error](https://lgtm.com/projects/g/psychopy/psychopy/alerts/?severity=error) originates here:
https://github.com/psychopy/psychopy/blob/5711431f37b0dc1b0449d7e7e975fa73911f9782/psychopy/visual/aperture.py#L171-L172

And indeed `self._shape` can either be an [`ImageStim`](https://github.com/psychopy/psychopy/blob/release/psychopy/visual/image.py) or a [`BaseShapeStim`](https://github

[2021-11-11 10:40] DimitriPapadopoulos commented on #4361
What happens is that `Aperture` methods check `self.__dict__['filename']` to decide whether `self._shape` is an `ImageStim` or a `BaseShapeStim`. LGTM.com doesn't know it's the same - and future maintainers won't know that either.

The initial branching is OK:
https://github.com/psychopy/psychopy/blob/5711431f37b0dc1b0449d7e7e975fa73911f9782/psychopy/visual/aperture.py#L121-L128

Perhaps further b

[2021-11-11 10:45] #4359 closed, assigned to nobody

[2021-11-12 10:34] #4318 closed, assigned to nobody

[2021-11-12 10:59] #4281 closed, assigned to TEParsons

[2021-11-16 05:19] iPsych opened #4371 "displaying multiple videos using vlcmoviestim cause crash in MacOS."
Displaying multiple videos in single window using vlcmoviestim cause crash in MacOS.
Tested in High Sierra, Catalina, and Mojave with recent 2.1 and 2.3 versions.

[2021-11-16 06:09] iPsych opened #4372 "Pause function not working for moviestim3"
moviestim3 doesn't 'pause' in builder setting.
Tested both in 2021.2.3 and 2021.2.1
In contrast, the coder approach works in both setting.
https://codeload.github.com/Jonnyplate/PsychoPy_Experiment
I guess some code in builder moviestim3 element prevent to respond mov.pause().

[2021-11-16 08:38] erikkemperman opened #4373 "Mismatch between Python en Web"
Hi,

There seem to be methods available in Python, e.g. ImageStim.overlaps(), which are not present in the JavaScript library. This is very unfortunate -- researchers merrily use these functions while developing their experiments, only to find that things don't work on the web. Perhaps I missed something, but the documentation doesn't seem to warn us about this.

Is this a known issue? Is there an

[2021-11-16 16:12] peircej commented on #4373
We try and maintain a list of the major functionality and what is/isn't supported online:
    https://www.psychopy.org/online/status.html
Furthermore, in the next major release (2022.1.0) we will be adding toggle in the Builder only to show components that support the JS and/or Python engines so that if you know you want to run the study online you can choose not even to see the Components that ar

[2021-11-16 16:12] #4373 closed, assigned to nobody

[2021-11-16 18:01] mdcutone commented on #4371
Is this multiple videos in sequence or at once, arranged around the screen.

[2021-11-16 19:29] erikkemperman commented on #4373
Thanks for the quick response! I’ve implemented a JS kludge myself, and I will let the researcher know to check your link before spending a lot of time on a potential dead end.

[2021-11-19 10:57] sasaju commented on #4297
I uninstall python3.6.4 and python launcher which in my system. Then, reboot，all run correctly. I think if only remove python's route in PATH maybe also can slove this problem.

[2021-11-19 16:47] harkiran1 opened #4384 "PsycoPy keeps quitting"
Hello,

I am using PsychoPy for an assignment i have however it keeps quitting every time i open it or try to use it. In case you needed more information i am using my mac book and the mac OS version is 12.0.1.

[2021-11-20 13:12] elfring opened #4385 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-22 06:57] huyiting11 opened #4386 "The framerate is more than 180hz in macOS Monterey ?!"
Hi there,
after I upgrade my macOS to Monterey 12.0.1, I find that the framerate is more than 180hz in my experiment data, and it aways changes a lot, sometimes it is even 205hz，it was about 60h z before?!! How can it be? My Mac is mac book air 2017, and it don't have the function to change the screen refresh framete, my screen refresh is 60hz.

[2021-11-22 12:28] #4270 closed, assigned to nobody

[2021-11-22 12:32] #1296 closed

[2021-11-22 20:55] m-macaskill commented on #4386
Monterey introduced support for variable refresh rate/adaptive sync/free sync. Although this shouldn't affect your 2017 MBA, it looks like you have been caught out by a quirk. Regardless, this issue really belongs on the forum as it's not a specific code issue, and I see you have already cross-posted there: <https://discourse.psychopy.org/t/the-framerate-is-more-than-180hz-in-macos-monterey/26101>

[2021-11-22 20:55] #4386 closed, assigned to nobody

[2021-11-22 22:02] mdcutone commented on #4384
Does the application quit unexpectedly or does this only happen when running experiments?

[2021-11-23 11:47] harkiran1 commented on #4384
Hi,

Thank you for getting back to me. The issue seems to have been resolved.

Thanks.
________________________________
From: Matthew D. Cutone ***@***.***>
Sent: 22 November 2021 22:02
To: psychopy/psychopy ***@***.***>
Cc: Harkiran Chima ***@***.***>; Author ***@***.***>
Subject: Re: [psychopy/psychopy] PsycoPy keeps quitting (Issue #4384)

Does the application quit unexpectedly or does this onl

[2021-11-25 19:25] #4384 closed, assigned to nobody

[2021-11-25 21:19] mdcutone commented on #4331
Thanks for reporting this. We're aware of the issue and are trying to resolve it.

[2021-11-26 18:30] richlv opened #4396 "MacOS: segfault"
Had ran a few iterations that played video. Eventually a segfault happened.
As I'm new to PsychoPy bug reporting, please let me know what important information is missing.

[code]

[2021-11-26 20:53] mdcutone commented on #4396
Thank you very much. There are known playback issues on MacOS that we're trying to sort out.

[2021-12-07 22:27] richlv opened #4412 "Required "Experiment info" fields"
According to https://discourse.psychopy.org/t/require-filling-in-experiment-info-fields/7014 , it is not currently possible to mark fields as required for the locally run experiments.
It does seem to be possible for the online experiments: https://discourse.psychopy.org/t/demographic-form-at-the-beginning-of-online-experiments/9773 .
Would be great to have such a capability also for the local expe

[2021-12-09 19:06] tchamberlain opened #4416 "issue using Microphone on Windows - "Failed to open PortAudio audio device due to unsupported combination of audio parameters""
Hi,

I'm struggling to get the microphone working (in Coder or in Builder). Ultimately we want to  record  from an [external mic](https://www.optoacoustics.com/medical/fomri-iii/features).

We're using Psychopy v2021.2.3, uses Python 3.6.6, on Windows 10.

Here's the stack trace (fails on `mic = Microphone(streamBufferSecs=10.0,`):
![image](https://user-images.githubusercontent.com/4361466/1454594

[2021-12-10 20:54] mdcutone commented on #4416
Try setting the `sampleRateHz` parameter directly like this:

[code]

Seen this problem before during development of the `Microphone` class. On Windows we force the use of the WASAPI driver exposed by PTB for superior timing, but we're limited to very specific configurations (not PTB related I believe). Please look at your output for `getDevices()` and see if you can find the `defaultSampleRate` f

[2021-12-14 15:26] #4280 closed, assigned to TEParsons

[2021-12-17 19:24] DimitriPapadopoulos opened #4435 "`psychopy/localization/readme.txt` should be updated"
### Script `pygettext.py` is not provided

As far as I can see, `pygettext.py` is not provided anymore, in a `utils` directory or elsewhere:
https://github.com/psychopy/psychopy/blob/d87f467c7488126d91ed71a59e4962bbe2158448/psychopy/localization/readme.txt#L37
https://github.com/psychopy/psychopy/blob/d87f467c7488126d91ed71a59e4962bbe2158448/psychopy/localization/readme.txt#L51
https://github.com/

[2021-12-18 07:02] DimitriPapadopoulos commented on #4435
Also, the current `messages.pot` was generated with [Babel](http://babel.pocoo.org/) instead of `pygettext.py`.

[2021-12-19 07:48] tillea opened #4440 "msgpack TypeError: __init__() got an unexpected keyword argument 'encoding'"
Hi,
I'd like to forward a long standing [bug report in Debian](https://bugs.debian.org/829424) which contains suggestion how to fix it sensibly.  I confirm that the issue persists here:

    psychopy/iohub/client/eyetracker/validation/procedure.py:624:        rootScriptPath = os.path.dirname(sys.argv[0])
    psychopy/iohub/client/__init__.py:846:        rootScriptPath = os.path.dirname(sys.argv[0]

[2021-12-20 11:00] #2381 closed

[2021-12-20 11:38] TEParsons commented on #3103
#4374 introduces an entirely new interface for Pavlovia in Builder, so the dialog causing this bug no longer exists.

[2021-12-20 11:38] #3103 closed

[2021-12-20 16:16] #4361 closed, assigned to TEParsons

[2021-12-20 16:16] #3372 closed

[2021-12-20 16:37] #4435 closed, assigned to nobody

[2021-12-20 22:11] thewhodidthis opened #4446 "Pavlovia online experiment only recording final audio trial"
It looks like the boilerplate might need tweaking to better support multiple audio clips, [forum thread &rarr;](https://discourse.psychopy.org/t/26265)

[2021-12-21 10:14] j-ales opened #4451 "MacOS: Space in Application Name Causes failure to generate JS script"
Encountered a bug when the PsychoPy application name has a space in it: e.g. "PsychoPy 2021.2.3".

Clicking the "run psychoJS task in local debug mode" method fails to generate new JS script silently.  In my case causing it to excuse an older version of the JS script, resulting in weird error that sent me off track.

When hitting the "compile to JS script button" fails with the following error ("n

[2021-12-22 17:16] tchamberlain commented on #4416
thanks, I'll try this out when I have access to the external mic again, I appreciate it!

[2021-12-22 20:42] mdcutone commented on #4357
Tracked this issue down, seems that PsychoPy is shutting down without freeing the VLC instance resulting in a segfault. The Python process seems to close before VLC is done being torn down, causing the segfault. Adding a tiny delay fixes the issue, but is a bit hacky to be considered a proper fix. Will continue to work out a solution.

[2022-01-06 12:13] #4446 closed, assigned to nobody

[2022-01-06 13:25] TEParsons commented on #4344
I can't access the experiment file, are you setting its lineColor via a line of code or via the parameter in Builder being `Set Each Frame`?

[2022-01-06 13:26] isolver commented on #4440
As of 2021.1.x iohub no longer uses or creates an .iohpid file, so the original report in debian should no longer be an issue. Could you confirm what the error is you are now getting when using the current release of psychopy? Thank you

[2022-01-06 13:55] Avijit-Chowdhury1 commented on #4344
I am setting its linecolor via code. Is there a way I can send you the code?

I am using the following code in the Python code window, but the automatic translation of this into Javascript using Psyhopy does not work:

stock= visual.ShapeStim(
    win=win,
    closeShape=False,
    units='height',
    lineWidth=3,
    lineColor='red',
    vertices= XY,
    pos=(Xaxis.pos[0], Yaxis.pos[1]-displacem

[2022-01-06 14:09] TEParsons commented on #4344
I believe GitHub doesn't allow `.psyexp` files, but if you change the file extension to `.txt` it should let you (I can then just change it back to open it :P )

[2022-01-06 14:58] Avijit-Chowdhury1 commented on #4344
I tried syncing it to Github: https://gitlab.pavlovia.org/s9072080E/sit2

The file is MarketTask.psyexp (not MarketTask1 or MarketTask2)

Hopefully this works

[2022-01-07 14:45] TEParsons commented on #4344
Ah I think I see the problem - PsychoJS wants colors to be a `util.Color` object, while PsychoPy does this in the background.

For your specific experiment, I think you should be able to make that ShapeStim as a Polygon component - just set the shape to be `custom polygon...` so you can supply the vertices directly. Otherwise, you'll need to change the mode of that code component to be "both" rath

[2022-01-07 14:53] #31 closed

[2022-01-17 09:55] #4331 closed, assigned to nobody

[2022-01-17 10:02] #4225 closed, assigned to nobody

[2022-01-17 10:59] TEParsons opened #4517 "Dict ctrl appends quotes each time it's opened"
Can be seen by opening and closing Experiment Settings - the values in the expInfo dict will get another set of quotation marks around them each time
![image](https://user-images.githubusercontent.com/25686106/149757741-084548db-006a-4695-9501-842a47ea6eba.png)

[2022-01-21 15:20] #4517 closed, assigned to TEParsons

[2022-01-21 18:50] mdcutone commented on #4357
This problem seems to impact MacOS only at this point. Tried a bunch of solutions but nothing has worked reliably. Likely this issue is caused by some library we are using having a bug in it.

[2022-01-27 15:57] 4bgt opened #4542 "PTB sound not able to play mono sounds"
When generating sounds via

    import psychtoolbox as ptb
    from psychopy import prefs
    prefs.hardware['audioLib'] = 'PTB'
    prefs.hardware['audioLatencyMode'] = '3'
    from psychopy import sound

    mySound = sound.Sound('A',secs=3)
    now = ptb.GetSecs()
    print(now)
    mySound.play(when=now+0.5)  # play in EXACTLY 0.5s

using PTB I am getting the following Exception: Number of col

[2022-01-27 19:32] jbteves opened #4544 "Add EGI NetStation support to PsychoPy Python3, now with NTP support"
Hi all, I recently put together a small python package to enable users to interface with EGI-Magstim amplifiers via the NetStation interface. There is a previous implementation in Python2 (egi.py), but this new package is in Python3 and adds NTP support, tested on NIH campus with @pmolfese. We would like for it to be accessible from PsychoPy to make installation for users much much simpler, as rig

[2022-01-28 14:24] N-M-T opened #4549 "Validation routine causes eyetracking experiment to end"
Adding a validation routine to the eyetracking feature demo causes the experiment to end with exit code 1 [pid:17616]

Replicated with Pupil Labs and MouseGaze Eyetracker Devices

Branches tested:
- Current `dev`
- `pupil-labs-pupil-core-eye-tracker`

[code]

[2022-01-28 16:11] peircej commented on #4544
That's great! Yes, I did a little work years ago to try and support the old package but I don't have an EGI system to test on so I was limited what I could do and haven't touched it recently

One thing that should be trivial is for me to add this to the Standalone distribution of PsychoPy so that your users can access it from their code easily.

Questions:
1. is this replacing fully the functional

[2022-01-28 16:49] jbteves commented on #4544
Awesome!
1. No, we don't implement the "simple" clock, though I believe that the current one just doesn't work as it's Python2.
2. No, not at this time, I'm more or less moving on to other projects but will revisit if there's demand down the line.

Thanks! Looking forward to seeing this make its way in.

[2022-01-28 16:50] jbteves commented on #4544
I should rephrase: we _do_ implement a simple clock, but since that's not our use case, we have not tested it as extensively as the NTP clock. If users are interested in testing for me, I'm happy to make changes.

[2022-01-28 17:24] #4549 closed, assigned to nobody

[2022-01-28 18:09] peircej commented on #4451
Well, that's weird! If you have a space in the name then it *should* be escaped with a `\` to run in the terminal and the code that added that backslash was added to solve this problem. I wonder why that stopped working! 🤔

[2022-01-28 23:29] kohlten opened #4552 "Issue with importConditions returning None values."
Hello!

I was recently trying to fix a bug in another project when I came across this. If you have an excel file with 3-4 rows, importConditions will return several None values after the parsed values. If you then import that into a task, you have about a 3/65 chance of getting one of the actual values. For example:

running data.importConditions('chooseRule.xlsx') returns:
[{'condition_file': 'sh

[2022-01-31 13:42] firejake308 commented on #4297
Ran into this same problem today. One possible problem is that my computer did not have Python before I installed PsychoPy from the installer, so I think that might be one of the preconditions to replicate this bug.

[2022-02-01 11:56] Remi-Gau opened #4561 "404 errors on some of the page in the HELP menus"
Version used
- psychopy: 2021.2.3

https://www.psychopy.org/builder/builder.html
https://www.psychopy.org/api/api.html

[2022-02-01 20:30] mdcutone commented on #4542
What version of PsychoPy are you using? Running your code and I cannot replicate the issue.

[2022-02-08 19:26] mmagnuski opened #4604 "Two small graphical glitches in the Builder"
I don't know if there is something that can be done about this at the PsychoPy end, but I've experienced this over and over on multiple computers (all Windows) and decided to report just in case. See the attached gif, it shows:
1. a misaligned horizontal line when trying to rescale the flow part of the Builder
2. the "Insert ..." buttons in the flow part partially disappearing when scrolling the f

[2022-02-09 16:20] #3201 closed

[2022-02-10 14:19] 4bgt commented on #4542
2021.2.3 using anaconda python 3.8.8

[2022-02-11 00:40] pavi1303 opened #4615 "Failed building wheel for pyWinhook"
I'm using the Pycharm IDE and the python version is 3.9.7 and I tried installing PsychoPy using pip. But when I do that, I get an error which says - Failed building wheel for pyWinhook and
swig.exe -python -o pyWinhook/cpyHook_wrap.c pyWinhook/cpyHook.i
      error: command 'swig.exe' failed: None
![image](https://user-images.githubusercontent.com/59095277/153520549-0362e5d2-7565-4e9a-8267-906e289

[2022-02-14 23:44] mdcutone commented on #4604
Thanks for pointing these out. First issue is likely a glitch in the GUI toolkit we're using. The second one is something we can fix.

[2022-02-15 14:17] peircej commented on #4615
pywinhook is a pain because it needs compiling but Christoph Gohlke has done a rather impressive job of packaging up wheels for a range of packages so you can probably fetch it from his set like this:

`pip install --extra-index-url https://www.lfd.uci.edu/~gohlke/pythonlibs pyWinhook`

[2022-02-15 17:32] #4561 closed, assigned to peircej

[2022-02-16 13:02] TEParsons commented on #4552
Could you attach the .xlsx file you're using, and let me know what version of PsychoPy this bug is in? I'd need to check whether this is PsychoPy adding blank rows when reading an Excel file or Excel adding blank rows when saving it. Either way, we should be able to filter this in `importConditions`, so even if it's a bug with Excel we can compensate for it.

[2022-02-16 13:04] #4233 closed, assigned to nobody

[2022-02-16 14:28] TEParsons commented on #4235
Moving this over to the PsychoJS repo as it concerns online studies specifically.

https://github.com/psychopy/psychojs/issues/480

[2022-02-16 14:28] #4235 closed, assigned to nobody

[2022-02-16 14:31] TEParsons commented on #4129
Works fine in 2022.1

[2022-02-16 14:31] #4129 closed, assigned to nobody

[2022-02-16 14:38] TEParsons commented on #4131
Implemented in 2022.1

[2022-02-16 14:38] #4131 closed, assigned to nobody

[2022-02-16 15:16] peircej commented on #4223
I agree with the notion that the psyexp should be saved before sync. I'm not sure about rendering the `last_run.py` as that feels more like something that should render just at run-time. Arguably we should even exclude it from the sync, as a compile object that should be redone locally. Or maybe we add that as a separate option. Either way, I think that one needs more discussion/thought

[2022-02-16 15:33] TEParsons opened #4631 "Form should have an easy way to set all answers to blank"
Would help with things like this:
https://discourse.psychopy.org/t/forms-and-loops-can-i-use-the-same-survey-at-multiple-times-with-a-loop/16147/18

Where the same form is in a loop, as we could just add "form.reset()" or something similar at the beginning of each trial

[2022-02-16 15:39] #4615 closed, assigned to nobody

[2022-02-16 15:54] #4223 closed, assigned to TEParsons

[2022-02-16 19:52] Jonas-N commented on #1532
Did you ever figure this out? I'm having the exact same issue.

[2022-02-17 10:48] awellis opened #4636 "Python error using v2022.1.0 on MacOS Monterey (Apple Silicon)"
Trying to run any builder project, Python quits unexpectedly (Experiment ended with exit code -4 [pid:4352] )

[code]

[2022-02-17 23:04] pavi1303 commented on #4615
I had a very simple workaround. So, I installed the standalone version of the PsychoPy software. When doing this, PsychoPy installs the python version that is compatible with it. So, when I create a new project within Pycharm all I had to do was to use the Python.exe available in the Psychopy installed folder to create a virtual environment. This automatically loaded all the packages including Psy

[2022-02-18 20:22] lulucasg commented on #1532
No :/ I ended up using the common ImageStim and cicled throw all the frames of the original movie. Not quite practical and also very poorly optimized for that. But that was my solution. Hope it helps

[2022-02-19 20:10] maxhoheiser opened #4644 "Release PsychoPy 2022.1.1 fails for pocketsphinx requirements"
Exits with following failure on ubuntu-latest, windows-latest and macos for  python3.8 and python3.9

is pocketspyhx needed for the release or just for the development version?

[code]

[2022-02-21 16:01] TEParsons opened #4647 "Textbox caret isn't flipped with text"

[2022-02-22 17:26] #4647 closed, assigned to TEParsons

[2022-02-23 14:38] jbteves commented on #4544
@peircej just wanted to follow up and see what I can do to help with this.

[2022-02-23 16:34] peircej commented on #4636
Hi there. I think this was a broken version of either wxPython or PyQT that got packaged into the release. Version 2022.1.1 have updated versions and appears to be working fine on my M1 mac.

Could you check that works for you too and close this issue if it's fixed? Thanks

[2022-02-23 16:34] peircej commented on #4636
https://github.com/psychopy/psychopy/releases

[2022-02-25 10:23] brump opened #4659 "MacOS: Errors with each Keyboard Backend in v2022.1.1"
With PsychoPy v2022.1.1, I can't even get a very simple dummy paradigm (with only a single text component and a single keyboard component) to run without error. The same dummy paradigm runs fine in PsychoPy v2021.2.3 (which I have temporarily restored from a Time Machine backup on the same machine).

The issue(s) seem to be related to the new "Input -> Keyboard Backend" setting in v2022.1.1:

With

[2022-02-25 10:54] farialaris commented on #653
I change the clock.getTime for core.getTime, and the numbers got better. However, excel still showed some numbers like 1.635.545.800.003.450

[2022-02-25 10:54] farialaris commented on #653
I am having the same problem. So, what did you do to fix it?

I changed the clock.getTime for core.getTime, and the numbers got better. However, excel still showed some numbers like 1.635.545.800.003.450

[2022-02-28 09:03] awellis commented on #4636
Hi,
I've tried, and the issue is not fixed. I think this might be related to #4659

[2022-02-28 09:29] #3734 closed, assigned to TEParsons

[2022-02-28 09:53] TEParsons commented on #3476
#4229 didn't fix this as the problem is in the `experssion2js` function - it's given:
`f"I would like a \n line break here"`
after parsing the dollar syntax (which is why the Python value is correct) but returns:
[code]

I can see what it's going for - using a docstring allows new lines - but it doesn't work with how scripts are written because docstrings treat indentation as literal... Will try t

[2022-03-03 19:05] mscheltienne commented on #4644
I had the same issue on several computers. For now, I am fixing the req to the previous 2021.2.3 version.

[2022-03-03 19:08] mscheltienne opened #4667 "ParallelPort doesn't work because of underlying pyparallel failure"
Hello, to raise awareness on this, we experienced a failure when using `psychopy.parallel` on our Linux computers with an LPT port on a PCIe extension slot. The failure is described here: https://github.com/pyserial/pyparallel/issues/15

As I don't feel pyparallel is maintained, maybe you could consider moving the relevant code to psychopy directly.

[2022-03-04 08:57] RyanY11 opened #4668 "Error when installing version 2022.2.1 -- about tobii resrearch"
Hi, just got an error said:

ERROR: Could not find a version that satisfies the requirement tobii-research (from psychopy) (from versions: none)
ERROR: No matching distribution found for tobii-research (from psychopy)

I use pip to upgrade from 2021.1.4, but the same error occured when I tried it from 2021.2.3

[2022-03-04 14:30] #4631 closed, assigned to nobody

[2022-03-04 15:26] #4259 closed, assigned to TEParsons

[2022-03-07 14:37] mscheltienne opened #4673 "PTB audio timings are not correct"
Hello, this post is either about a bug in PsychoPy, or a mistake in my code. I've been trying to get my timings correctly for days now.. and yet nothing seems to work. Maybe you'll spot something I overlooked, or maybe you can propose to me debugging steps I haven't thought off.

I have 2 audio tasks: isochronous and synchronous. In the isochronous task, the sound is delivered at a fix interval. I

[2022-03-07 14:40] TEParsons commented on #3425
Fixed in 2022.2.x, as Textbox2 can now have `norm` units and can set its anchor and alignment. Only thing to keep in mind is that the textbox should be anchored and aligned to the centre when doing this!

[2022-03-07 14:40] #3425 closed

[2022-03-07 15:53] TEParsons commented on #3775
Fixed in 2022.1.0, and tested in [test_horiz](https://github.com/psychopy/psychopy/blob/8a4eb272cd809851000617d08c987240fb3a5825/psychopy/tests/test_visual/test_slider.py#L37)

[2022-03-07 15:53] #3775 closed, assigned to nobody

[2022-03-08 11:07] YuanboBQ commented on #4636
Hi, I also have the same problem. Is there any setting to solve this problem?

[2022-03-08 14:14] dekuenstle opened #4678 "Additional photometer (Gamma Scientific S470)"
Hi, we have a working photometer class implementation for the gamma scientific S470 .
Is there interest in supporting additional light measurement devices in psychopy, i.e. would you appreciate a pull request?

Cheers
David

[2022-03-08 18:36] mdcutone commented on #4678
Yes, you may submit PRs to expand hardware support.

[2022-03-09 10:46] TEParsons commented on #4325
If GitLab is involved I'm guessing this was encountered by the participants when running online via Pavlovia, if so then this issue more appropriate for the [psychojs](https://github.com/psychopy/psychojs) repo. I'd be happy to copy it across but it might be better if you do it as it means you'll get notifications of status changes!

[2022-03-09 10:46] #4325 closed, assigned to nobody

[2022-03-09 10:50] TEParsons commented on #4313
This no longer happens in 2022.1.1, so I'll close this issue but please do test this out on your own machine and reopen if this is specific to my setup

[2022-03-09 10:50] #4313 closed, assigned to TEParsons

[2022-03-09 10:57] TEParsons commented on #3980
I'd forgotten about this issue, but I have added some more tests for the transpiler! Check out `test_params.py`, the method `test_param_str` tests a bunch of parameter values are compiled to JS as expected

[2022-03-09 10:57] #3980 closed, assigned to nobody

[2022-03-09 11:01] TEParsons commented on #3648
Is now implemented (see `languageStyle` property/setter pair in TextBox2)

[2022-03-09 11:01] #3648 closed, assigned to TEParsons

[2022-03-09 21:01] waltervanheuven commented on #2250
I'm unable to get correct frame rate detection with high refresh monitors on PC (main screen) and Mac (using external monitor) with the latest versions of PsychoPy. I'm using frame-based timings in the Builder and I can only get accurate timing when setting monitors to 60Hz!

Results below when running the script that was posted above (adapted to test also external screen).

Setup

- M1 MacBook Pr

[2022-03-10 16:35] TEParsons commented on #4659
Do you have any eyetracking components in your experiment? ioHub handles both keyboard/mouse input and eyetracker input, so the code for setting up ioHub (which also creates the variable `eyetracker`) is written only if you're using the ioHub backend for keyboard/mouse OR there are parameters changed in the Eyetracking tab in Experiment Settings.

[2022-03-10 16:49] TEParsons commented on #3313
I remember this bug when we were in the run up to 2022.1.0, it's (so far as I can tell) fixed now - essentially the transpiler was assuming any expression without a left-hand target was a comment

[2022-03-10 16:49] #3313 closed

[2022-03-10 16:53] TEParsons commented on #3203
So far as I can tell, this is now working - please do reopen the issue if you can recreate the error in 2022.1 still!

[2022-03-10 16:53] #3203 closed

[2022-03-10 16:54] #3034 closed

[2022-03-10 16:56] TEParsons commented on #2886
@mdcutone does still this happen with the FFMPEG video class?

[2022-03-10 17:00] mdcutone commented on #2886
No, the new FFMPEG class uses SDL2 for audio output and wont have these issues. Might not actually fix the problem for people needing audio to play through interfaces accessed through `Sound`.

[2022-03-10 17:25] brump commented on #4659
No, there was no eyetracking component in that dummy paradigm and "Experiment Settings -> Eyetracking -> Eyetracker Device" was set to "None".

Here are the minimal steps that allow me to reproduce the issue with "PsychToolbox" as the keyboard backend:
1. "View -> Open Builder View" (to create a new untitled.psyexp)
2. Change "Input -> Keyboard Backend" to "PsychToolbox" in Experiment Settings
3.

[2022-03-10 17:32] tpronk opened #4683 "AttributeError when creating new Pavlovia project from Builder"
Hi!

I get an AttributeError when I do the following:
* Running Windows 10, 64 bit, PsychoPy v2022.1.1.
* Got the Builder open, being logged in on Pavlovia as tpronk.
* Click Pavlovia.org -> New

This is the full error message:
[code]

Best, Thomas

[2022-03-10 22:13] oliver-xie opened #4684 "Wrong mouse location returned by myMouse.getPos()"
Version: Psychopy v2022.1
MacOS Retina screen
The mouse location returned by myMouse.getPos() is off by half of the screen size in the mouse.py demo.

[2022-03-11 10:56] TEParsons commented on #4659
Ah, I see the problem - the code to end the experiment assumes the existance of `eyetracker` even if the backend isn't `ioHub` and there's no eyetracking used. Should be fixable, will get a fix in for the next bug fix release (2022.1.2)

[2022-03-11 11:18] TEParsons commented on #1335
String params are handled by the `Param.__str__` method which always compiles them as a regular string with no prefix, so default unicode. The only case where it's not is if the value of the param is `$u'whatever'`, in which case it probably should be prefixed as the user has deliberately specified for it to be. So I think it's safe to close this? Please do reopen if not

[2022-03-11 11:18] #1335 closed

[2022-03-11 11:22] brump commented on #4659
Sounds great, @TEParsons. Do you have an idea how we can narrow down the cause of the other two errors (especially the one for "Keyboard Backend" = "ioHub")?

[2022-03-11 12:34] TEParsons commented on #4659
That one's trickier as it looks like a problem with ioHub internally - an ioHub server should be launched when the keyboard backend is `ioHub` so the Python code being written is correct, it's just that when that line is executed something goes wrong in ioHub. @isolver or @mdcutone will be able to help more as they know more about the internal workings of the ioHub module

[2022-03-11 12:37] TEParsons commented on #4684
We're working on this bug and should have a fix in by 2022.1.2, it's to do with how retina displays represent pixels. The bug is specific to the `glfw` window backend so if you change "Window Type" in Preferences to be either `Pyglet` or `PyGame` it gets around the problem until we have a more permanent solution

[2022-03-11 12:59] mscheltienne commented on #4667
I did find a cleaner solution, as explained in https://github.com/pyserial/pyparallel/issues/15 but it is IMO a problem that the parallel class does not work by default on Linux Ubuntu 20.04.

[2022-03-11 13:34] isolver commented on #4668
The pip error suggests that tobii-research does not support the version of Python being used. What version are you using? I think tobii-research currently supports Python <= 3.8

[2022-03-11 15:54] brump commented on #4659
@peircej, as far as I can tell [#4685](https://github.com/psychopy/psychopy/pull/4685) only fixes the third of the three issues discussed in this thread. Did you miss the other two or would you like me to create two separate new issues for them?

(I was initially debating whether to create three separate issues or not but then decided against it, because they are all related to the keyboard backen

[2022-03-11 19:45] bastosfh commented on #4683
Hi @tpronk!

I'm having the exact same issue on Ubuntu 21.10 and PsychoPy v2022.1.1.

I'm available to run some tests :)

Best,
Flavio

[2022-03-11 20:24] grahamfindlay opened #4690 "Instantiating MoveStim3 object before SoundPyo object causes SoundPyo sampleRate argument to be silently ignored."
I am using an [external USB audio interface](https://focusrite.com/en/usb-audio-interface/scarlett/scarlett-2i2)  to deliver ultrasonic vocalizations at 192kHz to mice, while also playing them silent natural-scene movies. I have discovered that unless the `noAudio` option is set to True when creatuing a `MovieStim3`  object, even if the video file has no audio track, the `sampleRate` argument to s

[2022-03-12 10:02] m-macaskill opened #4691 "DotStim no longer animates dynamically"
The DotStim last worked in version 2021.1.4. Since then, the initial frame of the stimulus will display but the dots are static and do not update dynamically.

Steps to reproduce: run the `dots.py` demo from within Coder. The dots do not animate.

A work-around for the issue is placing this at the top of the script:

    import psychopy
    psychopy.useVersion('2021.1.4')

[2022-03-12 15:46] peircej commented on #4659
@TEParsons was handling this, but yes, it sounds like it still needs further fixes

[2022-03-12 15:48] peircej commented on #4659
FYI, it was closed automatically because the commit says it fixes the issue

[2022-03-14 12:14] TEParsons commented on #853
Appears to be working in 2022.1.1!

[2022-03-14 12:14] #853 closed

[2022-03-14 12:16] TEParsons commented on #871
ISI now works in JS as of 2022.1.0

[2022-03-14 12:16] #871 closed

[2022-03-14 14:06] #4691 closed, assigned to mdcutone, TEParsons

[2022-03-14 14:40] TEParsons commented on #971
Running the upper code snippet in 2022.2.1 on Windows 10 seems to work, so looks like this has been fixed

[2022-03-14 14:40] #971 closed

[2022-03-14 14:54] TEParsons commented on #1318
This seems to be fixed now - I think because default size is handled by `layout` so it's able to return a default value without being manually set. Running the first code snippet in 2022.1.1 in Windows 10 gives the correct image.

[2022-03-14 14:54] #1318 closed

[2022-03-15 09:29] emilskog opened #4696 "Setting random seed fails to produce fixed sequence for NoiseStim()"
Hi,

I have noticed that setting the random seed fails to produce a fixed sequence of noise images for NoiseStim().
I noticed this while attempting to recreate my experiment that relies on saving noise textures.
I have tested on 2 machines, running V2021.2.3 and V2021.2.0.

Recreate by making a sequence/loop of NoiseStim() in Builder and setting the random seed. The noise textures will not have a

[2022-03-16 09:40] karamellibisey opened #4699 "PsychoPy 2022.1.1 crashes starting the experiment Mac Monterey"
Hello,

I've seen issues like this one being addressed before but sadly I couldn't find any solutions for it.

Whenever I try to run an experiment, even with something as simple as a text component, I get the gray screen and then it crashes.

After the crash, I get the following:
<img width="604" alt="Screen Shot 2022-03-16 at 12 34 37" src="https://user-images.githubusercontent.com/101705600/1585

[2022-03-16 15:36] mdcutone commented on #3038
Closing, this relates to the old plugin system.

[2022-03-16 15:36] #3038 closed

[2022-03-16 22:49] eawhit opened #4702 "Unexpected Token Error when on Pavlovia"
Hello,

I have a PsychoPy program that works on my laptop, but when it's uploaded to Pavlovia it gets stuck on the 'Initialising experiment' phase. Below is the error I receive.

Alert 4210:JavaScript Syntax Error in 'Begin JS Experiment' tab. See 'Line 1: Unexpected token' in the 'Begin JS Experiment' tab.
	For further info see https://psychopy.org/alerts/4210.html

In my python code, I use the '

[2022-03-17 08:12] NoaNoelle opened #4703 "Semi-automatic gamma calibration fails to open window to enter luminance values on Mac OS"
I am running PsychoPy v2021.2.3 on and iMac (Monterey version 12.2.1) and the program crashes when going through the semi-automatic gamma calibration. After the window with the coloured patches of different luminance has been shown, instead of opening a window where I can enter the luminance values manually, I get the following error message:

[code]

I tried running it on a MacBook Pro as well (M

[2022-03-17 16:08] peircej commented on #4644
I think you need to do:
[code]
to get pulseaudio installed first

[2022-03-17 16:09] peircej commented on #4644
Also though, pocketsphinx is only needed for mic transcription. If you don't use the mic then you can probably just remove this from the requirements

[2022-03-17 16:09] #4644 closed, assigned to nobody

[2022-03-17 16:13] mscheltienne commented on #4644
I'm not sure anymore, but I think the same error is raised also on macOS and on Windows at install. So this is no a Linux-only issue.

[2022-03-17 16:17] peircej commented on #4696
Setting the random seed for the Trial Handler should only alter the random pattern for the ordering of trials, not for all possible uses of random. It's important that the two things are kept separate (for example, if we used a single global seed, and then you added an extra random() call somewhere in your code it would cause the sequence to change).

We haven't yet provided an option to set the s

[2022-03-17 16:18] peircej commented on #4696
I'm closing this for now because I believe the current behaviour is the desired one

[2022-03-17 16:18] #4696 closed, assigned to nobody

[2022-03-17 16:18] #4683 closed, assigned to TEParsons

[2022-03-18 08:58] KTZ228 commented on #4544
Dear developers,
I recently had contact with the developers from the egi_pynetstation plugin since I was having issues getting it to run in PsychoPy. The current workaround involves "For reference the egi-pynetstation folder should exist in the python folder of psychopy. On my computer it's: /Applications/PsychoPy.app/Contents/Resources/lib/python3.6/egi-pynetstation. So you would add ntplib to th

[2022-03-19 04:10] kerenemily commented on #4699
Also having this issue, program crashes with something as simple as a text object and no fixes I've seen before (i.e such as changing the project settings from the ioHub to another one, seem to help)...any help appreciated

[2022-03-23 13:39] andreifoldes commented on #4297
I'm having the same issue and tried installing Psychopy through Anaconda creating a new environment, but it's still giving me the same error.

What fixed it for me was
`pip install --upgrade --force-reinstall PyQt5
`

[2022-03-24 06:14] gcyoung1 opened #4716 "visual.ShapeStim ctypes.ArgumentError"
I got this error when I set the autoDraw to True for a visual.shapeStim stimulus:

File "C:\Computer Science\Educ 464\Experiments\hollow_dots\hollow_dots_lastrun.py", line 446, in <module>
    win.flip()
  File "C:\Program Files\PsychoPy\lib\site-packages\psychopy\visual\window.py", line 1082, in flip
    thisStim.draw()
  File "C:\Program Files\PsychoPy\lib\site-packages\psychopy\visual\shape.py"

[2022-03-24 14:33] waltervanheuven commented on #4699
Same issue here on an M1 MacBook Pro running Monterey 12.3. PsychoPy 2022.1.1 crashes with exit code -4.  I removed the `~/.psychopy3` folder and reinstalled PsychoPy 2021.2.3 and that works.

[2022-03-24 15:42] peircej commented on #4673
Most important question is... what PTB latency mode are you using?
  https://psychopy.org/api/sound/playback.html#ptb-audio-latency-modes
Could you retry your tests with each of the values from 0 to 4?

[2022-03-24 15:46] TEParsons commented on #4716
The problem is that you've supplied `"5"` as the lineWidth rather than `5`; this is something the class could handle so I'll add in a quick conversion so in future it knows that `"5"` just means 5, but in the meantime removing the quotes should fix your code :)

[2022-03-24 15:58] mscheltienne commented on #4673
I used the default 3. I will try, but I don't expect this to be the cause.
I ran both conditions isochronous/synchronous one after the other, many many times.. and 100% of iso are on point, 0% of sync are on point. It's not a problem of 'sometimes' the timings is not precise.
and there is nothing else installed on this minimal install of linux.

The latest versions of the 2 tasks can be found here

[2022-03-24 16:39] RebeccaHirst commented on #4544
Hi there,

We've been working with PsychoPy and egi netstation and the issue our end appears (I think) to be coming from the NetStation module of egi_pynetstation, rather than the PsychoPy code. When we install ntplib independantly we get this error:

0.7667     WARNING     Monitor specification not found. Creating a temporary one...
  File "C:\Users\work\Desktop\Drones\Drones_EEG_White_Mar23_with

[2022-03-24 16:43] jbteves commented on #4544
Hi Rebecca, this means that for some reason NetStation is forcibly closing a connection _after_ it's been initiated. I am not sure why this would be the case... Any ideas @pmolfese ?

[2022-03-24 16:57] pmolfese commented on #4544
Hi @RebeccaHirst - happy to take a look at it. But I'll need a copy of your experiment and some other info:
1) What version of Net Station are you running?
2) Which amplifier are you using? 300 or 400 series?
3) Are you using the most recent version of PsychoPy

This plus a copy of your experiment (feel free to pull out stimuli or swap in dummy images/sounds) should help me identify the issue. I h

[2022-03-24 16:58] pmolfese commented on #4544
@RebeccaHirst - also can you get the Amplifier to play nicely with the example.py distributed with the package?

[2022-03-24 17:17] peircej commented on #4702
I don't think this is a bug as such. You shouldn't need to do `import random` and the auto-translator doesn't know how to handle that. There are quite a number of discussions on the forum about how to randomise/shuffle items and I think this is better handled there

[2022-03-24 17:17] #4702 closed, assigned to nobody

[2022-03-24 17:17] RebeccaHirst commented on #4544
Hi @pmolfese and @jbteves thanks so much for responding so quickly ! I'll get the info on the Amplifier asap, for the other questions:

1. _What version of NetStaton are you using?_: We downloaded [this repository ](https://github.com/nimh-sfim/egi-pynetstation/blob/main/docs/index.rst) (last week so most recent version I think) and imported this directly into our experiment. We also initially got

[2022-03-24 17:18] #4716 closed, assigned to TEParsons

[2022-03-24 17:21] peircej commented on #4699
I think I've tracked down an issue on 2022.1.1 with the library gevent, which iohub relies on, and that certainly gives this symptom. I'm working on a fix (basically, hoping that updating the gevent lib is enough to fix it!)

[2022-03-24 17:32] pmolfese commented on #4544
In addition to the amplifier series, we'll need the version of Net Station running on their data acquisition computer (separate from our python module that has the name embedded). It's likely a 5.0 or higher. Just helps us debug on our side.

[2022-03-24 17:50] jbteves commented on #4544
@RebeccaHirst I noticed that you linked the index page; you can see a more nicely formatted version of our documentation [here](https://egi-pynetstation.readthedocs.io/en/latest/). Perhaps we should package the example as a python function @pmolfese, that way we could have people just use their pip-installed package...

[2022-03-24 22:21] waltervanheuven opened #4721 "win.getActualFrameRate reports incorrect frameRate on external monitor"
I have an external monitor (2560x1440, max 144Hz) connected to my M1 MacBook Pro (Monterey 12.3) and set it to the main screen. I noticed that `win.getActualFrameRate()` always returns ~60Hz even though the monitor refresh rate is set to 120Hz or 144Hz.

[code]

Furthermore, running the script with `screen=1` results in a black screen on the MacBook retina screen (notting is shown on the screen an

[2022-03-25 06:50] dcnieho opened #4722 "2022.1.1: graphical issues"
I have just installed v2022.1.1 standalone on several machines (both a Windows 10 and a Windows server machine), and for i observe the following:
- dots demo: the dots don't move but are static. no error messages
- benchmark: random dots don't move at any of the dot numbers

I have some more complicated code with shapestims to run that suddenly doesn't work well, but haven't isolated that to a min

[2022-03-25 11:27] miguelfradinho opened #4723 "2022.1.1: Unable to find projects under groups using the Psychopy Pavlovia Interface"
In release 2022.1.1, the interface to create and sync the projects on Pavlovia was overhauled.
However, on the previous release it was possible to also find projects that were under gitlab groups.
In this release, if I try to search for a project that clearly exists on gitlab under the `test_pavlovia_groups`
![imagem](https://user-images.githubusercontent.com/24386108/160112112-fecb79fc-7793-4cff-

[2022-03-25 14:12] RebeccaHirst commented on #4544
OK I have updates:

Can confirm its a 300 amp system and the version of the netstation software is Net Station Acquisition 5.4.2 (r29917).

Thanks @jbteves for the link to additional docs, do let me know if there is anything else I can do our side to help.

Appreciate your help with debugging!

Becca

[2022-03-25 17:07] pmolfese commented on #4544
Hi @RebeccaHirst - thanks for the update! That explains some of the quirks I saw in the PsychoPy experiment. Just to verify, can you find out the version of MacOS that the acquisition computer is using? The reason is that the NTP server for 300 series amps is the Mac! And to make it even more nuanced, the Mac has to be version 10.12 or older.  See this correspondence with EGI:

[code]

Thanks for

[2022-03-25 17:14] jbteves commented on #4544
To clarify: a connection reset typically occurs when a server receives packets it can't process. What may be happening is that you send packets so quickly that when the next one arrives, it hasn't finished with the previous one, can't process the packets, and responds with a reset.

[2022-03-25 21:48] dcnieho commented on #4722
I see I'm not the only one that found this: https://discourse.psychopy.org/t/bug-with-random-dot-stimulus/27913
@marcus-nystrom as its relevant to him

[2022-03-27 03:33] gitouni commented on #2089
I met this problem when use open3d in remote ssh mode
`from open3d.web_visualizer import draw`
comment this line will tackle this problem.

[2022-03-27 04:09] shun2wang opened #4726 "Psychopy Updates dialog elements are not fully displayed"
- OS:windows 10 21H2
- Screen Resolution: 3000*2000
- Version:2022.1.2

Due to the unreasonable layout, the input box of "Browse file" is not fully displayed. As shown below:
![Snipaste_2022-03-27_10-55-49](https://user-images.githubusercontent.com/10348402/160266181-f372b6d3-44ce-4d8d-a895-414698f001fd.png)

May be related to this border parameter:https://github.com/psychopy/psychopy/blob/a779a71

[2022-03-27 04:47] m-macaskill commented on #4722
This has been reported previously: https://github.com/psychopy/psychopy/issues/4691
Fixed by: https://github.com/psychopy/psychopy/pull/4694

i.e. You should see this resolved in the bug fix release 2022.1.2, available now.

If the ShapeStim error is unrelated and continues to happen in 2021.1.2, you should raise an issue specifically for that.

[2022-03-27 04:47] #4722 closed, assigned to nobody

[2022-03-27 08:16] dcnieho commented on #4722
Thanks! Should i file a separate bug for the other two issues (non-working
demos)?

On Sun, Mar 27, 2022, 06:47 Michael MacAskill ***@***.***>
wrote:

[2022-03-27 19:40] m-macaskill commented on #4722
Yes please - it is difficult to tease out and deal with separate problems reported within a single issue - e.g. I hadn't actually noted that there were three problems here until you pointed it out.

PS please say hello to Marcus for us.

@TEParsons  The `shapes.py` issue reported above still occurs in release 2022.1.2 -  is this due to similar reasons as the DotStim bug - i.e. something to do with

[2022-03-27 19:58] dcnieho opened #4728 "shapes.py and stim3d.py demos crash in 2022.1.2"
As per #4722, (at least) two demos don't work in 2022.1.2:

[code]
and
[code]

[2022-03-28 12:47] TEParsons commented on #4728
The error in `shapes.py` is essentially the new `psychopy.layout.Vertices` class being over-zealous with validating values - it didn't occur to me when writing it that vertices with a hole in would be a 3d array. That one is fairly easy to fix so I'll have a PR in for it ASAP.

The error in `stim3d` is harder to fix - it looks like `psychopy.colors.Color` objects aren't accepted by 3d objects at a

[2022-03-28 12:56] TEParsons commented on #4723
I think this is most likely that the Pavlovia API (which PsychoPy uses to search projects) doesn't consider your current login to be a valid level of authentication to show that project, for whatever reason. It may be that you aren't logged in, or you are logged in but the authentication token of a user in a group which has access isn't accepted by the API as sufficient.

[2022-03-28 15:45] Wonbok83 commented on #4699
I download v2022.1.2 and Monterey 12.2.1, but I still have same problems ApplePersistentIgnoeState and couldn't connect to psychopy.org.
<img width="625" alt="Screen Shot 2022-03-28 at 11 45 05" src="https://user-images.githubusercontent.com/35937992/160436409-f50d0c9f-e286-4ed4-8f65-cc6eac39effe.png">

[2022-03-28 17:43] dedp88 opened #4731 "Mouse click inaccurate position"
I'm new to PsychoPy. I'm using the 2022.1.2 version on a Mac with Retina Display - Monterey.

I'm testing the simplest experiment - a mouse click over an image should play audio and then clicking another image should terminate the trial. The first image is at the (0,0) and i'm using a star from the polygon options, and the second one is at (-0.4, 0). The position of both images is correct when dis

[2022-03-29 00:29] miguelfradinho commented on #4723
Is the Pavlovia API the same API [pavlovia](https://pavlovia.org/) uses under the hood?
If so, then I don't think that seems to be the case, as I'm able to see and interact with them (e.g change to pilot) through the dashboard, e.g.
![imagem](https://user-images.githubusercontent.com/24386108/160508965-c90bb815-3890-4ac6-a97f-48b16b425c00.png)
(I'll also edit the original post to include this imag

[2022-03-29 06:06] tomomano commented on #3481
Hello, I am using `PsychoPy 2022.1.2` standalone Windows app, and I think I face the same issue.
The circle do not appear on the screen.
Here is my code.

[code]

If I use older version of psychopy (the one I tested was `2020.2.5`), the code works OK and the circle gets drawn on the screen.
Has anyone encountered this issue?

[2022-03-29 23:21] m-macaskill commented on #3481
Confirmed this code no longer works.

A potential work-around for @tomomano is that the `visual.Pie` stimulus does still work - if you set it to start=0, end=360, it will display as full circle.
https://www.psychopy.org/api/visual/pie.html

[2022-03-30 01:07] tomomano commented on #3481
@m-macaskill
Thank you for confirming the bug and also sueggesting the workaround!
I hope it gets fixed in the next release.

[2022-03-31 07:00] dcnieho opened #4739 "cannot animate width/height of visual.Rect in v2022.1.2"
Tagging @marcus-nystrom.

The below code worked in v2021.2.3 (I see a fixation cross that changes in size) but not in v2022.1.2 (size does not change). Is this a bug or should i animate a rect differently?

[code]

[2022-03-31 09:39] TEParsons commented on #4739
We changed how objects lay themselves out in 2022.1, but this change is purely on the back end so behaviour should stay the same - so yes this is a bug :) I'll look into why it's no longer working

[2022-03-31 14:03] TEParsons commented on #4723
The Pavlovia API is for interacting with Pavlovia from outside - so I think it's a different system than the internal search function uses. And yep, exactly right - between 2021 and 2022 we moved from using the gitlab API to the pavlovia API, which is why it's different.

Another possibility is that PsychoPy is using a different authentication token to send requests to the API than the website doe

[2022-03-31 14:28] #4269 closed, assigned to mdcutone

[2022-03-31 14:31] #4726 closed, assigned to shun2wang, TEParsons

[2022-03-31 15:47] mdcutone commented on #4731
Please post a minimal working example to help us determine the cause of the issue.

[2022-03-31 16:04] mdcutone commented on #4728
Lots of recent changes might have broken things a bit, but we need to think through how to handle 2D and 3D going forward.

Material colors for 3D objects have to be handled differently than colors in other stimuli.

Also 3D objects don't and shouldn't use `layout` stuff, but rather `RigidBodyPose` for positioning to be consistent with PsychXR and 3D engines in general (units like `cm`, `deg`, etc

[2022-04-01 16:10] colormotor commented on #4161
Any news on this? Confirm the same bug, I would say this is completely broken (at least on Windows) because it is impossible to call loadMovie on a MovieStim3 instance without psychopy hanging due to the infinite loop.

[2022-04-01 18:18] miguelfradinho commented on #4723
Ah, that explains it

Should this probably be reclassified as feature request or does it still technically fall under a bug because of change in behaviour across versions?

[2022-04-04 04:04] nicoa47 opened #4748 "VSCode debugging very slow when importing psychopy.visual"
On several machines, we noted that debugging the following is very slow:

[code]

(note that I have a very low-end machine right now. normally it is about a minute - but still, very long!)

compared to:

[code]

[environment.txt](https://github.com/psychopy/psychopy/files/8406609/environment.txt)

Attached is the environment file we use, in case it is due to any certain package interaction. This f

[2022-04-04 16:26] KWik commented on #4699
Since I happen to have both M1 and Intel Mac and Windows I checked and found this problem only occurs on my M1 MacBook Pro 14" and not on my MacBookPro13,2 (2016). Fresh install of Monterey 12.3.1 and PsychoPy 2022.1.2. On the old MacBook I get the old ioHub startup failed, but exit code 1, so everything is "fine". On windows 10 the single trial "Hello World" text runs as expected.

Then I did som

[2022-04-04 19:26] derekwacks opened #4751 "Slider and button not picking up software-triggered mouse click event"
Hello,

We are using pynput (also tried with pyautogui) to input mouse clicks and keyboard presses (instead of physical mouse clicks and keyboard presses). The psychopy experiment responds to the software-triggered keyboard presses, however it does not respond to the software-triggered mouse input. The experiment is responsive to physical keyboard/mouse-triggered events, and the software-triggered

[2022-04-04 20:52] KWik commented on #4699
I was able to get this working by making a virtual environment for Python 3.8.10 and installing a fresh copy of gevent with pip install gevent==20.9.0 and replacing the one in the PsychoPy install with this. That only opens up a second error though, that one in

/Applications/PsychoPy.app/Contents/Resources/lib/python3.8/psychopy/iohub/client/keyboard.py

This can be fixed by adding a try on line

[2022-04-05 15:17] thoklei commented on #4684
Hi, are there any news on this? I'm on 2022.1, on macOS. Running the mouse.py demo also does not work properly for me, same problem as @oliver-xie. But I also have this issue in an actual application, where the offset mouse position makes it impossible to use a slider (because the location of the mouseclick does not match the position at which the slider is rendered). Changing the winType-argument

[2022-04-05 15:52] jacob-lee opened #4754 "Unable to set alpha with parameter extracted using data.importConditions"
Running standalone v2022.1.2 for MacOS 11.6.5, I was trying to run an experiment built with ExperimentBuilder version 3.2.3. The experiment fails with the following error:

    TypeError: Could not set alpha as value `0` of type `int64`

Tracing this back through the code, it appears that the alpha value is being set from a CSV file imported using `data.importConditions`. v2022.1.2's colors.py alp

[2022-04-05 19:14] mdcutone commented on #4684
Hello @thoklei, I'm working through this issue this week. The issue is around inconsistent scaling of window coordinates on retina displays.

[2022-04-05 20:00] mdcutone commented on #4751
Created a PR patch that should fix this issue.

[2022-04-06 10:03] frdarya commented on #4699
Same issue also on Big Sur (M1 Mac mini), downgrading to 2021.2.3 works

[2022-04-06 13:23] AyanSinhaMahapatra opened #4756 "pyglet error in showing bengali text"
**This is a bug tracker**
If you have a question, such has "how do you do X with Python/PostgreSQL/psycopg2" please [write to the mailing list](https://lists.postgresql.org/manage/) or [open a question](https://github.com/psycopg/psycopg2/discussions) instead.

**Please complete the following information:**
- OS: Windows 10
- Psycopg version:
- Python version: 3.8
- PostgreSQL version:
- pip versi

[2022-04-06 13:30] oricon opened #4757 "images stuck loading"
I reported this issue on the [forum last week](https://discourse.psychopy.org/t/load-only-the-current-image-on-each-trial/28342?u=joseph_orr), but after additional testing it seems likely to be a bug. I built an experiment in 2022.1.2 that I am trying to run online. It works fine through psychopy, but when I run it online it is stuck continuously loading images. I wanted to take advantage of the n

[2022-04-06 15:09] tomoffrede opened #4758 "Error in default microphone component code (with mic.stop())"
When converting a simple experiment from the Builder into the Coder (containing one microphone component) and running it from there, I get this error:

`Traceback (most recent call last):
  File "D:\Dati Utente\ESPVicon\Desktop\Tom\checknewmics.py", line 218, in <module>
    mic.stop()
  File "C:\Program Files\PsychoPy\lib\site-packages\psychopy\sound\microphone.py", line 802, in stop
    raise Au

[2022-04-06 21:04] mdcutone commented on #4748
The `visual` package has a lot of dependencies but components in are mostly lazy loaded so this is a bit surprising. I'll try running your examples locally and see if the timings are comparable.

[2022-04-07 14:55] #4731 closed, assigned to nobody

[2022-04-07 14:55] #4751 closed, assigned to nobody

[2022-04-07 15:09] #4678 closed, assigned to nobody

[2022-04-07 15:56] TEParsons commented on #4756
Are you running online as well as in Python? If not, you could try doing the same thing but with TextBox - which uses our own glyph rendering rather than relying on Pyglet

[2022-04-08 11:03] TEParsons commented on #4684
Fixed in #4755

[2022-04-08 11:03] #4684 closed, assigned to mdcutone, TEParsons

[2022-04-08 14:05] #4754 closed, assigned to nobody

[2022-04-08 15:28] RebeccaHirst commented on #4544
Hi @pmolfese and @jbteves - sorry for our delay - we (me and @kimDundas) needed to wait for our collaborator to get back in the lab and try the `example.py` script. Updates below:

1. " I think the issue is that you have the ns.send_event code set to "each frame" when it should be "begin routine" (trial level)." - yes of course - I see I may have made an error on those codes, but I am not sure tha

[2022-04-08 15:46] jbteves commented on #4544
Hi @RebeccaHirst, you should run the example script like this:
[code]
if you have the amp connected. The IP addresses look correct.

[2022-04-08 15:48] pmolfese commented on #4544
@RebeccaHirst, just to add on - since you have a 300 series amplifier: the IP for the amplifier should match the IP for Net Station. That's because in newer (400-series), the amplifier serves as a NTP server. Whereas with the 300-series, the computer serves as the NTP server.

[2022-04-12 13:51] kcm1231 commented on #4699
Hi there, any resolution on this issue? I'm having the same problem with PsychoPy v2022.1.2 and Mac Monterey (12.2). I tried to run the stroop demo and a few other simple experiments. The dialog box for participant and session number pops up, but as soon as I click 'ok' it crashes. The only error I'm getting is:

2022-04-12 09:39:27.747 python[45095:2359064] Warning: Expected min height of view: (

[2022-04-12 14:30] yupence commented on #4644
I download [pocketsphinx.whl](https://www.lfd.uci.edu/~gohlke/pythonlibs/#pocketsphinx) and use`pip install F:\chromedownload\pocketsphinx-0.1.15-cp38-cp38-win_amd64.whl` to solve this problem, hope this can help you.

[2022-04-14 04:04] m-macaskill commented on #4659
The issue is still live in 2022.1.2 - although experiments with `pyglet` or `PsychToolbox` keyboard backends do now work, the `ioHub` setting still leads to a crash.

An interim fix would be to simply change the default backend to `PsychToolbox`. The current default of `ioHub` means that every Mac standalone user will be experiencing an inscrutable crash unless they know to change this setting for

[2022-04-14 07:54] dcnieho commented on #4739
@TEParsons: I see you pushed a commit that hopefully fixes this. Would you be able to make a new bugfix release soon? This bug breaks our Titta eye tracker interface, and we can't use the latest Tobii SDK with anything older than 2022.1 because it requires Python 3.8, so we're in a catch 22.
(Note by the way that the button on the psychopy website still says python 3.6: "Standalone PsychoPy® 2022.

[2022-04-14 07:57] TEParsons commented on #4739
That pull request may not make it into the upcoming bug fix release, but as this bug is specific to the `width` and `height` setters you can get around it by instead specifying the rect's size as `size=(width, height)`

[2022-04-14 13:10] dcnieho commented on #4739
Thanks, that solves that problem indeed.

But i discovered two further problems that i think may be bugs in psychopy. The following code produces a rotating cross, one arm of which flickers on and off on version 2021.2.3. However, on 2022.1.2, the cross doesn't rotate, it only deforms, and instead of one arm not being drawn when `np.nan` is given as position, its is draw in the top-left corner of

[2022-04-14 13:13] TEParsons commented on #4739
That is indeed a bug, so good spot! A user on the forum beat you to it though - so we have a fix in for it:
https://github.com/psychopy/psychopy/pull/4772

Essentially it's that rotation was applied to the base vertices so the corners were moving around the edges of the original object bounds rather than creating new bounds.

[2022-04-14 13:19] dcnieho commented on #4739
Glad that's already fixed! Is the change in how `(np.nan,np.nan)` is interpreted as a pos also something that you consider a regression that should be fixed?

[2022-04-14 16:10] shun2wang opened #4776 "[bug] error with upgrade dialog by open it twice"
If I open the upgrade dialog and then close the dialog, when trying to open the dialog again, it throws the following error info:

[code]

[2022-04-14 21:03] derekwacks commented on #4751
Hello,

This problem still persists with the new Psychopy release referenced here #4755

A related issue might be this warning I get starting psychopy:
`WARNING: pytables package not found. ioHub functionality will be disabled.`

However, I have tried by installing tables explicitly through pip and pytables through conda in the conda env I am using, and the warning still occurs. It seems unlikely

[2022-04-16 10:50] sowmyamanojna opened #4777 "Change foregroung and background colors of gratings"
Thank you for this wonderful package.

I would like to know if there are any options to change the background color of gratings. Currently, only the foreground color can be specified, while the background color is automatically calculated.

Any help or direction in this regard is highly appreciated. Thanks!

[2022-04-18 06:29] Anki-82t opened #4778 "Building non-symbolic number comparison task"
![download](https://user-images.githubusercontent.com/103921154/163765094-5eaf46dd-f529-40c7-a778-fe0d17dc5373.jpg)
I want to build an experiment, where a few dots would be presented in two boxes, without an outline. The size and number of the dots in each box should vary randomly in a fixed range. I tried using builder for this but I am failing at the part on how to split the screen.

[2022-04-18 11:56] eswarnaveen commented on #4778
I also need help with this, like how to vary the size of dots to different sizes.

[2022-04-18 23:17] m-macaskill commented on #4778
Issues here at Github are for reporting problems with the PsychoPy source code itself, not for support requests about how to implement experiments. The place to get assistance like that is at the dedicated support forum at https://discourse.psychopy.org

[2022-04-18 23:17] #4778 closed, assigned to nobody

[2022-04-19 03:39] jaded0 opened #4779 "Missing Linux documentation"
There is no clear explanation of what the Linux install options do. What are the dependencies that need to be installed beforehand?
On Ubuntu, libasound2-dev and libpulse-dev needed to be installed before the pip install succeeded.
Clicking the blue button on the main page just points to the pip install, suggesting that doing so installs the standalone package. However, it's unclear what the stand

[2022-04-19 13:50] ilaydakorkut opened #4780 "Psycho Py froze"
I am using Psycho Py 2022.1.2 on my MacOS computer and the builder does not really work. I can write the whole experiment but when I click on run, it asks for my participant name, then shows me my for frame, then frezees. I tried adding Psycho Py on my accessibility settings, I tried downloading other versions of psycho py, I tried changing experiment settings input to PsychToolBox and nothing see

[2022-04-20 09:32] TEParsons commented on #4758
Could you share the experiment file for this experiment? It looks like there's a call to `mic.start()` being missed

[2022-04-20 12:03] shun2wang commented on #4776
closed by https://github.com/psychopy/psychopy/pull/4783

[2022-04-20 12:03] #4776 closed, assigned to TEParsons

[2022-04-20 14:50] #4739 closed, assigned to TEParsons

[2022-04-20 20:10] derekwacks opened #4786 "Slider and button not picking up software-triggered mouse click event"
Hello!

I posted a previous issue covering this ([4751](https://github.com/psychopy/psychopy/issues/4751)), which was closed after a patch was released, however the bug was not resolved.

We are using pynput (also tried with pyautogui) to input mouse clicks and keyboard presses (instead of physical mouse clicks and keyboard presses). The psychopy experiment responds to the software-triggered keybo

[2022-04-21 08:04] dcnieho commented on #4739
@TEParsons i wanted to ping on my last comment, "Is the change in how (np.nan,np.nan) is interpreted as a pos also something that you consider a regression that should be fixed?"
Should i open a new issue since this one is closed now?

[2022-04-21 09:22] peircej commented on #4777
This is really by design. See the discourse topic at https://discourse.psychopy.org/t/controlling-gratingstim-colors/1261 (although it's come up more than once). I don't want to change the software to encourage something that I would generally discourage. If that makes sense

[2022-04-21 09:22] #4777 closed, assigned to nobody

[2022-04-21 09:27] peircej commented on #4786
Ah, I see. There was another issue that was a genuine bug and probably Matthew assumed that was the cause of your issue too.

PsychoPy uses multiple options for detecting mouse clicks. The event module from pyglet, the Psychtoolbox (PTB) and the ioHub lib all use entirely distinct ways to detect key presses. My guess is that he event module will most likely give you what you want. The PTB option r

[2022-04-28 13:28] frankgasking opened #4799 "ExpInfo array not closed properly when no properties set in builder"
In 2022.1.3 (Windows 64-bit), if you remove all start up properties in experiment settings (participant, session etc) so there is nothing at all, the python generated will not close the expInfo array correctly, leaving you with something like so:

expInfo = }

I've attached an example script for information.  It is rare that anyone would not want start up parameters, but there could well be instan

[2022-04-28 16:25] peircej commented on #4544
For info, we just tested with a user (remotely) and we successfully got triggers sent.

The first stage of adding support is to provide the package as part of the standard PsychoPy install so it can be used within Code Components. That's done in #4544 and will be included in the next release (at least the major summer release, maybe not intervening bug-fix releases).

The next stage will be decidi

[2022-04-28 20:22] pmolfese commented on #4544
That's great that it's working for more users and ready to be merged in! It'll definitely make it easier for new users once they don't have to add it to their paths, etc.

The main widgets that might be useful:
- Setup/Connect (supply relevant ports and IPs: IP_ns, IP_amp, port)
- Start/Begin Recording
- Send Event (perhaps an option to do this on flip)
             - Events can contain: event_typ

[2022-04-28 20:29] jbteves commented on #4544
For Send Event, I would recommend putting a tooltip to not do this on every routine, as the amplifier will not be able to serve the requests fast enough and ultimately cause a crash in the Netstation object.

For Resync, I would recommend putting a tooltip indicating that the authors implemented it for completion but it seems to actually worsen timings...

For Send Event, please consider that the

[2022-04-28 20:57] pmolfese commented on #4544
SendEvent works for every routine. Just not "every frame". But in theory the widget would only allow one.

Sorry we mix terminology since so many softwares name things differently... 🧐

[2022-04-29 10:38] TEParsons commented on #4799
This is one of those that sits in between user error and bug - as there is a safe method to not show a dialog at all (deselecting "show info dialog"), but also PsychoPy should be able to handle blank values for that control. I'll look into making the code construction more robust to handle it.

[2022-04-29 10:59] frankgasking commented on #4799
Ah, I didn't notice the show info dialog option - thanks for flagging that up.

[2022-05-01 17:37] emollier commented on #4440
Greetings,

I tried to run the reproducer in today's debian sid, _ipython3_ 7.31.1 and _psychopy_ 2022.1.3 and got a different output.  Actually the new issue is reproducible in the classical interpreter:
[code]
The result feels like this is because of running a _python2_ script in _python3_ context, but the necessary _python2_ libraries on which _psychopy_ depends, such as the module _pathlib_, a

[2022-05-02 06:23] jooyun-ha opened #4812 "PsychoPy3 (2020.2.3) crashing in Monterey 12.3.1"
Hello,

my mac version is Monterey 12.3.1 and psychopy installed version PsychcoPy3-2020.2.3.
When I open the application, the message below comes up and come up with warning message saying
'PsychoPy Error. Open Console or Terminate'

I tried clearing userPrefs.cfg and appData.cfg according to the link below.
https://psychopy.org/troubleshooting.html
And tried uninstalling the application and inst

[2022-05-02 20:36] MBueschelberger opened #4813 "Minor rendering glitch when large number of routines on Flow"
Dear psychopy-developers,

While generating a Moving-Window-Scheme through a wrapped python-function, we auto-generated a psyexp-file by facilitating the xmltodict-package.

<details>
  <summary> Click here for expanding the content of the generated file </summary>

[code]

</details>

For simplicity, only one sentence is included in the file-content here (called `trial_test_01_XX`).

However, the

[2022-05-03 13:14] isolver commented on #4440
This error is from an older version of `msgpack(-python)` being installed. If you have `msgpack-python` installed, please uninstall it. Then install/upgrade to the latest version of the `msgpack` package (`pip install msgpack`).

Thank you

[2022-05-03 19:15] tillea commented on #4440
Am Tue, May 03, 2022 at 06:15:04AM -0700 schrieb Sol Simpson:

Thanks.  The latest msgpack version is now packaged and psychopy builds nicely with it.

[2022-05-03 19:58] emollier commented on #4440
Hi there, I confirm the _iohub_ server is starting properly with latest _msgpack_:
[code]

The remaining bug turned out to occur in _msgpack-numpy_ in the specific case of running with _python3_.  Even though the code branches to the newer _msgpack_ version, it seemed to have some _python2_-ish encoding handling which does not exist anymore in _python3_.  Running a _2to3_ conversion of _msgpack-nu

[2022-05-05 13:52] TEParsons commented on #4813
What version of PsychoPy are you using? When I save the xml code you shared and open it I can see the flow bar and it does compile to JS - but I'm using PsychoPy 2022.1.2

[2022-05-05 14:18] #4799 closed, assigned to TEParsons

[2022-05-05 18:11] MBueschelberger commented on #4813
Hi @TEParsons, I am using v2022.1.1 on Windows 10 - 64bit.

After upgrading to v2022.1.2, the same error still occurs. Do I have to prune temporary data before opening it again?

[2022-05-05 19:18] BunnyRider opened #4817 "Cannot Install -- error: metadata-generation-failed"
This is what I receive when I try to install. I am extremely new at python so I am sorry if this is a silly question. Thank you so much for any help

[2022-05-05 19:56] frankpapenmeier opened #4818 "Crash on Startup when loading Pavlovia project (404 Project Not Found)"
Problem:
PsychoPy 2022.1.3 does not open .psyexp files for projects that have been pushed to Pavlovia before. I am running PsychoPy on Windows 11, but given the solution to this bug (see below), I assume that the issue should occur on all platforms.

Error Log:
This is the stacktrace from the "last_app_load.log" file when trying to open a respective psyexp file:

[code]

Reason:
I identified two b

[2022-05-06 05:34] szuyu007 opened #4819 "Dropped resolution and framerate in MovieStim playing"
Hello!

My PsychoPy 2022.1.3 is dropping the resolution and framerate of video while playing.
I use H.262 as video code and save it as MP4, the quality of the video is high and the framerate is 30 fps.

Although the result of .xlsx reported that the framerate is 59.6 in Psychopy, actually the resolution and framerate are too bad to conduct a psychological experiment...

Hope to see any tips.
Thank

[2022-05-09 09:49] The-C-Wolf opened #4824 "Circle-Stim doesn't update radius when redrawing in 2022.1.2"
I implemented a pulsating circle a while ago and just noticed, that the pulsing no longer works.

My current workaround is to downgrade to some version from last year (e.g. 2021.1.3), where it still works.

### A minimal implementation:

[code]

### The faulty behavior in the latest 2022.1.2:
- the circle.radius property actually changes its value
- but the circle keeps a constant (initial) size

[2022-05-09 11:01] TEParsons commented on #4824
Ah, I see the problem... There's a missed call to `_updateVertices` in the backend of Circle. Will put in a PR to fix it, in the meantime you can fix the problem in your code by adding this after `circle.setRadius`:
[code]

[2022-05-09 11:12] The-C-Wolf commented on #4824
Thank you, that fixes it!
I obviously overlooked this missing call when having a quick look into the backend.

[2022-05-10 08:17] m-macaskill opened #4828 "Apparent off-by-one (or more) timing error in Builder scripts"
Builder components can record their`.started` and `.stopped` attributes in the datafile, using an absolute time in seconds. In this minimal example, the first text stimulus `t_0` has a specified onset time of 0 s relative to the start of the trial, with subsequent text stimuli having onsets at 2 and 4 s:

<img width="662" alt="Screen Shot 2022-05-10 at 19 42 18" src="https://user-images.githubuser

[2022-05-10 14:54] ambitious-octopus opened #4829 "Problems with installation on Ubuntu 20.04"
I'm trying to install Psychopy on Ubuntu 20.04. Unfortunately, the installation with pip gives an error because some dependencies related to PulseAudio are missing. In addition, I tried to follow the instructions to create a conda environment, but the installation failed. Is there a docker container? If there isn't, it would be interesting to create one; if you think it's a way to guarantee usabil

[2022-05-10 19:12] shabkr opened #4831 "Possible Bug - Risk of Data Loss!: 2022.1.x URL Parameter not included in filename"
I think I have encountered a bug with the interaction between URL parameters and datafile saving in 2022.1.1 and 2022.1.3 of PsychoPy/JS. I have additionally posted about this issue on the [PsychoPy Discourse](https://discourse.psychopy.org/t/possible-bug-2022-1-1-2022-1-3-url-parameter-not-included-in-filename/29080)

**OS:** Windows 10
**Coder or Builder?:** Builder
**PsychoPy or PsychoJS?:** Ps

[2022-05-10 21:36] shabkr commented on #4831
I quickly tested behaviour of duplicate filenames:
- Experiment Settings > Data > Data Filename is
```u'data/%s_%s' % (expInfo['participant'], expName)```

(2022.1.1) Offline via PsychoPy Runner on Windows 10:
- append ```/?participant=1``` to the LocalHost URL
- data can be downloaded as ```_expName.csv```. If the data is downloaded and the experiment is run again, the second data can be download

[2022-05-11 09:24] TEParsons commented on #4813
Could you share the full psyexp file you're opening? I wonder if it's that there's something in the full file which isn't in the snippet you shared which is causing the behaviour. I think GitHub disallows psyexp files but you should be able to send it in a .zip, or if you change the extension to `.txt` I can change it back on my end

[2022-05-11 10:27] peircej commented on #4831
Thanks @shabkr we're looking into this right now

[2022-05-11 11:01] ambitious-octopus commented on #4779
As I said in #4829 I'm working on a Dockerfile that might be useful to you as well?

[2022-05-11 12:54] #4440 closed, assigned to isolver

[2022-05-13 08:21] KWik commented on #4699
Problem persists on PsychoPy v2022.1.3, Monterey 12.3
      Model Identifier: MacBookPro18,3
      Chip: Apple M1 Pro

[2022-05-13 14:15] #1521 closed

[2022-05-13 15:37] peircej commented on #1243
I think the `test_loops` test no longer needs sound - it's running and passing on GitHub ubuntu VM with no sound

[2022-05-13 15:37] #1243 closed

[2022-05-15 06:10] m-macaskill commented on #4699
There may be several underlying causes for the crashes reported above, but the current situation for Mac users with up-to-date macOS and standalone PsychoPy is that _no experiment with default settings will run using Builder._ As the error message is not informative, users don't have any trouble-shooting path to follow. Unless they find the relevant posts on the forum or on Github, Builder is curr

[2022-05-19 10:47] peircej commented on #4699
My apologies. I had tracked this down to a broken version of gevent and updated it (I thought) but it seems that hadn't made it into the released version. I've just compiled a patch release 2022.1.4 and confirmed it is working on my Big Sur installation. I just want to update to Monterey and check it still works there and should have that available for download tomorrow

[2022-05-20 15:18] #4824 closed, assigned to TEParsons

[2022-05-23 07:49] lboel opened #4845 "Possible unexpected and/or unintended behaviour of different keyboard backends for continuous keypresses with getKeys(waitRelease=False, clear=False) (ioHub, PsychToolBox, Pyglet) (e.g. missing key.duration in ioHub)"
Hi,
I am currently working on a consistent method (online/offline) to move objects as long as a key is pressed.
Using a straight forward approach by checking for an existing duration on a key in a "Store-All" keyboard component in the builder to check for keyPresses and keyReleases. The logic would be:
As long as the last pressed key has no duration, it's likely not released yet.
To get a fast imp

[2022-05-23 10:41] peircej commented on #4812
This was fixed in newer versions of PsychoPy. In Big Sur, Apple moved one of the libs to a new location so we had to change things in PsychoPy. I'd recommend you use [the latest version](https://github.com/psychopy/psychopy/releases) if possible, or [2020.2.10](https://github.com/psychopy/psychopy/releases/tag/2020.2.10) if you need compatibility with the 2020.2 release series

[2022-05-23 10:41] #4812 closed, assigned to nobody

[2022-05-23 10:43] peircej commented on #4818
This should be fixed in 2022.1.4 (available now)

[2022-05-23 10:43] #4818 closed, assigned to nobody

[2022-05-23 10:47] peircej commented on #4817
I don't know what that error is but I don't believe it's an error in PsychoPy. f you're really really needing to install PsychoPy to an existing Python installation then use `pip install psychopy` with a Python 3.8 installation (it looks like you've got Python 3.10 which will be harder to get things working on due to dependencies).

But for a beginner I really strongly recommend you install the st

[2022-05-23 10:47] #4817 closed, assigned to nobody

[2022-05-23 10:54] peircej commented on #4699
OK, I believe this is now fixed in 2022.1.4 available for download at [PsychoPy releases](https://github.com/psychopy/psychopy/releases). There was, as I thought above, an issue withthe `gevent` module (required by iohub) which was crashing so aggressively it didn't give any error message. I've replaced that and all appears to be working fine now, but please do test that this has solved all the pr

[2022-05-23 10:54] #4699 closed, assigned to peircej

[2022-05-24 06:32] lboel commented on #4845
in #4846 an iohub-backend-fix proposed, but the behaviour of PsychToolBox and Pyglet Backend remains unexpected, and this could be referenced in the documentation after the PR is accepted (e.g. "waitRelease=False should be used with iohub-backend") and the other backends could be fixed later.

[2022-05-24 13:24] isolver commented on #4845
I think your project highlights two issues with the _PsychToolBox_ `keyboard.Keyboard` backend:

1. Only the first press-release of a given key is returned if it has been pressed > 1 time since last event clear. For example pressing-releasing the 's' key twice before calling `getKeys()` only returns one 's' `KeyPress` event. Same occurs if `getKeys(clear=False)` is used and the same key is pressed

[2022-05-24 23:06] naiqixiao opened #4850 "Unable to download psychojs-2022.1.4"
I'm using PsychoPy 2022.1.4 to generate JS file for an online study. When I tested the online program, it will generate a lib folder within the program folder. In this folder, there a several .js files, such as psychojs-2022.1.4.js.

However, each file was nearly empty. The only content is:
`<html>
<head><title>404 Not Found</title></head>
<body bgcolor="white">
<center><h1>404 Not Found</h1></cen

[2022-05-25 07:23] frankpapenmeier commented on #4850
I can confirm that it is not possible to create new online experiments with the newest PsychoPy version 2022.1.4. This was tested on Windows 10.

We have two issues:
1.) JavaScript files and index.html are copied into a folder called "index.html" instead of right next to the psyexp file, causing Pavlovia not to automatically detect the PsychoPy version used.
2.) If one copies the files manually to

[2022-05-25 13:04] peircej commented on #4829
For further information about installing on ubuntu see these posts on the forum:
https://discourse.psychopy.org/t/installation-headaches-and-partly-fixes-on-ubuntu-20-04/16476/9
https://discourse.psychopy.org/t/how-to-install-psychopy-on-ubuntu-21-10/26762
(actually the comments in those posts about adding the group are now being handled better within PsychoPy app by providing a dialog that tells

[2022-05-25 13:04] #4829 closed, assigned to nobody

[2022-05-25 13:05] peircej commented on #4779
Very happy to take contributions on this 👍
All the documentation is on Github

[2022-05-27 10:49] TEParsons commented on #4723
This is definitely a bug, and one which I believe is fixed now! #4791 should solve it.

It's essentially that using `resquests.get` doesn't include the authentication, so we needed to be using the `get` method of a `requests.Session` object instead.

[2022-05-27 10:49] #4723 closed, assigned to apitiot, TEParsons

[2022-05-27 20:37] lboel commented on #4845
Hi @isolver,
I have just found time to check the ptb behavior.
Please have a look at #4862 where I have implemented a fix for ptb that lead to the behavior the fixed iohub backend, psychojs and the documentation show.
Feel free to edit the PR-branch. Maybe the sort in the ptb Keypress Return can be avoided. You could just pop the keypresses in _stillDown before returning the array. But just like t

[2022-05-30 02:09] Chalmes opened #4863 "Textbox component receiving input from Keyboard component in separate routine in prior trial"
I put this in discussion but so far no comments, this seems like a bug to me.

**OS (e.g. Win10):** Win10
**PsychoPy version (e.g. 1.84.x):** 2022.1.3 and 2022.1.4
**Standard Standalone? (y/n) If not then what?:** Standard Standalone
**What are you trying to achieve?:**
I have 2 routines in the trial, the first has a textbox component to ask for text input from the participant. I’m detecting when

[2022-06-01 18:47] nolanrbrady opened #4872 "Error starting ioHub server: ioHub startup failed"
I am just doing the HelloWorld example from the documentation and keep having the script freeze and crash. It's showing the following error:
[code]
I read elsewhere that if you changed Settings -> Input -> Keyboard Backend from `ioHub` to `PsychToolbox` or `Pyglet` it fixes the issue for some people however for me `PsychToolbox` causes an immediate crash and `Pyglet` gives the following error:
[co

[2022-06-02 17:11] NUTANLab opened #4874 "PsychoPy3 (2022.1.4 and 2020.2.10) still crashing in Monterey 12.3.1"
Our Mac version is Monterey 12.3.1, and we've recently tried downloading PsychoPy3 versions 2022.1.4 and 2020.2.10 per this post and recommendations: https://github.com/psychopy/psychopy/issues/4812. The application isn't starting in either version; the splash screen appears and then goes away and nothing more happens. We would prefer to use the most recent version, if possible.

When we tried ver

[2022-06-02 20:07] nolanrbrady commented on #4872
Just in case anyone else is struggling I sorted this out by upgrading python to a version higher than 3.7.x, deleting the pre-installed version of psychopy, and finally reinstalling it with `brew install --cask psychopy`.

[2022-06-02 20:07] #4872 closed, assigned to nobody

[2022-06-06 19:17] paretech commented on #4748
I'm also seeing load times for psychopy.visual on the order of 55 seconds when run from VSCode debug vs 2.5 seconds from REPL.

## Environment
- Windows 10 21H2 (19044.1706)
- Python 3.8.5
- Visual Studio 1.67.2
- PsychoPy 2022.1.4

## Minimum Code to Reproduce
[code]

## Observed Output
I included the run command that VSCode uses in the event useful to debug.
[code]

[2022-06-09 14:24] jfkominsky opened #4893 "[Bug] 2022.1.3-4 MacOS mouse-click location still screwy in 2022.1.4 for Catalina (10.15) and Mojave (10.14)"
In 2022.1.4 I tried to run my PyHab builder, which is essentially a bunch of clickable boxes each of which opens a different dialog. I discovered that all the mouse-click locations had somehow been relocated. I'm using Mouse.isPressedIn to figure out which shape a mouse-click occurs in, but it only registers if the location clicked is some ways up and to the right.

I've had other people report th

[2022-06-09 21:28] KenR22 opened #4896 "Multiple Touchscreen Support"
Hi,

We are working with macaques working on 8 touch screens. I was wondering if psychopy supports 8 touch screen?
Also, it would be nice if there are tutorials for touchscreen stimulus selection?

Thanks,
Ken

[2022-06-09 21:53] m-macaskill commented on #4896
This sort of question is better addressed to the support forum at <https://discourse.psychopy.org> - ideally Github is used for specific code issues rather than general support queries.

However you might be interested in this paper by Ben Seitz: <https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0246446>

PsychoPy should be able to display stimuli on as many monitors as your compu

[2022-06-09 21:53] #4896 closed, assigned to nobody

[2022-06-10 06:22] jooyun-ha commented on #4812
Thank you for the comments. I appreciate it. It's working well after downloading the latest version. Thank you :)

[2022-06-10 17:07] h2okay opened #4899 "[Bug] movie.py function pause() only pauses .mp4 audio"
Using moviepy as backend (PsychoPy 2022.1.4):

If the pause() function is called while a .mp4 video is playing, only the sound/audio is paused.

When resuming the video via play(), sound is played again, with correct timing (i.e. with pause(), audio is rather muted than paused.)

Code to call pause() function while .mp4 is playing:
[code]

[2022-06-10 17:27] nmarkowitz opened #4900 "ENH: all tobii eyetracker data saved"
Hi,

I'm using the tobii-spectrum eyetracker. When using the eyetracker with the Psychopy wrapper not all possible data is saved. It looks like the data saved includes:

- gaze position on the monitor
- pupil diameter
- normalized coordinates (track box coordinate system)

However, the eyetracker returns more data than this. It would be nice to have xyz gaze origin and gaze position as well (user

[2022-06-12 23:25] m-macaskill opened #4902 "DotStim size parameter does not correspond to displayed size"
The size attribute of a DotStim does not correspond to its actual displayed size. For example, below are two polygons each set to have a size of (2.5, 2.5) deg, and a DotStim notionally of the same size and units:

![dotstim_size_issue_25](https://user-images.githubusercontent.com/931027/173257711-11dbcdf8-372f-4b59-857a-724853fe08a1.png)

This is not a diameter/radius confusion, as doubling the s

[2022-06-13 08:07] TEParsons commented on #4902
I'm surprised the test suite didn't catch this - I've just tried it out and replicated what you've got there so I'll try and get a fix in ASAP. Once I do I'll add a test too, this should definitely be caught!

[2022-06-13 08:12] m-macaskill commented on #4902
Thanks Todd - we're just piloting a random dot task at the moment and then I had a sudden moment of panic that the parameters we're applying might not actually be what the subject sees.

[2022-06-13 10:22] TEParsons commented on #4902
Ah I know what it is - silly mistake on my part. When fixing #4691 I added a line which updates `.vertices` from `._baseVertices`, but didn't realise that `._baseVertices` isn't normalised while `.vertices` needs to be. Easy fix, just need to divide by size.

[2022-06-13 11:11] m-macaskill commented on #4902
Great - I didn't realise it was my own previous bug report that indirectly led to this issue - had assumed it was a long-standing problem. So the good news is that this won't have been a long-standing error affecting users - would be good to get a bug fix out as soon as possible though.

[2022-06-13 16:02] trettenbrein opened #4911 "Experiment accumulates > 4 s drift when presenting videos despite using non-slip timing"
I am filing this bug report as suggested by @m-macaskill in this [PsychoPy discourse thread](https://discourse.psychopy.org/t/accumulated-4-s-drift-despite-using-non-slip-timing-presenting-videos/29307).

## Description of original problem encountered

My experiment was created using builder (using PsychoPy 2021.2.3 on Ubuntu Linux running on quite powerful hardware) and listens for a trigger on t

[2022-06-13 19:52] davidhildebrand commented on #4902
Thanks for sorting this out!
Was very confused for a while when trying to set up some moving dot stimuli... and now I understand why.

[2022-06-14 15:09] #4902 closed, assigned to TEParsons

[2022-06-16 08:40] peircej commented on #4828
Thanks @m-macaskill
I can see the issue, and the question is how to handle it. The non-slip mechanism in Builder code is limiting the overall time of the trial, but not altering the time of individual components. That's fine if the trials are overrunning, but not so good if they're underunning, as in your case (the trial ends early, because all the stimuli have finished, before the non-slip timer

[2022-06-16 11:22] peircej commented on #4828
OK, this was actually relatively to fix and the result is sort of simpler! 😄
Explanation is in the PR #4933 but basically, from now on we'll just have a single (count-UP) clock that's used for every Routine and each Routine resets that timer, ready for the next, by _either_:
- subtracting its own known duration (non-slip)
- or setting to zero (if duration is not known)

and then this timer is used

[2022-06-16 11:22] #4828 closed, assigned to nobody

[2022-06-16 12:12] peircej commented on #4899
@h2okay could you tell us which MovieStim/backend you're using here? There are multiple options

[2022-06-16 12:20] h2okay commented on #4899
@peircej its in the first sentence! :)
Backend: moviepy

[2022-06-16 12:25] peircej commented on #4899
lol, OK

[2022-06-16 13:10] isolver commented on #4900
Could you list the specific tobii sample fields you like added and we can see if they can be added to existing iohub BinocularSample fields not being used by the tobii implementation, or if we will need to add new fields. Thanks very much.

[2022-06-17 13:58] nmarkowitz commented on #4900
Here's a list of all the keys output from the tobii-spectrum eyetracker:
[code]

Already recorded by Psychopy are:

* pupil_diamter
* validity
* gaze_point_on_display_area
* gaze_origin_in_trackbox_coordinate_system

It would be nice to also have

* gaze_point_in_user_coordinate_system
* gaze_origin_in_user_coordinate_system

I think gaze_point_on_display_area is converted from 2D to 3D coordinate

[2022-06-18 01:17] Gumphrey commented on #4668
tobii-research is not compatible with python 3.7, which I just tried.  (same error message as RyanY11.)   I will update if I get it working.

[2022-06-20 09:48] peircej commented on #4668
Tobii Research appears to support only Python3.8 (at least publicly on PyPI):
https://pypi.org/project/tobii-research/1.10.1/#files

(our installation pages recommend using Python 3.8 for exactly this reason - in our experience it's the most widely supported for hardware at the moment)

[2022-06-20 09:49] #4668 closed, assigned to nobody

[2022-06-20 09:51] peircej commented on #4900
Just to clarify, we're talking about the hdf5 file from ioHub? I feel like the PsychoPy csv file saves less than this and the Tobii proprietary file saves everything already, right?

[2022-06-20 12:08] isolver commented on #4900
Yes, this issue is related to what is saved to the hdf5 file as well as
what is available during the experiment in sample events (which are the
same).

I do not think Tobii trackers have a native data file that it saves
automatically.

On Mon., Jun. 20, 2022, 6:51 a.m. Jon Peirce, ***@***.***>
wrote:

[2022-06-20 13:43] shun2wang opened #4955 "Bug: About page translator name cannot switch with locale setting"
Hi,
 I am Chinese simplified language translate contributor， when i review the translations, it seems the translator name cannot be changed by locale setting(here is about page of Chinese language) ,or it was designed as this?

also,Can 'Add Chinese language' be included in the 2022.2 change list with #4784 ?  i think this would be a good news for Chinese users and let them know form change news.

[2022-06-20 14:28] nmarkowitz commented on #4900
There is no native file format for tobii trackers. They rely on you to specify how the data is saved. The hdf5 file saves a key selection of the raw output of from tobii, converts data to same coordinate system psychopy uses and then saves it

[2022-06-20 19:01] bpinsard opened #4956 "moviestim2 python-vlc version"
Using MovieStim2 I get the following errors (caught by the callback handler), resulting in sound de-sync.
[code]
Working backward on python-vlc versions, the bug appears with 3.0.12117 , the latest working version being 3.0.11115 .

The commit that bumped the requirements version is here
https://github.com/psychopy/psychopy/commit/8692b9c6dfc8fc0a573b7bd5fe40f8815873023e
But there are no mentions

[2022-06-22 10:33] peircej commented on #4900
OK, great, well then it would, indeed be great to add this data entry to our hdf5 outputs. Thanks

[2022-06-22 23:12] nmarkowitz commented on #4900
If it would help I can send a sample of tobii output with all its fields in Python. It would be a pickled dictionary of the gaze data

[2022-06-23 10:35] isolver commented on #4900
I think we need to decide if we are going to try and keep a common sample
format across all trackers, move to a more per tracker sample type that
maybe has some shared fields for a subset of the common sample attributes,
or add new fields to the existing sample classes for the important tobii
specific data.

On Wed., Jun. 22, 2022, 8:12 p.m. NoahMarkowitz, ***@***.***>
wrote:

[2022-06-24 11:28] peircej commented on #4956
We were aware that needed limiting in Windows, but are you saying we should be applying that version restriction to other platforms?
In general, we've rather fallen out of love with the VLC engine for movies. What initially looked great for seemingly having higher performance has turned out to bring quite a few hassles. PsychoPy 2022.2 provides a new engine using FFpyPlayer and we think this is a

[2022-06-24 15:08] TEParsons opened #4977 "Python shell allows selection of values before >>"
As the Python shell is a modified TextCtrl, you can select as much of the contents as you like (for example, using CTRL + A) and can then edit or replace the previous output. Ideally it would be good for CTRL + A to select only the current input, and for mouse selection to stop at the >>

[2022-06-27 00:12] m-macaskill opened #4978 "TextBox2 can't find local fonts on macOS"
Fonts on a Mac can be installed in the following folders:

    /System/Library/Fonts
    /Library/Fonts
    ~/Library/Fonts

`TextStim` can use fonts from all three locations. `TextBox2`, however, can not find local user fonts stored in `~/Library/Fonts` and seems to fall back on using `Verdana` when that happens.

The only option at present is to move the font to one of the System-level font fold

[2022-06-28 23:15] davidhildebrand commented on #4721
Any update on this bug?
Found it today while troubleshooting more or less the same problem.

In case it helps, some additional information follows.
PsychoPy version: 2021.2.3
Operating system: Ubuntu 20.04
Graphics card: NVIDIA GeForce RTX 2080 Ti Founders Edition
Stimulus display (via USB-C): ASUS XG16AHPE ROG Strix
Non-stimulus/system display (via HDMI): Dell P2219HC

The operating system and gr

[2022-06-29 14:18] bpinsard commented on #4956
I don't know if the version should be limited in the other platform, maybe the first step would be reproducing the bug in another setup. (a colleague have the same problem with similar setup, was happening in docker/singularity with clean install too).

We started using MovieStim2 few years ago as it was the best option based on our tests at that time, and thus we kept it.
We acquired a bunch of d

[2022-06-29 22:19] m-macaskill commented on #4721
PsychoPy can measure the screen refresh rate, but can't set it. Hence it is not clear that this is a PsychoPy bug, rather than errors in the reported refresh rate via xrandr and the OS - there have been a number of issues reported about this under Ubuntu.

My suggestion would be to try disconnecting your second display (the one connected by HDMI). What then happens to PsychoPy's measured refresh r

[2022-06-30 15:18] davidhildebrand commented on #4721
As shown through the outputs and screen shots in my previous post, the screen refresh rate appeared to be correctly reported by xrandr and the operating system.  They both report it as 144 Hz, as does the display itself.

Thanks, this is good suggestion and helps clarify.
After disconnecting the non-stimulus/system display (HDMI), PsychoPy indeed reports a refresh rate of ~144 Hz.
`145249.9947 DEB

[2022-07-01 04:52] m-macaskill commented on #4721
I haven't seen any evidence that is the case. Again, PsychoPy is actually _measuring_ the refresh rate. So this might indicate that you should view those reports above with some scepticism. As noted, there are multiple reports of screen refresh rates under Ubuntu not being correctly displayed by the OS/xrandr. This is particularly the case when several monitors are connected, when it can happen th

[2022-07-01 14:35] simone-fontana opened #4995 "Transcription not working with built-in engine"
I am trying ot launch the stroopVoice Demo, using the built-in engine for the transcription of the audio. However, I get the following error:

[code]

I am using Psychopy v2022.1.4 on macOs Monterey 12.4

Thanks!

[2022-07-01 21:33] mpeters2 opened #4996 "OSX segfault when using audio during eyelink calibration"
I'm getting semi-random segfault using Psychopy.  For the record, I've tried 3 different installations: the latest 2022 Psychopy Coder, Spyder with python 3.8, and Spyder with Python 3.9.  I'm using the latest Eyelink Developer's kit, and the software on the recording/host computer is up-to-date. I'm using MacOS Mojave on a 2019(?) iMac.

The crashes are not deterministic.  I can have 5 crashes in

[2022-07-04 12:04] lboel opened #5000 "Typo in Release Title for 2022.2.1 (shows "2021.2.1")"
The Typo "2021" in the Release Title has just confused some of my students, I am not sure if it is easily fixable without rerelease (?)
![image](https://user-images.githubusercontent.com/8046474/177150914-310c3d77-248d-4583-a732-b655b70a30ab.png)

[2022-07-04 14:02] TEParsons commented on #4863
I think I've found the problem - it's that the Keyboard component in the y/n routine uses `waitRelease=False`, but the Textbox listens for key releases, not key presses. So the routine ends when the key is pressed, but the character is sent to the textbox when the key is released. It may be as simple as just having Keyboard use `waitRelease=True` but I'll need to investigate further what the effec

[2022-07-05 18:39] pmolfese commented on #4544
I think we can now close this issue as the package is included in PsychoPy.

[2022-07-08 00:26] mpeters2 opened #5002 "TextBox2 unable to find font in PsychoPy >= 2022.1.1"
The following code works in PsychoPy Coder version 2021.2.3 as well as Spyder with Psychopy 2021.2.3.  It fails in Psychopy Coder 2022.1.1, 2022.2.1, and 2022.2.3.

Error mesage:
`3.4919     WARNING     Font b'/Users/MattPetersonsAccount/Documents/Development/PsychoPy/ScamDetection/chirp-regular.ttf' was requested. No similar font found.
`

Code:
[code]

[2022-07-08 18:04] TEParsons commented on #5002
I'll look further into this on Monday, but as a quick workaround you should be able to refer to the font by name of you copy the .ttf file to the "fonts" subfolder in the preferences folder - that's where Google Fonts are stored once they're accessed from the server so it's in the search path for Textbox2's font manager. Easiest way to get there is to, from Builder, go to View -> Themes -> Open Th

[2022-07-08 21:18] mpeters2 commented on #5002
Unfortunately moving the font to the fonts folder did not work for me.

`5.8565     WARNING     Font b'chirp-regular.ttf' was requested. No similar font found.`

[2022-07-09 12:48] mpeters2 commented on #5002
Here is a clue:

(1) When I change the font to "Arial" in that code snippet, it works both in Spyder and Psychopy Coder 2022.2.1
(2) When I went back to my experiment and changed the font to Arial, it properly draws the text on the screen when using Spyder.
(3) But, no text is drawn when I run my experiment from Psychopy Coder 2022.2.1.  Instead, I get the following warning:

`Fontconfig warning:

[2022-07-10 22:45] kdoelling1919 commented on #4758
I have the same issue! And can provide an experiment file which you can find here:
[badsinging.zip](https://github.com/psychopy/psychopy/files/9079997/badsinging.zip)

I included the psyexp and the python code it generates. I only added a print statement to try to understand what was going on.

In my set up the microphone appears to never record. The offending code I think is here:
[code]

When th

[2022-07-12 15:47] peircej commented on #5000
Thanks! Yes that was just a typo in the release title on github. Now fixed. I look forward to when the year has higher digits and hoping that will be less confusing! 😆

[2022-07-12 15:47] #5000 closed, assigned to nobody

[2022-07-12 15:56] peircej commented on #4996
These are both occurring during OpenGL calls by the looks of it, maybe from creation of text. Could you tell use about (or share) the code you're using to create your text? What I'm thinking is that I can force a seg fault  simply by requesting text that's way too big for the screen (e.g. using a size in pixels but setting the text to be norm or height units)

[2022-07-12 19:35] mpeters2 commented on #4996
For the early crashes, for the most part, my code hasn't really had a chance to run yet.  I think the earliest code that uses PsychpPy is EyeLinkCoreGraphics.py, which I've attached below.

[EyeLinkCoreGraphicsPsychoPy.py.txt](https://github.com/psychopy/psychopy/files/9096249/EyeLinkCoreGraphicsPsychoPy.py.txt)

Over the weekend, I was able to get my experiment to run all the way through without

[2022-07-12 20:30] mpeters2 commented on #4996
And for the record, none of the text was outside the window bounds.

A lot of the early crashes occured while the eye was displayed on the screen, os it might be related to draw_image_line().

[2022-07-13 11:54] #2995 closed

[2022-07-13 12:23] isolver commented on #4996
@mpeters2, thanks for the further information the suggested solution.

| My big change that added stability was to replace as many visual.TextStim() with visual.TextBox2().

You changed this in the EyeLinkCoreGraphicsPsychoPy.py only, or in your whole experiment?

| A lot of the early crashes occured while the eye was displayed on the screen, os it might be related to draw_image_line().

This scre

[2022-07-13 13:51] TEParsons commented on #5002
What happens if you add this code to somewhere after your textbox has been created:
[code]

That should print out the family names of all fonts available to your system - is Chirp Regular there?

[2022-07-13 13:57] TEParsons commented on #4978
That's surprising as `/Library/Fonts/` is included in `_OSXFontDirectories` - I'll investigate when I next have access to the office Mac

[2022-07-13 20:42] mpeters2 commented on #5002
Nope, no fonts containing "Chirp"are among the list, yet if I am in an app like TextEdit, I can clearly see the font in the pull-down fonts menu.

[2022-07-13 20:50] mpeters2 commented on #4996
|| My big change that added stability was to replace as many visual.TextStim() with visual.TextBox2().

| You changed this in the EyeLinkCoreGraphicsPsychoPy.py only, or in your whole experiment?

In just my own files. This morning one of my grad students and I sat down, and both of us were able to run through the entire experiment without crashes (yeah!).  BUT, in between those runs we had plenty

[2022-07-13 21:00] isolver commented on #4996
EyeLinkCoreGraphicsPsychoPy.py and check to see if it solves the problem
when I go into the lab tomorrow.

That would be great.  Thanks again

On Wed., Jul. 13, 2022, 5:50 p.m. mpeters2, ***@***.***>
wrote:

[2022-07-14 03:30] naiqixiao commented on #4728
Hi,

Do you know when we can expect this color issue being fixed? Or is there another way to set LightSource for 3D object display?

Thanks!

[2022-07-14 13:16] danielshub commented on #3429
Is pyglet < 1.5 still a hard requirement on Linux? It seems like things work with pyglet 1.5.24 on Arch Linux. Is there a unit test (or some other way) to check if the issue still exists?

[2022-07-14 14:29] mdcutone commented on #4728
We have a fix for the issue nearly ready, should soon be available soon in a bug fix release. The system we have here simplifies working with lighting, otherwise you'd need to use OpenGL directly which is your only option at this time.

[2022-07-14 18:06] danielshub opened #5015 "Incompatibility with Python 3.10, wx, and implicit conversion to integers"
Python 3.10 no longer uses implicit conversion with loss from a float to an int (https://bugs.python.org/issue37999). This screwed up wxpython (https://github.com/wxWidgets/Phoenix/commit/173d0796810bb65de9bdfdc6941d24a04628f6c2) and it is having effects on PsychoPy. For example, in psychopy/app/builder/builder.py on line 3626:

`font.SetPointSize(1400 / self.dpi - fontSizeDelta)`

for most DPIs t

[2022-07-14 19:03] naiqixiao commented on #4728
That's good to hear! Thanks!

[2022-07-15 02:57] m-macaskill commented on #4978
It's not `/Library/Fonts` that has the issue, but the user-level folder `~/Library/Fonts`.

[2022-07-15 03:05] m-macaskill commented on #5002
This sounds similar to https://github.com/psychopy/psychopy/issues/4978

[2022-07-15 11:38] TEParsons commented on #5002
I wonder if it's that the preferences folder is in a different location on Mac than it is on Windows, and font manager is only looking in the Windows location... If I download a random font and put it in my fonts folder (without installing the font), on Windows it does appear in the list when printing known fonts. Could you try that with this font:
https://fonts.google.com/specimen/Cormorant+SC

J

[2022-07-15 11:59] TEParsons commented on #4667
Is there a package you've found works on Ubuntu 20.04? We already query the OS and change the backend used accordingly, so could add in a check for Ubuntu version and switch to a different package for newer versions

[2022-07-15 12:07] mscheltienne commented on #4667
I am not aware of a different package than `pyparallel` to interact with the parallel port in Python. That would be indeed a good solution..

Alternatively, even some documentation to explain the problem and that it can be resolved by blacklisting the `lp` module as described [here](https://github.com/pyserial/pyparallel/issues/15#issuecomment-1065089349) would be an improvement.

[2022-07-15 15:21] mdcutone commented on #5015
Thanks for pointing this out. There are likely lots of changes needed here.

[2022-07-15 17:11] mpeters2 commented on #4996
This will be a two-parter, with the first part about the segfaults and the second part about using TextBox2 in EyeLinkCoreGraphicsPsychopy.py.

I came in to the lab to check out my new code that uses visual.TextBox2 in EyeLinkCoreGraphicsPsychopy.py.  I decided to start with a fresh folder, adding the files I brought from home to the folder.  To make sure I only had the latest dependencies in my c

[2022-07-15 17:12] mpeters2 commented on #4996
When I tested out replacing visual.TextStim with visual.TextBox2 EyeLinkCoreGraphicsPsychopy.py, for the life of me I could not get any of the text to align properly.   Changing the __title_pos__ and the __calibInst_pos__ had no effect whatsover, leaving me with calibration instructions that were chopped off above “V: Validation”. I also could not get the _title centered under the eyebox. Changing

[2022-07-15 17:38] isolver commented on #4996
Are using `pylink` directly in your experiment, or are you using the psychopy.iohub eyelink interface? I thought you where using iohub, but now I'm thinking you are using pylink directly, sorry for my confusion. What if you set `DISABLE_AUDIO` to `True` in EyeLinkCoreGraphicsPsychopy.py? It seems like this must be a pylink issue?

[2022-07-15 18:33] mpeters2 commented on #4996
Pylink (after I update the PsycoPy.app package with the correct Pylink from SR Research).  Unfortunately, I'll be out of town next week and won't be able to check the audio settings until I get back.

[2022-07-15 21:19] mpeters2 commented on #5002
Cormorat did not show up when I did _print(myTextbox.fontMGR.getFontFamilyNames())_.

[2022-07-16 01:53] mpeters2 commented on #5002
There are fonts I can see in font manager that are not on the printed listed.  The ones that are missing are listed as "User" fonts, and are stored in /Users/yourUserName/Library/Fonts.

System fonts (the ones I can see in the printout) are stored in /System/Library/Fonts

[2022-07-18 03:18] yaowang1111 opened #5016 "Bug Report: pip install psychopy not working on anaconda"
I'm using the anaconda 2022.05 version and tring to use pip to install psychopy 2022.2.2,  and the following error pompt out. My python version is 3.8.13.  I have updated pip and setuptools, not working.

[code]

[2022-07-19 01:31] danielshub commented on #5015
@mdcutone this is great. Have you seen https://discourse.psychopy.org/t/psychopy-2021-2-3-1-fails-to-start/27067/6?u=daniel.e.shub which suggests that psychopyApp.py also needs changes. Maybe your changes in builder.py get takes care of it. Trying to apply your patch now to see what happens.

[2022-07-19 03:04] yaowang1111 commented on #5016
I reinstalled my computer, reinstalled the newest version of anaconda, tried 3.10 version of python, nothing helps, the error is still there. So i guess there is some bug with psychopy, please help me solve it.

[2022-07-19 17:44] danielshub commented on #5015
I am trying to package PsychoPy on Arch Linux with Python 3.10. Initially, i could not even start PsychoPy. After copying builder.py from your pull request and I can now start PsychoPy, so that is super helpful. Now, large chunks of the unit testing fail. In builder.py there appears to still be floats floating around in font.SetPointSize, dc.DrawBitmap, and PseudoDC.DrawText (and potentially other

[2022-07-19 19:43] mdcutone commented on #4690
Thank you for your post. Looking at the code, the SoundPyo backend spawns a server to interface with the audio driver that is configured only on the first use. Sample rate cannot be changed in successive instances of `Sound` object. I'll add a warning for now since allowing multiple sample rates requires substantial changes right now.

[2022-07-20 02:44] davidhildebrand commented on #4721
Finally able to offer an update after purchasing a second ASUS XG16AHPE ROG Strix to use as the system display (via HDMI).

Are there no good solutions these days, then?  Windows 10 doesn't seem compatible with gamma correction (at least through PsychoPy) and Psychtoolbox seems like it has given up on anything past Windows 7.  But Ubuntu can't seem to report the correct refresh rate in instances w

[2022-07-20 03:09] m-macaskill commented on #4721
Thanks for getting back to us David - this report and your testing will be a useful guide to others with the same problem in the future. As this didn't seem to be a PsychoPy issue after all, I'll close the issue for now (although the OP raised this on on Mac OS – hard to know if that is the same sort of problem).

[2022-07-20 03:09] #4721 closed, assigned to mdcutone

[2022-07-20 03:11] davidhildebrand commented on #4721
Fine by me, though note that the original issue was not on Ubuntu and my experience may have been unrelated to that report.

[2022-07-20 14:26] mdcutone commented on #5015
Thanks for following up. Might take a bit of time to go through the whole code base.

[2022-07-20 15:35] #4124 closed, assigned to mdcutone, TEParsons

[2022-07-22 14:22] trentwirth commented on #5016
I had the same issue

[2022-07-22 14:55] #5015 closed, assigned to nobody

[2022-07-22 15:35] mpeters2 commented on #4996
I'm wrong: it still crashes even later in the experiment (I'm home with covid, but helping to debug in realtime over zoom). We've switched to trying the `DISABLE_AUDIO` to `True` mod, and so far it seems to be working (n=2).

[2022-07-22 19:42] alexander-pastukhov commented on #4748
The issue is caused by psychopy/tools/linebreak_class.py used in linebreak.py (used in TextBox2, imported non-lazily), which is a massive dictionary (300K+ lines). As debugging is line aware, it causes the massive slowing down. The solution proposed by @peircej was to import it only when uax14 line breaks are actually required (so fast import when debugging for "default" line breaks but the issue

[2022-07-23 08:36] alexander-pastukhov opened #5039 "Confusing error when inheriting from lazily imported classes when importing them from visual, not from their specific files"
This is not an issue to be fixed in the code but, perhaps, deserves extra information in docs. For classes that are imported non-lazily, you can import them from `psychopy.visual`  and both create objects and inherit from them
[code]

However, for lazily imported classes, importing from `psychopy.visual` allows to create objects but inheriting from them generates a very confusing looking error
[co

[2022-07-25 09:45] #4690 closed, assigned to mdcutone

[2022-07-25 17:07] snastase commented on #5016
I'm also encountering this error when trying to `pip install psychopy` in a dedicated (mini)conda environment with `Python 3.8.13`, `conda 4.12.0`, `pip 22.1.2`:

[code]

I tried a manual `pip install pyqt5`, but having `pyqt5` installed doesn't seem to make a difference.

[2022-07-27 10:37] TEParsons commented on #5039
It looks like when lazy importing a child class, the scope passed to the lazy importer as it's building the module is just the name of the class rather than the output from a call to `globals()`... I'll try and track down where scope is actually coming from in this instance, but if not then yes I think you're right that we should advise users to import directly when extending classes

[2022-07-27 10:49] TEParsons commented on #4758
Aha, I know what this is! We had a similar problem with Camera - essentially, the stop test code needs to not be written if there's no value for stop, otherwise it's written but with the duration as just a blank string. Hence `-frameTolerance` rather than `whateverTheComponentDurationIs-frameTolerance`... This is handled by the base class which all components inherit from, but for things like Micr

[2022-07-28 15:42] oreHGA commented on #5016
+1 on this issue, trying to use older versions to see if they work for my package but no luck yet

[2022-07-29 00:38] khl02007 commented on #5016
Hi guys, installing directly from the repo (as opposed to from PyPI) worked for me (git clone this repo and do `pip install -e path/to/repo`) in case anyone is still looking for a workaround. But the devs should probably release a fix on PyPI.

[2022-07-30 05:35] glupyan commented on #5016
Had same issue with 2022.2.2
pip install psychopy==2022.1.4 works

[2022-08-01 15:07] peircej commented on #5016
I believe this was fixed by https://github.com/psychopy/psychopy/pull/5017 14 days ago, which is why @khl02007 found that it works fine using the repo. This fix has been included in the 2022.2.3 release, which is now on pypi, so this should be working from pypi now, but re-open the issue if it still fails

[2022-08-01 15:07] #5016 closed, assigned to nobody

[2022-08-02 02:00] DRezeanu commented on #1202
Hey guys, hate to open a VERY old thread, but I'm having this same issue. I've managed to work around several problems with the latest build, but no matter how I work around it, any gamma setting disappears within a few frame flips. This applies no matter how I set the gamma: monitor center, gammagrid, or even manually pulling the screenID and calling SetDeviceGammaRamp through ctypes.

I realize

[2022-08-02 11:00] peircej commented on #5002
The issue abotu local (user) fonts is fixed by this Pull Request: #5057

Note that it's probably better to install them in `/Library` so they're available to _all users_ anyway but macos uses `~/Library` by default (can be changed in FontBook preferences)

[2022-08-02 11:01] peircej commented on #4978
The issue about local (user) fonts is fixed by this Pull Request: https://github.com/psychopy/psychopy/pull/5057

Note that it's probably better to install them in /Library so they're available to all users anyway but macos uses ~/Library by default (can be changed in FontBook preferences)

[2022-08-02 11:01] #4978 closed, assigned to TEParsons

[2022-08-02 23:35] jacob-lee commented on #867
I'm not using multiflip but rediscovered this behavior writing something custom using psychopy, which I hadn't noticed doing something similar with just pygame. I've since changed my dev machine, so that might account for it, but I'd be grateful if you might elaborate on this card-specific behavior when the buffer is not refreshed, or point to where I might find out more? I have a variety of legac

[2022-08-03 15:23] oricon commented on #4757
This issue with resources continuously loading seems to be resolved in 2022.2, but I have remaining issues with image loading during an ISI. Specifically, the image file seems to be loading, but its not being displayed during the first instance its called, but it does appear in subsequent components/routines within the trial. The code is[ available here](https://gitlab.pavlovia.org/TAMU_CONGAlab/t

[2022-08-04 14:16] #5002 closed, assigned to nobody

[2022-08-04 15:48] #4758 closed, assigned to nobody

[2022-08-09 10:29] LordFckHelmchen opened #5075 "Timezones should be stored in the date by default"
## Problem description

Currently, the experiment info contains the date of the experiment without a timezone. This would create problems when labs use the the same script across different timezones.

## Suggested solution

`utils.getDateStr()` should store the [local timezone](https://dateutil.readthedocs.io/en/stable/examples.html#tzlocal-examples) (or even better UTC - but this would require so

[2022-08-09 16:17] #4995 closed, assigned to mdcutone

[2022-08-12 10:00] peircej commented on #3672
This was fixed in 2022.2 release which doesn't actually use TrialHandler2 but uses the ExperimentHandler currentTrial property to fetch a stored version of the current trial that can still be updated after the trial ends

[2022-08-12 10:00] #3672 closed, assigned to nobody

[2022-08-12 10:22] peircej commented on #4850
Definitely appears to be there now https://lib.pavlovia.org/psychojs-2022.1.4.js

[2022-08-12 10:22] #4850 closed, assigned to nobody

[2022-08-12 10:25] peircej commented on #4893
I fixed this here: https://github.com/psychopy/psychopy/pull/4924
Should be fine in 2022.2.x

[2022-08-12 10:25] #4893 closed, assigned to nobody

[2022-08-12 16:08] sadeabiodun commented on #1804
i'm on a Mac 11.6 trying to install psychopy3 using pip install psychopy with python 3.8.13 inside a fresh conda environment (conda 4.12.0, pip 22.1.2) and I’m getting this error. (I also tried installing the most recent standalone package for Mac, but psychopy crashes immediately after displaying the splash window.) Any idea what might be going wrong?
[code]

[2022-08-15 10:35] #4728 closed, assigned to mdcutone, TEParsons

[2022-08-15 10:40] #4159 closed, assigned to TEParsons

[2022-08-15 13:12] sadeabiodun opened #5086 "Psychopy Installation Issue (pip install + standalone)"
i'm on a Mac 11.6 trying to install psychopy3 using pip install psychopy with python 3.8.13 inside a fresh conda environment (conda 4.12.0, pip 22.1.2) and I’m getting this error. (I also tried installing the most recent standalone package for Mac, but psychopy crashes immediately after displaying the splash window.) Any idea what might be going wrong?

[code]

[2022-08-15 15:49] Mitchellb16 opened #5088 "Internal error on launch, built from conda on windows"
Hello,
I get the following error in a popup when I open any recent project in builder. Version: 2022.1.4. I'm guessing this may have to do with building with conda (changed python version to 3.7 in yaml file)?

Traceback (most recent call last):
  File "C:\Users\15093\anaconda3\envs\psychopy\lib\site-packages\psychopy\app\builder\builder.py", line 885, in OnFileHistory
    self.fileOpen(filename=p

[2022-08-15 17:06] tab-cmd commented on #5086
I'm getting a similar error in my automated builds. The only difference I can tell between when it was passing and started giving me the error @sadeabiodun had was this line:

[code]

previously it was downloading version 4.1.1.

See https://github.com/CAMBI-tech/BciPy/runs/7842180827?check_suite_focus=true for the full trace. It fails on macOS only python versions 3.7 and 3.8.

This PR likely wou

[2022-08-16 11:51] peircej commented on #5075
I'm afraid I'm inclined to disagree with this one, on the basis that:

1. I _think_ the need to know the timezone of the participant is exceedingly rare, even when data are collected in international settings. Then again, what's your use-case where the absolute time is needed rather than the relative time for the participant?
2. the timezone and/or UTC time can be added into the data file with a s

[2022-08-17 11:00] peircej commented on #1814
This could do with looking at again, one day, as various things have changed:
- A number of dependencies do now exist as wheels (e.g. psychtoolbox on all platforms) and others may have been added to conda (e.g. soundfile?)
- I'm currently also working on a system for providing fewer core dependencies and adding others as extras to be installed with `pip install psychopy[hardware]` or possibly enti

[2022-08-17 13:28] matthiasdold opened #5091 "OverflowError: line number table is too long - when importing visual from latests psychopy"
Hi all,

I am encountering the following `OverflowError` when installing `psychopy` from pip.

Steps to reconstruct
[code]
Then running a simple import fails like this

[code]
Searching for this Overflow error leads to reports during conversion of large float or storing a pandas data frame as `hdf5`.

The problem is that linebreak_class is actually a single dictionary with >300k lines and abou 4.5

[2022-08-22 12:06] hiki-t commented on #4817
Actually, I also encountered this problem and found a work around.
My environment, OS Ubuntu 18.04

There seems to be a problem with the latest pip (e.g. 22.2.2).

[stackoverflow.com](https://stackoverflow.com/questions/71009659/note-this-error-originates-from-a-subprocess-and-is-likely-not-a-problem-with)

I downgraded to
pip==21.3.1

and the error is gone.

[2022-08-23 18:58] #4544 closed, assigned to nobody

[2022-08-24 19:00] glupyan opened #5097 "Pocketsphinx troubles"
We've been having a hell of a time getting pocketsphinx to work. We're not the only ones it looks like -- these issues https://github.com/cmusphinx/pocketsphinx/issues/171 are still not fully resolved.

Is there a way of using the Psychopy.microphone without it? We don't need it to do any actual speech to text.

[2022-08-31 14:09] LintonVision opened #5101 "Macbook Pro Gives Wrong Resolution (+ Overrides Specified Resolution)"
Hi,

I have a 2016 Macbook Pro with a Retina Display. I think I'm having the same issue as a number of previous commentators in the discourse channel. PsychoPy gets the wrong resolution from the screen [1680, 1050] and overrides my specified resolution [2880 1800]:

`WARNING User requested fullscreen with size [2880 1800], but screen is actually [1680, 1050]. Using actual size`

What this means is

[2022-08-31 15:08] mdcutone commented on #5101
MacOS reports the window size as smaller than the actual framebuffer when creating windows on retina displays. I think the solution here would be for us to provide an option to disable retina scaling, allowing you to override the setting.

[2022-08-31 17:27] LintonVision commented on #5101
Awesome, thanks so much Matthew!

[2022-08-31 21:51] shabkr commented on #4831
Saw some recent discourse posts about this issue, so here is list of affected/unaffected versions for reference.

Unaffected Versions:
- 2021.2.3

Affected Versions:
- 2022.1.1
- 2022.1.3
- 2022.2.1 (https://discourse.psychopy.org/t/participant-id-not-saving-in-data-file-name/30623 and https://discourse.psychopy.org/t/participant-info-not-saved-on-filename-csv/30029)
- 2022.2.4

Untested Versions:

[2022-09-01 11:22] TEParsons commented on #4756
Closing this as it's an upstream issue and Pyglet seem to have resolved it (the linked issue is closed, at least)

Please reopen if the bug persists

[2022-09-01 11:22] #4756 closed, assigned to nobody

[2022-09-01 14:26] mdcutone commented on #5097
Which version of PsychoPy are you using?

[2022-09-05 11:25] hsogo opened #5106 "Issues in start/stop codes of Microphone component"
I found several issues in the start/stop codes of the Microphone component.
Here attaches examples.
[mic_demo.zip](https://github.com/psychopy/psychopy/files/9488965/mic_demo.zip)
- mic_demo.psyexp: "Stop" of the Microphone is blank and the routine is stopped by a key press.
- mic_demo_5.psyexp: "Stop" of the Microphone is "5 sec". The routine can be stopped by a key press.

With PsychoPy 2022.2.4

[2022-09-06 10:59] scmanjarrez opened #5108 "Psychopy3 error on Plavovia.org -> User -> Log in (AttributeError: 'NoneType' object has no attribute 'username')"
Sorry if the error is already posted, I looked for open/closed issues, but couldn't find the exact error.

After a clean install, I'm unable to log in Pavlovia.org, the program crash with the following error:

[code]
![Peek 2022-09-06 12-52](https://user-images.githubusercontent.com/9284124/188617369-6d436b91-2571-4566-9c65-6b4d4d50dadf.gif)

I've removed the folders in ~/.cache/psychopy and ~/.ps

[2022-09-07 07:03] LordFckHelmchen commented on #5075
My concern would be that when you run online/distributed experiments, that you end up with different timestamps. I agree that this is a niche case, but UTC would simply prevent any problems there (and parsing the additional timezone info isn't really a hard overhead).
Imho, On 3., handling it directly out-of-the-box would make things more uniform as no timezone handling would have to added anywher

[2022-09-08 14:42] #5075 closed, assigned to TEParsons

[2022-09-08 15:31] peircej commented on #5108
Great issue reporting! :-)
We'll look into it

[2022-09-09 11:28] TEParsons commented on #5108
I second Jon's comment about your reporting etiquette, it's super helpful to have a video for recreating it!

When `gitlab` doesn't have an attribute `user` (such as when logged out) we have behaviour to handle this, but having a user object but no username isn't a situation I've been able to get into so I didn't think to error catch it. I'd guess this is a difference between how pygitlab works in

[2022-09-09 11:36] scmanjarrez commented on #5108
Let me know if I can help you testing the Linux code, thank you!

[2022-09-12 12:01] #5108 closed, assigned to TEParsons

[2022-09-12 12:51] scmanjarrez commented on #5108
Thank you! I've installed latest release commit and now is working

[2022-09-15 09:24] timlac opened #5132 "App doesn't start on Ubuntu 22.04"
I've installed psychopy using the commands:

[code]

Running `psychopy -v` i get the following output:

Trying to start the app (in the enviroment) using either:

[code]
doesn't give any results, nothing happens... Any thoughts on this?

[2022-09-16 11:57] dip-c opened #5135 "visual.Window.resetViewport() error"
When I run

[code]
with psychopy 2022.1.4 and python 3.8.13 on a Win10 laptop with integrated graphics, I get an error
[code]

It seems that the line should be `self.scissor = self.viewport = [0,0] + self.frameBufferSize` to correctly reset the viewport.

Edit: I didn't see the frameBufferSize is a numpy array, so the fix should be `self.scissor = self.viewport = [0,0] + self.frameBufferSize.tolis

[2022-09-17 02:07] mrribbits commented on #5132
The following steps work for me on a clean Ubuntu 22.04 install, adapted from [here](https://discourse.psychopy.org/t/how-to-install-psychopy-2022-1-4-on-ubuntu-22-04-using-virtualenv/30125).

`sudo apt install swig libpulse-dev libasound2-dev libgtk-3-dev git libwebkit2gtk-4.0-dev libxcb-xinerama0 libegl1-mesa gcc g++ libgtk-4-dev `
` conda create -n psychopy python=3.8 `
` conda activate psychop

[2022-09-20 09:40] JensBoelte opened #5141 "column separator in output file"
Hello,

while PsychoPy supports different output separators in the result csv-files, the csv recorded via Pavlovia only come with a comma as separator. It would be nice if Pavlovia uses the same separator as set in PsychoPy.

Best wishes and thanks for your work Jens

[2022-09-26 19:24] Ao-zhang opened #5149 "wglChoosePixelFormatARB is not exported by the available OpenGL driver. ARB_pixel_format is required for this functionality."
when i try to use flask to support request calling functions to raise such a test, it shows me the error above.
it seems that psychopy don't support running in not-main thread?

don't know how to fix that
![image](https://user-images.githubusercontent.com/52751986/192362417-f548c225-dc2a-4c01-b50f-4604985321d7.png)

[2022-09-26 23:49] #5135 closed, assigned to mdcutone

[2022-09-26 23:51] mdcutone commented on #5149
Your driver does not support that extension, therefore it cannot export the function which depends on it.

[2022-09-26 23:52] #5106 closed, assigned to mdcutone

[2022-10-04 05:52] arnon-weinberg opened #5159 "Pavlovia registration makes user's GitLab commit email public"
After completing the registration process via [Pavlovia](https://pavlovia.org/), [GitLab](https://gitlab.pavlovia.org/) > User > Profile > Commit email defaults to making the user's email address public.

I can't imagine anyone thinking this is good as-is, particularly as git usage is effectively opaque to PsychoPy users, not to mention Pavlovia's [commitment](https://pavlovia.org/docs/home/ethics

[2022-10-06 00:25] shawnrhoads opened #5160 "Broken hyperlink at `https://psychopy.org/online/shelf.html`"
One of the hyperlinks [on this page](https://psychopy.org/online/shelf.html) is broken ([location in repo](https://github.com/psychopy/psychopy/blob/release/docs/source/online/shelf.rst)). Specifically the one in this section:

Can someone point me to the correct link? Is it supposed to be this one? https://psychopy.github.io/psychojs/Shelf.html

Thanks!

[2022-10-10 07:48] jolgen opened #5164 "Button component: Option to only register a "new" click"
Apparently, the button component does not check whether it registers a "new" klick or if it's just a continuing "mouse down"-event.
This leads to issues when button components are used to advance to the next routine and those buttons are placed in the same spot for multiple routines.

Example:
When the user presses button bt_a on routine A, continueRoutine is set to False and A is terminated at th

[2022-10-11 12:33] smathot commented on #5091
Same issue on Ubuntu 22.04 with PsychoPy 2022.1.1. Oddly, of two systems with (as far as I can tell) identical software, only one of the two suffered from this error.

[2022-10-11 19:46] shabkr commented on #4831
This might be caused by the order of code lines in the ```updateInfo()``` JS function.

In version 2022.2.4 (bug present), the file-name is created with
```  psychoJS.experiment.dataFileName = (("." + "/") + `data/${expInfo["participant"]}_${expName}_${expInfo["date"]}`);```
before the URL parameter info is read with
```util.addInfoFromUrl(expInfo);```

In versions 2020.1 and 2021.2.3, the ```psyc

[2022-10-12 08:25] benmoran56 opened #5168 "FYI, pyglet is releasing v2.0 soon, which has breaking changes"
For a heads up, pyglet 2.0 will be released in the near future.
This includes migrating the core of pyglet to OpenGL 3.3+, which may cause issues for projects that use legacy OpenGL calls.
In the immediate future it might be a good idea to pin the pyglet dependency to `pyglet<2.0`, until it can be checked against the new release.

[2022-10-12 13:06] smathot opened #5169 "Setting the `size` attribute of a GratingStim doesn't always change the size"
I'm experiencing a strange issue where setting the `size` attribute of a `GratingStim` doesn't have any effect, except in specific contexts. I haven't been able to figure where it comes from, but herewith some examples to illustrate the issue. This is with PsychoPy 2022.1.1 on Ubuntu 22.04.

The script below should draw a 50 × 50 stimulus. However, it actually draws a full-screen stimulus, i.e. th

[2022-10-12 13:17] mdcutone commented on #5168
Thanks for the heads up. We're planning to move to OpenGL 3.3 anyways in the next few releases.

[2022-10-12 13:49] peircej commented on #5168
Yes, thanks for getting in touch @benmoran56

Just to clarrify, does this mean that pyglet will not be exposing the older calls in the lib? Mostly we use pyglet to create the window and then use it merely as a conduit to the gl library, so that might not affect us enormously. How will we check this out to test? Is pyglet 2.0 going to be based on the current pyglet master branch or is this in a sep

[2022-10-12 14:11] benmoran56 commented on #5168
Hi Matthew, Jon,

Yes, the 2.0 code is in master. It's also on pypi as `2.0b1`, with a full release to come shortly.

The legacy gl bindings are still there, but have been moved to `pyglet.gl.gl_compat`. pyglet will now create a GL 3+ context when you create a Window, so if you wanted to use legacy GL you would need to make a custom `gl.Config` to pass in. This hasn't been tested much though, so I

[2022-10-13 08:53] peircej commented on #5159
Hmm, that's an interesting issue. I guess the design decision from git itself is that if an open project (code or science) has changes then it's useful to be able to track down the individual that made those changes, but I can see that isn't always desirable.

GitHub assigns anonymous emails as a workaround (I don't know if it changes the git history to do that or just anonymises them in the web v

[2022-10-13 13:12] cantordust commented on #5091
Same issue encountered on OpenSuSE Tumbleweed.

[2022-10-13 17:29] arnon-weinberg commented on #5159
The [API](https://docs.gitlab.com/ee/api/users.html#user-modification) says:

This affects the actual git history, not just the web view, but only going forward.

Fixing history backwards is a lot more work, and only possible for project admins, so contributors and projects that have been forked are out of luck.  If this is something that you guys can help with, then that would be appreciated, as

[2022-10-14 12:34] #4863 closed, assigned to TEParsons

[2022-10-18 16:45] mdcutone commented on #5168
"As for upgrading, how much legacy GL is PsychoPy reliant on? I had a quick browse, but only saw the project/matrix calls. I'm afraid I'm not very familiar with the library."

Quite dependent actually, we use lots of legacy calls, even our shader code is not 3.3 compliant. We do have a library called `gltools` which is intended to simplify porting over to newer OpenGL versions, but we haven't begu

[2022-10-19 08:18] benmoran56 commented on #5168
In that case, it's probably best to just pin the version as `pyglet<2` for the time being.
The 1.5 branch will remain for the foreseeable future.

[2022-10-25 19:50] mdcutone commented on #5091
Linux compatibility isn't great right now, lots of stuff broke with Python 3.10. Presently working on it.

[2022-10-27 08:35] dorcatty opened #5182 "what is the correct input parameter to run psychopy/psychopy/contrib/quest.py"
Dear all,

In order to better understand how 'Quest.py' demo works, i would like to run this python code first.
However, i got some errors, while testing with input values, as following:
Specify true threshold of simulated observer: -2
Estimate threshold: -1
----
The intensity scale is abstract, but usually we think of it as representing log contrast.
Specify true threshold of simulated observer:

[2022-10-29 04:44] Ao-zhang commented on #5149
but I don't know which openGl driver can support it

[2022-11-02 15:10] TEParsons commented on #5164
This is a bug, if a button starts the routine clicked then it definitely should not count as a new click! PR #5190 fixes this by making sure that `.wasClicked` is set to `True` if the routine begins with a mouse button already pressed, meaning it isn't registered as a new click.

[2022-11-04 11:42] #5164 closed, assigned to TEParsons

[2022-11-04 13:26] TEParsons commented on #5091
I believe #5185 fixes this :)

[2022-11-04 13:26] #5091 closed, assigned to mdcutone

[2022-11-04 15:29] mdcutone commented on #5168
Once again, thanks for informing us. We just pegged the version in our release branch to 1.5.

[2022-11-04 15:29] #5168 closed, assigned to nobody

[2022-11-05 15:59] jessicabrinegar commented on #4412
@TEParsons Has this issue been addressed by any chance?

[2022-11-14 20:51] Qcatbot opened #5212 "err"

[2022-11-15 01:57] mdtdev commented on #5088
Any update on this? It looks like we need to switch to python 3.7...

I get this error:
[code]
I followed the website instructions for `conda` and get the above from running `psychopy` on the command line.

Any ideas/advice welcome!

[2022-11-15 03:07] mdtdev commented on #5088
UPDATE: Manually updating the `psychopy-env.yml` to Python 3.7 does fix my error.

[2022-11-19 23:46] tbenst opened #5215 "remove javascripthon?"
As far as I can see, `javascripthon` is not used in psychopy codebase, but it causes the build to fail on macOS for python 3.9.

javascripthon depends on metapensiero which depends on dukpy, which fails to build on macOS.

I understand this was discussed previously as well: https://github.com/psychopy/psychopy/issues/2757

[2022-11-19 23:58] tbenst opened #5216 "Supporting Python 3.10+"
Currently, psychopy only builds reliably on Python 3.8, as this is what is used by the [test suite as written in Jun 2020](https://github.com/psychopy/psychopy/blob/dev/travis/environment-3.8.yml). I've successfully built PsychoPy on Ubuntu up to Python 3.10, and on macOS up to Python 3.8.

Python 3.8 received its [final bugfix in May, 2021](https://www.python.org/downloads/release/python-3810/).

[2022-11-20 00:15] tbenst opened #5217 "Declare optional dependencies with extras_require"
Psychopy is difficult to build on systems without `sudo` access due to dependency on `pyo`, which in turn requires certain system packages to be installed which can't be done in userspace. `pyo` however is just one of multiple choices for audio backends. AFAICT, `pyo` is thus an optional dependency as as such [should be listed under `extras_require` instead of `install_requires`](https://stackover

[2022-11-21 15:48] frankpapenmeier opened #5222 "PsychoJs files created within index.html folder instead of next to psyexp causing 403 forbidden error (when using run the study online button on new project)"
PsychoPy Builder sometimes creates the js (and html) files in a folder called "index.html" which then causes a "403 Forbidden" error message on Pavlovia because the files are not in the expected location (next to the psyexp file).

I think this bug already exists longer (maybe since 2022.2.0), but before I was not able to easily reproduce it. Today, I noticed that it always occurs if one creates a

[2022-11-21 21:40] mdcutone commented on #5216
We're having a hard time supporting Python 3.10+ on Ubuntu because implicit casting of numeric type arguments has being removed. This breaks wxPython and there hasn't been a fix released yet.

[2022-11-22 03:12] tbenst commented on #5216
wxPython from conda-forge has a release for Python 3.10 and 3.11: https://anaconda.org/conda-forge/wxpython.  This branch of PsychoPy builds on Ubuntu 22.04 when using wxPython from conda forge: https://github.com/tbenst/psychopy/tree/2022.2.4_tyler. The only change is removing two dependencies.

[2022-11-23 12:20] TEParsons opened #5225 "Discrepancy between fill vertices and border vertices"
Still trying to work out exactly what causes this, but if you create a rectangle with 8 vertices rather than 4 (so there's 1 in the middle of each side) and then append a point outside of the rectangle, the border of the rectangle joins up as you'd expect but the fill doesn't. It seems to skip some vertices. You can see this by running the below code:
[code]

The images created look like this:
![p

[2022-11-23 12:32] TEParsons commented on #5225
If you use `verts.reverse()` to arrange vertices anticlockwise, it instead results in this:
![point_ 0, -1](https://user-images.githubusercontent.com/25686106/203547696-b7d507bf-fee2-431b-b3a5-94d311d58733.png)
![point_ 0, 1](https://user-images.githubusercontent.com/25686106/203547700-9a35b112-eefa-4f3a-ab7d-a7a1bf0368cc.png)
![point_ 1, 0](https://user-images.githubusercontent.com/25686106/20354

[2022-11-30 21:27] da5nsy opened #5236 "typo at `/psychopy/blob/dev/psychopy/visual/noise.py#L41`"
radom -> random?

[2022-11-30 21:37] da5nsy opened #5237 "PR655 failure to detect"
Copying from: [Cannot connect Photoresearch PR655 to PC using Psychopy, Communication Protocol Problem?](https://discourse.psychopy.org/t/cannot-connect-photoresearch-pr655-to-pc-using-psychopy-communication-protocol-problem/25595)

Cannot connect PR655 using PsychoPy3, but works fine with PsychoPy2.

It looks like it looks like [this](https://github.com/psychopy/psychopy/pull/2537/files/8cd75b807