[2021-01-27 12:31] isolver commented on #3436
Formatting is now completely removed from the text and formating info is stored in a seperate list. Otherwise text editing operations become a nightmare.

In editing situations, researchers will want to get the text that was entered by the participant, not any format stuff that was never visible to the user as text.  I think we need to give access to the text both with and without formaters, Q is

[2021-01-27 12:59] #3466 closed

[2021-01-27 13:06] isolver commented on #3436
@peircej, so I'll change it so that `textbox2.text` returns the text with formating tokens (<b>, </b>, ..) included as you suggest. I'll also add a read-only `textbox2.visibleText` property that returns only the visible / drawn text chars. Cool?

[2021-01-27 14:19] isolver commented on #3436
I've implemented the changes discussed above and committed into existing PR.

[2021-01-27 15:17] #3391 closed

[2021-01-27 15:20] #91 closed

[2021-01-27 15:22] mdcutone commented on #231
This seems like it has been addressed with the inclusion on the "Runner" view.

[2021-01-27 15:22] #231 closed

[2021-01-27 15:23] #594 closed

[2021-01-27 15:24] #611 closed

[2021-01-27 15:25] #753 closed

[2021-01-27 15:26] #818 closed

[2021-01-27 15:26] #781 closed

[2021-01-27 15:27] #21 closed

[2021-01-27 15:27] #581 closed

[2021-01-27 15:29] #3449 closed

[2021-01-27 15:34] #1728 closed

[2021-01-27 15:36] mdcutone commented on #1523
We removed the **kwargs argument as of PsychoPy 2021+ for visual stimuli classes. Documentation is also being refreshed.

[2021-01-27 15:36] #1523 closed

[2021-01-27 15:38] mdcutone commented on #1541
PTB and iohub are available now and are being maintained.

[2021-01-27 15:38] #1541 closed

[2021-01-27 15:47] peircej commented on #3436
sounds good

[2021-01-27 15:55] peircej opened #3469 "Keyboard component not handling the don't store-correct case very well"
Recent changes to components mean that Keyboard is now a bit weird. Creating a kyeboard with default params give the screenshot below.
- let's not give a warning about using code when corrAns is empty (or store Correct is unticked)
- let's _disable_ the corrAns control but leave it visible when store correct is unticked. Alternatively we need to remove the $, but currently we remove everything exc

[2021-01-27 16:46] mdcutone commented on #3450
This should be fixed when the vectorized color class is pulled in.

[2021-01-27 17:31] mdcutone opened #3472 "Coder frame size is small on fresh install"
When opening coder for the first time after a fresh install (or deleting all the prefs) it has a uselessly small frame size. Sizes are persistent across application startups when the user manually sets the size of the frame and panels, so that works at least. However, I cannot figure out why no matter what I set the initial frame size to, it gives me some completely different result.

[2021-01-27 20:27] mdcutone commented on #2645
This has been resolved in a recent PR.

[2021-01-27 20:27] #2645 closed

[2021-01-27 20:29] mdcutone commented on #3427
@TEParsons have you had time to look into this? Seems like something I can handle.

[2021-01-27 23:06] TEParsons commented on #3427
I've not, so yes please do!

[2021-01-28 10:50] RebeccaHirst opened #3476 "BUG: \n in f string inserts new line in JS code"
Using an fstring in a textstim e.g.

$f"I would like a \n line break here"

Will result in a linebreak in the exported .js code.

[2021-01-28 11:14] isolver commented on #3429
Looks like pyglet 1.5.1x is needed for macOS Big Sur, need to use 1.4.x on windows and linux and 1.5.11 on macOS.
Is there a way to tell pip to install 1.4.11 if it is macos version <= catalina, otherwise install 1.5.1x?

[2021-01-28 11:44] TEParsons commented on #3476
I've figured out why this happens; it's because an f string specified in Builder is interpreted as code, so all the stuff we do to strings to escape \n characters doesn't happen to it. Eventually I'd like to make all string params compile as f strings, so this specific problem would be fixed by that, but in general we still need something to parse strings within code params the same way we parse s

[2021-01-28 14:26] #3436 closed

[2021-01-28 16:29] #3340 closed

[2021-01-28 16:30] #3461 closed

[2021-01-28 16:30] #3429 closed

[2021-01-28 18:21] isolver opened #3481 "Circle stim drawing issue"
This circle does not seem to draw anymore:

[code]

[2021-01-28 19:16] mdcutone commented on #3427
How do I replicate this? I might be missing how this works.

[2021-01-28 22:17] mdcutone commented on #1467
@isolver Is this something that has been dealt with in iohub?

[2021-01-28 22:19] #2039 closed

[2021-01-29 11:15] isolver commented on #1467
Yes, iohub is now using (since early 2019 I think) the tobii-research package.

[2021-01-29 11:15] #1467 closed

[2021-01-29 11:30] igmmgi opened #3485 "TrialHandler and TrialHandler2"
extraInfo is missing in output file of TrialHandler2 .saveAsWideText
Coder demos --> exp control --> trialHandler.py and TrialHandler2.py show this behaviour. Is this expected?

[2021-01-29 12:21] isolver opened #3486 "Add python-vlc to setup.cfg"
MovieStim2 and the VlcMovieStim require the python-vlc package so it should be added to setup.cfg.

[2021-01-29 15:15] mdcutone opened #3488 "Error when changing themes"
When attempting to change themes I get this error.

[code]

Issue affects current main branch.

[2021-01-29 15:24] mdcutone commented on #3488
Seems to prevent builder's theme from being updated.

[2021-01-29 17:14] RebeccaHirst opened #3490 "BUG: crash following input to two editable textbox components"
When two editable  textbox components are used in a routine the following error is returned when the routine ends.

File "C:\Users\44797\Desktop\test\untitled_lastrun.py", line 213, in <module>
    thisComponent.setAutoDraw(False)
  File "C:\Users\44797\PycharmProjects\psychopy\psychopy\visual\basevisual.py", line 187, in setAutoDraw
    setAttribute(self, 'autoDraw', value, log)
  File "C:\Users\

[2021-01-31 13:23] isolver commented on #3481
seems to have been fixed with latest color fixes.

[2021-01-31 13:23] #3481 closed

[2021-02-01 12:14] isolver opened #3494 "Setting 'opacity' in stim constuctor has no effect"
For example,

[code]

draws a solid red circle, even though `opacity` = 0. However setting opacity after stim is created works:

[code]

does hide the circle. Also occurs in Line stim, all should probably be checked.

[2021-02-01 13:39] isolver commented on #3490
Looking into this....I think the issue is that window keeps track of the current editable using an index into a list of editable stim, but if an editable is removed from the list, the current editable index is not updated, resulting in an error. Might be simplier to just keep a ref to current editable object instead of its list index.

[2021-02-01 20:15] #3490 closed

[2021-02-02 12:29] isolver opened #3503 "Saving files to demo folders - Windows standalone"
On Windows, demo's can not save files to the demo directory when running from `C:\Program Files\PsychoPy3\Lib\site-packages\psychopy\demos` unless running app as administrator. For example,

[code]

I think this issue would also exist for any experiment saving data files to the experiment folder. It is also an issue for starting any iohub experiment.

Should demo's be installed to a user folder in

[2021-02-02 12:42] isolver opened #3504 "Some Windows standalone python packages need to be updated"
Some of the python packages used by the Windows standalone installer should be upgraded. This list maybe expanded as more testing is done.

- [x] `python-vlc` : vlcmoviestim and moviestim2 demo's fail because of incompatibilities with version of python-vlc being used.
- [x] `pyglet`: shipping with 1.3.x, should upgrade to 1.4.x

It might even be simplest to uninstall all the psychopy dependencies

[2021-02-02 13:24] isolver opened #3505 "Uninstalling Windows standalone from custom install folder"
The PsychoPy3 Windows uninstaller seems to assume that PsychoPy3 was installed in the default install location, even if it was installed to a different directory. For example, I installed to `D:\PsychoPy3` but the uninstaller tries to uninstall from `C:\Program Files\PsychoPy3`, which does not exist.

![uninstall_path_diff](https://user-images.githubusercontent.com/1795082/106605989-f7353c80-6537-

[2021-02-02 13:35] isolver opened #3506 "Coder demo names"
The demo list view from within PsychoPy3 Coder should:

- [x] Show folder and file names that match the file system folder / file names.
- [x] Hide any folder or files starting with a '_', including '\_\_pycache\_\_' folders.
- [x] Only display files ending in .py

[2021-02-02 15:55] #3450 closed

[2021-02-02 16:18] TEParsons commented on #3392
Found it! Problem is that the code compiling for keyboard component does a lot of stuff manually so it skips things like the `__str__` overload for list params, so the dollar doesn't get stripped like it does in other params. Putting in a fix for this specific issue, but I think we can actually cut out a lot of this code as it's already handled by param printing. I'd like to tidy it up for the sum

[2021-02-02 16:43] peircej commented on #3392
Mouse/keyboard code writing is very tricky to get right - we've had *many* issues with it in the past. Needs to be handled with **extreme** caution

[2021-02-02 22:15] #3446 closed

[2021-02-03 08:55] hsogo opened #3514 "Some tooltips need to be updated"
I'm working on translation of 2021.1.0 and noticed that some tooltips need to be updated.

"Color" parameters
---------------------------

Tooltip says that right-click brings up a color picker, but this operation doesn't work in 2021.1.0.

![1](https://user-images.githubusercontent.com/2094930/106720128-6e58f680-6646-11eb-8ac3-56905decc363.png)

"Flip" parameter of Text Component
----------------

[2021-02-03 14:01] TEParsons commented on #3447
Fixed in #3483

[2021-02-03 14:01] #3447 closed

[2021-02-03 15:04] mdcutone opened #3519 "Error when opening a file using the file browser pane"
Coder's file browser pane raise an error when opening a non-text file. Error is harmless but annoying.

[2021-02-03 16:09] mdcutone commented on #3519
The raised error looks like this:

[code]

It only happens when there is no editor open.

[2021-02-04 09:34] #3392 closed

[2021-02-04 09:34] #3469 closed

[2021-02-04 09:41] #3514 closed

[2021-02-04 10:32] peircej commented on #3505
Closing as duplicate of #3201

As it stands I don't know how to fix this issue. The script that creates the NSIS installer *appears* to be set correctly (see below) https://github.com/psychopy/psychopy/blob/36db4db1c19018f6dbd6a37ea999337077b9af14/buildCompleteInstaller.nsi#L201

My best guess right now is that this is a bug in NSIS

[2021-02-04 10:32] #3505 closed

[2021-02-04 10:34] peircej commented on #3472
Fixed in 59869dee78d07c7f69b4a089b15901995ac775d9

[2021-02-04 10:35] #3472 closed

[2021-02-04 10:39] peircej commented on #3411
I suspect that this is an issue with selection of font

The text on the left is being rendered through a different system (pyglet) and probably using a different font. The text on the right is rendered with our own system, TextBoxStim, and I know that can handle hebrew characters but might have selected a font that does not

[2021-02-04 10:39] peircej commented on #3397
Is this one fixed?

[2021-02-04 10:41] peircej commented on #3519
Fixed in fe5e7a4

[2021-02-04 10:41] #3519 closed

[2021-02-04 13:47] peircej commented on #3465
These files were updated for test release dev3

[2021-02-04 13:47] #3465 closed

[2021-02-04 13:49] peircej commented on #3503
This is true for mac too. In the past, Builder demos were saved out to user space (hence the "unpack demos..." in Builder>demos ) because Builder demos usually need to save data, but we didn't bother for Coder demos because they didn't typically save anything

[2021-02-04 13:56] isolver commented on #3503
But some do, including the iohub demos. Maybe we should just add a comment
on the top of  coder demos that need to be saved into a user writable
folder for it to work?

On Thu., Feb. 4, 2021, 9:50 a.m. Jon Peirce, <notifications@github.com>
wrote:

[2021-02-04 13:57] peircej commented on #3504
I don't fancy upgrading the entire dependency stack just before a release. I've updated:
- python-vlc to 3.0.1115
- pyglet to 1.4.11 on Win (and it was already 1.5.10 on macOS)

[2021-02-04 13:57] #3504 closed

[2021-02-04 14:15] isolver commented on #3504
Thank you.

On Thu., Feb. 4, 2021, 9:58 a.m. Jon Peirce, <notifications@github.com>
wrote:

[2021-02-05 12:38] isolver commented on #3401
fixed

[2021-02-05 12:38] #3401 closed

[2021-02-05 13:13] isolver commented on #3203
I can reproduce this issue on win10. TextBox also does not draw characters like कोशिकायें. I've been testing using FantasqueSansMono, which does have the character glyphs in question. In TextBox, the hindi characters are not displayed (a blank area is displayed), in TextBox2 they are drawn as a box, like:

![textbox2_hindi](https://user-images.githubusercontent.com/1795082/107037037-e92e2880-6790-

[2021-02-05 14:23] #3486 closed

[2021-02-05 17:54] mdcutone commented on #3397
Still happens in the internal build.

[2021-02-07 21:18] mdcutone commented on #3397
I have this fixed, I'll push out the updated version very soon.

[2021-02-08 13:14] TEParsons commented on #3506
I think this is the case now :)

[2021-02-08 13:30] isolver commented on #3506
in the dev4 build or the latest master branch? thanks.

On Mon, Feb 8, 2021 at 9:15 AM Todd Parsons <notifications@github.com>
wrote:

--
Sol Simpson

iSolver Software Solutions
Software with a Vision

[2021-02-08 13:37] isolver opened #3539 "colors.py demo exception"
While testing colors.py demo with the dev4 build, the following exception occurred:

[code]

I was pressing the different color buttons and typing in random text when it occurred.

I'm also not able to select the left or right most color types displayed in the demo using the mouse.

[2021-02-08 14:10] isolver commented on #3506
Atleast on win10, the \_\_pycache\_\_ seems to still get displayed if present.
Demo files names are being maintained, but _folder_ names are being reformed, maybe that is by design and not actually an issue.

![coder_demos](https://user-images.githubusercontent.com/1795082/107230681-be90d980-69f5-11eb-9ccf-387f0841a7be.png)

[2021-02-08 16:01] TEParsons commented on #3539
Forgot to tag but this is fixed in #3541

[2021-02-08 16:31] mdcutone commented on #3488
Closing this because I can't replicate it. Might pop back up at some point.

[2021-02-08 16:31] #3488 closed

[2021-02-08 16:34] mdcutone commented on #3427
Okay I figured this one out. I'll put a patch out.

[2021-02-08 17:10] tpronk opened #3545 "API docs for slider mention 'scrollbar' style. Should be 'radio' style?"
The line below mentions the 'scrollbar' style. In the code I notice there isn't a scrollbar style available, but there is a 'radio' style that isn't mentioned in the API docs. https://github.com/psychopy/psychopy/blob/a00b1f634001331f6638f5c8eeabb54dd3689b70/psychopy/visual/slider.py#L574

[2021-02-08 17:48] #3397 closed

[2021-02-08 17:55] #3427 closed

[2021-02-08 18:01] #3494 closed

[2021-02-08 18:01] #3539 closed

[2021-02-08 18:25] #1073 closed

[2021-02-08 18:26] mdcutone commented on #1054
@isolver Is this still an issue? We should close it otherwise.

[2021-02-08 18:48] #1054 closed

[2021-02-10 02:04] #1966 closed

[2021-02-11 12:43] isolver commented on #2386
closing. can no longer produce any of the errors mentioned in this issue when using the latest master branch source. Tested on Mint Linux 19.1

[2021-02-11 12:43] #2386 closed

[2021-02-11 12:54] isolver commented on #1819
This device code was likely never properly moved to python3 and has since been removed from the iohub supported device list.

Should I bring this back in? The time stamping of events from an xinput device has the same considerations as a keyboard or mouse, i.e. accurate time stamping requires ability to process events as soon as they are available

[2021-02-11 12:58] isolver commented on #2302
closing, whatever the issue was, it should be fixed in the latest source. Tested eyelink 1000 on win10, linux (Mint 19.1), and macos Catalina.

[2021-02-11 12:58] #2302 closed

[2021-02-11 13:08] isolver commented on #1811
Closing this as the issues not related to running via Spyder should have all been fixed by now.

Further, iohub experiments seem to run fine with Spyder 4 and Python 3.6 as long as you set the script to "Excecute in a dedicated console" in the Spyder Run settings.

[2021-02-11 13:08] #1811 closed

[2021-02-11 13:12] isolver commented on #2092
this should no longer be an issue in python 3.x.

[2021-02-11 13:12] #2092 closed

[2021-02-11 13:16] isolver commented on #2044
Closing...this no longer seems to be an issue. Running the above script using the latest master source and Python 3.6 returns:

[code]

[2021-02-11 13:16] #2044 closed

[2021-02-11 13:20] isolver commented on #1783
closing as iohub no longer supports smi eye trackers and I see no issues with sending/storing experiment messages.

[2021-02-11 13:20] #1783 closed

[2021-02-11 13:23] isolver commented on #1773
iohub experiment code's have a max length of 24 characters. Adding this to list of things to fix in iohub refactor work.

[2021-02-11 13:28] isolver commented on #1638
Fixed (not sure when). Code is using Image.fromarray now

[2021-02-11 13:28] #1638 closed

[2021-02-11 13:32] #1372 closed

[2021-02-11 13:38] isolver commented on #1283
@peircej, can we close this?

[2021-02-11 13:42] isolver commented on #1239
This issue seems to be fixed. Tested with python 3.6, using eyelink 1000, on macos catalina.

[2021-02-11 13:42] #1239 closed

[2021-02-11 13:44] isolver commented on #1226
Good example of improving error handling..

[2021-02-11 13:56] isolver commented on #631
This might still be a bug. WTF. I'll look into it.

[2021-02-11 13:58] isolver commented on #620
not actually a bug, using [0,0] could be a location.

[2021-02-11 13:58] #620 closed

[2021-02-11 16:47] isolver commented on #631
I see two issues:
- [x] iohub mouse.setPosition
- [x] initial mouse position before iohub receives any mouse events

Looks like issue is in iohub.devices.mouse..._initialMousePos(), which sets mouse position in native window env pixel space thathas not been converted to psychopy coord space.

[2021-02-12 13:51] magdalenasabat opened #3559 "Windows Standalone Install Error"
Hello,

I tried to upgrade my standalone Psychopy. Downloaded the intaller for 2020.2.10 versions, it prompted to uninstall previous version, which I accepted. When it continued onto installing the new version, a series of errors starts (please find attached the screenshots for examples). The installation can be finished if all the errors (around 100) will be 'ignored' but the application doesn't

[2021-02-12 14:14] #3559 closed, assigned to nobody

[2021-02-12 15:47] isolver commented on #3506
pycache issue seems to only occur when I run psychopyApp.py from anaconda env.

[2021-02-12 15:54] isolver commented on #3420
closing, we can live with annoying for now.

[2021-02-12 15:54] #3420 closed

[2021-02-12 16:12] peircej commented on #3381
I think this is good. @Mrswolf would you care to make the change and submit a pull request so that you're credited with the fix? 😄 We can help you with the steps if needed.

[2021-02-12 20:01] #3131 closed

[2021-02-13 05:56] hsogo commented on #3090
@peircej
It seems that uniseg (https://pypi.org/project/uniseg/) is no longer maintained. So I ported code for UAX#14 line breaking algorithm as `psychopy.tools.linebreak`.  Now we don't need uniseg package.  On my Windows 10 PC, text wrapping works both on Japanese and English text.
https://github.com/hsogo/psychopy/tree/feature-textwrapping

[2021-02-14 10:20] RebeccaHirst opened #3567 "Slider has no attribute opacity"
The opacity of a slider does not change with the opacity parameter from builder (e.g. A slider drawn over a polygon with opacity set to .5). It looks as though the slider class no longer has the attribute opacity?

[2021-02-15 08:59] #631 closed

[2021-02-16 11:32] emmaducos opened #3575 "Installation issue on Ubuntu 20.04 LTS of Psychopy 3 (Linux)"
Hello there, thank you for putting out there a super nice software !

I've been trying to install psychopy3 on my linux machine, but I can't open the software, as when I type "psychopy" after a successful installation, I get this error message :

[code]

I have tried through conda or through pip, following the documentation instructions.
It seams the crux of the issue is the needed "libwebkitgtk"

[2021-02-16 11:59] isolver commented on #3575
Could you please try following the full Linux install instuctions, which can be found [here.](https://www.psychopy.org/download.html#linux)

For Ubuntu 20.04, it looks like there are only [wx wheels for Python 3.8](https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/).

Thank you.

[2021-02-16 13:29] isolver commented on #3362
Same issue as @cbrnr when running with anaconda python3.6 on macOS Catalina. Also occurs if I try to start the application using:

[code]

Running psychopy coder demo's works fine though.

Also, no issue running `psychopyApp.py` on Windows 10 with anaconda python3.6.

[2021-02-16 13:33] isolver commented on #3506
looks good in latest release source.

[2021-02-16 13:33] #3506 closed

[2021-02-16 15:33] Reoge opened #3576 "Rating slider instruction (scale description) does not work"
The problem is with Buider (2020.2.10).

If Rating slider component used with "Lowest value", "Highest value" and "Scale description", than scale has instruction (Scale description). Builder effectively creates this code:
rating = visual.RatingScale(win=win, name='rating', marker='triangle', size=1, pos=[0.0, -0.4], low=1, high=7, labels=[''], **scale='SOME SCALE INFO'**)

But if "Category choices

[2021-02-17 10:29] TEParsons commented on #3576
We're in the process of deprecating RatingScale and replacing it with Slider, so in this case it's better to make a Slider whose style is "rating", and then add a Button component and a TextBox component for the done button and scale info respectively.

[2021-02-17 10:29] #3576 closed, assigned to nobody

[2021-02-17 13:22] emmaducos commented on #3575
Dear Sol Simpson,

I have put extra care in following the instructions to install psychopy
through, pip, and it all seemed to work until I tried to launch psychopy.

I have doe the following steps :
- pip install psychopy
- download wxPython-4.1.1-cp38-cp38-linux_x86_64.whl
<https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/wxPython-4.1.1-cp38-cp38-linux_x86_64.whl>,
which is th

[2021-02-17 13:34] isolver commented on #3425
Looks like issue is two fold:
1) CustomMouse only works with 'norm' units - if window is set to any other unit type placement of any stim seems wrong.
2) Textbox2 does not support norm units, only 'height'?.
May need to leave this one until next release.

[2021-02-17 13:46] isolver commented on #3575
Thanks for reporting back on this issue.
It seems like libSDL2-2.0 is missing. Based on a stackover flow answer to a similar question, could you try:

[code]

and see if that installs the missing libs for you and fixes the issue?

distribution in python 3.6 ?

Maybe, lets see if installing the missing libs helps.

Thanks again.

[2021-02-17 13:49] isolver commented on #3345
Latest `DeprecationWarning` list for release branch:

[code]

[2021-02-17 14:39] emmaducos commented on #3575
Dear Sol Simpson,

After installing the missing libraries as you suggested, I was able to open
the psychopy software for the first time.

I tried to run an experiment that I have just successfully ran on a windows
computer with psychopy.

The experiment started but crashed almost immediately, with the following
stdout:

Welcome to PsychoPy3!
v2020.2.10
1.2509     WARNING     We strongly recommend

[2021-02-17 14:52] isolver commented on #3575
I'm not sure.
Could you try doing as part of the warnings suggest, and add the following to the very start of your script, maybe before importing psychopy:

[code]
@peircej , have you come across this PsychHID error before?

Thanks again.

[2021-02-17 15:15] emmaducos commented on #3575
I've added the suggested snippet before/after the psychopy import, but now
I get a warning that the libX11.so library is not present.

Traceback (most recent call last):
  File "/home/educos/ACClab/roughxp/roughxp_lastrun.py", line 17, in
<module>
    xlib = ctypes.cdll.LoadLibrary("libX11.so")
  File "/home/educos/miniconda3/lib/python3.8/ctypes/__init__.py", line
459, in LoadLibrary
    return s

[2021-02-17 17:01] angoodkind commented on #3362
This also works with the standalone version.

[2021-02-18 10:51] #3039 closed

[2021-02-18 17:16] #3345 closed

[2021-02-19 10:00] #3352 closed

[2021-02-19 21:50] #3567 closed, assigned to nobody

[2021-02-20 13:36] isolver commented on #3575
I'm not sure why `xlib = ctypes.cdll.LoadLibrary("libX11.so")` is failing for you. That code runs for me on Mint Linux 18.x and 19.1. I'm trying to install Ubuntu 20.04 now and will try to reproduce the libX11 issue.

Regardless though, I also no longer seem to be able to get the `psychtoolbox` working on either of the above mentiond versions of Mint Linux. I can import it, but not use it. An exam

[2021-02-21 05:13] Mrswolf commented on #3381
Okay, I have submitted a pull request. @peircej

[2021-02-21 10:30] #3381 closed

[2021-02-21 10:31] peircej commented on #3381
Thanks for your help! :-)

[2021-02-22 09:27] PhilLange opened #3599 "Not able to run multiple guis"
Hello everyone, I wanted to present several guis one after the other. The presentation of the first one still works, but as soon as I want to present the second one I get the following error message:  `Traceback (most recent call last):
  File "<input>", line 16, in <module>
  File "C:\Users\langeph\PycharmProjects\Quiz\functions.py", line 57, in quiz_psych
    myDlgpsych = gui.Dlg(title="Quiz2")

[2021-02-22 10:28] TEParsons opened #3602 "Unpacking demos creates unwanted folders, but only in compiled app"
Demos unpack as intended when using the app from GitHub:
![Screenshot (2)](https://user-images.githubusercontent.com/25686106/108695779-98d8f980-74f8-11eb-9396-f72976a37410.png)
![image](https://user-images.githubusercontent.com/25686106/108695804-9d9dad80-74f8-11eb-82a3-8206f969add7.png)

but when unpacking them in the latest version (installed rather than pulled) I get this:
![Screenshot (4)](ht

[2021-02-22 10:46] peircej opened #3603 "Can't open excel Forms template in macOS"
On a mac, if I open a new Form Component and try to use ![image](https://user-images.githubusercontent.com/380582/108697703-19005e80-74fb-11eb-88bf-3a1c25f5f50a.png)

I get this error. I guess startfile is a windows thing

[code]

[2021-02-22 11:04] isolver commented on #3575
I've installed Ubuntu 20.04 and I cannot reproduce the X11 lib missing issue, so I'm not sure what to suggest for that, sorry.

I'm still not able to run code that uses the psychtoolbox without issue though. I wonder if there is an issue with using anaconda python and psychtoolbox on linux?

If I run [this python psychtoolbox demo](https://github.com/Psychtoolbox-3/Psychtoolbox-3/blob/master/Psych

[2021-02-22 11:18] hsogo commented on #3090
Congrats on releasing 2021.1.0!
I measured how fast my linebreak module updates text by the following code (on Windows 10, WinPython 3.6.1, Core i7-6700 PC).
[text_layout_test.zip](https://github.com/psychopy/psychopy/files/6021338/text_layout_test.zip)

The results is shown below. My linebreak module was approximately 10 times slower than that by 2021.1.0.  It is too slow to update text at 60Hz.

[2021-02-22 11:24] isolver commented on #3362
This does not work for me when using anaconda, but does when starting the standalone app. When using anaonda waited 5 minutes and clicking on the python icon in the app bar does nothing I can see.

When ctrl+c the terminal, the keyboard interupt printed this stack trace:

[code]

So I wonder if it is hanging while waiting for a subprocess to start?

[2021-02-22 11:45] peircej opened #3604 "Readme.txt window appears to have lost Ctrl-I/Cmd-I shortcut key to hide"
Toggling the readme page for a Builder experiment no longer works (at least on mac).

Cmd-I will bring up the page but pressing again no longer gets rid of it.

I guess a new class has been created for the new markdown-supported frame, and this doesn't have the shortcut keys attached?

[2021-02-22 14:06] TEParsons commented on #3604
Yep that's exactly it, I actually didn't know about this shortcut so I didn't add it back in... Can do now!

[2021-02-22 14:41] mdcutone opened #3606 "Colorpicker does not open within components dialog"
For color properties of components, the button to bring up the colorpicker does not work.

[2021-02-22 15:01] TEParsons commented on #3606
Saw this on the forum too, fixed in #3605

[2021-02-22 15:13] mdcutone opened #3609 "'None' is not a valid color space when running the VSHD demo"
When running the VSHD demo `hardware` > `VSHD_Distortion.py` demo (need to change `nSamples` to `numSamples` to get it to run. The demo locks up when pressing a button and I get the following printed out to builder multiple times.

[code]

Might be related to the use of either the ImageStim or TextStim class.

[2021-02-22 15:16] mdcutone opened #3610 "Copy and pasting from the Runner output window causes an error."
I get the following error when attempting to copy and paste text from the Runner output window.

![Capture](https://user-images.githubusercontent.com/5150568/108727822-f4a28300-74f6-11eb-970d-945062919371.PNG)

[2021-02-22 15:19] mdcutone opened #3611 "VSHD_Distortion demo fails"
* Issue with a typo in the window constructor `nSamples` is incorrect. Needs to be changed to `numSamples`.
* Color settings fail for some reason, issue mirrored in #3609

[2021-02-22 16:09] isolver opened #3612 "Look at improving TextBox2 draw performance."
Try to improve the draw time performance of `psychopy.visual.TextBox2`, in particular when text has not changed since last flip(). Running the [demos/coder/stimuli/compare_text_timing.py](https://github.com/psychopy/psychopy/blob/release/psychopy/demos/coder/stimuli/compare_text_timing.py) demo gives these results on windows 10, psychopy v2021.1.0, nvidia 1060:

[code]

TextBox2 appears to be 1.5

[2021-02-22 19:57] peircej commented on #3575
Have a look at the threads here:
https://discourse.psychopy.org/t/psychtoolbox-manylinux2010-wheels/8874/4
https://discourse.psychopy.org/t/psychopy-keyboard-keyboard-psychhid-kbqueuestart-memory-fault/12005

In short, I think you *could* solve the problem by setting Python to have the right privileges to update the priority (using nice). You shouldn't need to run it with sudo all the time but you

[2021-02-22 19:59] peircej commented on #3090
Oh no! Sorry to hear that. @isolver is going to be doing some work on TextBox2 in the next few weeks. Maybe he can work out how to get your linebreak module in, in a way that maintains the speed. But otherwise, I agree, specifying the layout engine as a parameter might be needed

[2021-02-22 23:17] jhays006 opened #3614 "MovieStim constructor doesn’t assign the html movie to actually loop"
Description of the problem: The MovieStim constructor on Pavlovia never actually assigns the loop attribute to movies (so they never loop).

[code]

[2021-02-23 00:23] jhays006 commented on #3614
If you need to know where it goes wrong, this modified MovieStim subclass properly supports looping:
[code]

[2021-02-23 06:42] hsogo commented on #3090
Original uniseg package (and my port) uses sqlite3, which would be the reason for slow operation.  I think sqlite3 would be unnecessary because we only need to get line-break class of characters from their character codes.  For example, dict object would be sufficient for this purpose.  I tried this idea by adding `linebreak_class` submodule ([pushed to my feature-textwrapping branch](https://gith

[2021-02-23 11:34] isolver commented on #3090
The first TextBox stim uses the builtin [textwrap](https://docs.python.org/3/library/textwrap.html) module for wrapping, which worked very well, but I think it only supports western languages. Using the linebreak_class (or similar) looks like a great idea.

[2021-02-23 11:41] isolver commented on #3090
Googling around, also found a package called [buduo](https://github.com/google/budou) that might also be worth looking at.

[2021-02-23 12:15] isolver commented on #3460
The issue is (IMO) the meaning of `win.size` should be platform independent but it is not anymore. It should _always_ equal the windows' 'pix' coord space width and height. This is currently true on Windows and Linux, but not on macOS with retina display.  This means anyone that is using pix coord space can not use win.size to position stim correctly on macOS with retina display without also check

[2021-02-23 12:20] isolver opened #3615 "possible onKey exception in 2021.1.0"
Based on this [discourse post](https://discourse.psychopy.org/t/importerror-sys-meta-path-is-none-python-is-likely-shutting-down/20641/4), user updated to 2021.1.0 and now gets this exception in the experiment:

[code]

Asked for a copy of the experiment to see if it something specific to the project.

Looks like we should be checking that `evt` is not None in pygletbackend.onKey?

[2021-02-23 13:23] isolver commented on #3575
Thanks for the suggestion @peircej, that fixed it for me on Ubuntu 20.04.

Todo:
- [ ] update the install page for linux to include these extra _one time_ psychtoolbox setup steps:

1. Install octave and the psychtoolbox
[code]
2. Start octave from a terminal with admin privileges:
[code]
3. Executed the (interactive) script from within octave:
[code]
4. Reboot the computer.

@emmaducos, can you l

[2021-02-23 13:55] #3603 closed, assigned to nobody

[2021-02-23 13:58] #3606 closed, assigned to nobody

[2021-02-23 13:58] #3604 closed, assigned to TEParsons

[2021-02-23 14:01] #3375 closed

[2021-02-23 14:50] hsogo commented on #3090
Yes, builtin textwrap module has problem handling non-western languages. For example,

[code]
returns
[code]
However, in Japanese typesetting, `'、'` should not be placed at the beginning of a line.  As another example, when an English word is mixed in Japanese sentence, builtin textwrap module doesn't recognize it. So, a line may be split within an English word:
[code]
returns
[code]
UAX#14 can ha

[2021-02-23 15:07] TEParsons opened #3617 ".xltx files seem to be excluded standalone build"
In the repo, there are some .xltx files in the following folders:
`psychopy/experiment/form`
'psychopy/experiment`

these are the Excel templates which the Open In Excel button on `TableCtrl`s uses to make new files if none is specified, but on the standalone release these files aren't there

[2021-02-23 15:15] TEParsons opened #3618 "Pressing CTRL+F in Coder while some text is selected should do Find on that text"
Should be relatively simple - when a Finder is initialised, set the starting value of the "Find what" box to be whatever is selected

[2021-02-23 15:27] TEParsons commented on #3609
I can't replicate this, what buttons were you pressing specifically? That error I think is in the Color class - when you pass it a color space that isn't in `colors.colorSpaces` - I'm guessing at some point an object's colorSpace is set to None and it then tries to create a `Color` with space `None` rather than treating `None` as "not set" and reverting to a default...

[2021-02-23 15:40] isolver commented on #3575
Just tried the above steps on Mint Linux 18 and running the PsychLinuxConfiguration.m file from octave just returns immediately with nothing printed and nothing fixed. ;(

For Mint Linux 18 I ended up fixing the psychopy seg fault and priority issues on this version of linux by [following these instuctions](https://discourse.psychopy.org/t/installation-headaches-and-partly-fixes-on-ubuntu-20-04/16

[2021-02-23 18:20] mdcutone commented on #3609
When I press any of the buttons I get the error.

[2021-02-23 21:13] isolver commented on #3090
I tested @hsogo's implementation using `psychopy\demos\coder\stimuli\compare_text_timing.py` and once you factor draw time in I don't see any real difference in performance at all between the previous textbox2 parsing alg and the new one. Should we just use it in replace of the current code? @hsogo's code seems to work well and could be pulled in, as is, as a PR from what I can tell.

Nicely done.

[2021-02-24 00:05] #1791 closed

[2021-02-24 09:01] isolver commented on #3090
I copied the updated textbox2.py and the two new linewrap files @hsogo made and created a [branch](https://github.com/isolver/psychopy/tree/hotfix-textbox2-linewrap/psychopy) based on the the latest psychopy release branch that could also be used to pull this change in if you do not want to submit the PR hsogo. Pls let me know which you prefer.

This change seems safe enough to try and pull into t

[2021-02-24 09:55] TEParsons opened #3620 "Syncing to Pavlovia throws error in standalone"
but only in standalone - when running from PyCharm I can sync the same project successfully

[2021-02-24 10:05] hsogo commented on #3090
Thank you testing my code, @isolver.
I'd like to delete code that is no longer needed (currently commented out).
So I'll submit pull request after that.

[2021-02-24 10:40] isolver commented on #3090
Thank you. ;)

I was also looking at the [pyICU](https://pypi.org/project/PyICU/) package. It is using a compiled backend so it might give good performance, although I have not tested that. Maybe something to look into in the future. I did a simple test using it to see how it would parse the test text into words. Here is the script:

[code]

and the word segments it calcultated:

[code]

[2021-02-24 11:14] isolver opened #3623 "visualsearch_eyetracker builder demo can 'hang' during fixation routine"
The visualsearch_eyetracker builder demo can hang during the fixation routine **if** eye tracker samples never have position info (i.e. no eye being tracked) or if the eye tracker accuracy is poor and does not report the participant fixating the target location as expected.

Since it is a full screen experiment, this can be problematic. :\

[2021-02-24 11:15] isolver commented on #3623
Updating demo so, participant can press escape during the fixation routine to exit the experiment. This is already being done during the trial routine.

[2021-02-24 13:56] #3618 closed, assigned to TEParsons

[2021-02-24 15:13] #3623 closed, assigned to isolver

[2021-02-24 15:15] #3615 closed, assigned to isolver

[2021-02-24 15:26] mdcutone opened #3630 "Coder calltips appear in the wrong position"
Seems to be a bug with StyledTextCtrl since the position is being specified the same way as the autocomplete window.

[2021-02-24 18:09] mdcutone opened #3634 ""AttributeError: 'list' object has no attribute 'contains'" when running the posner task workshop example in 2021.1.0"
This error message came up during the workshop when a participant running PsychoPy 2021.1 tried to create a clickable button without using the button component (the old method).

[code]

Seems this change breaks compatibility across versions since the rest of the workshop using the preceding version did not have this issue.

[2021-02-25 04:09] sijiazhao opened #3636 "BF: When exporting HTML, Slider's style property should be exported as Array, not String (PsychoJS expects Array)"
Versions tested: 2021.1.1 (bug), 2020.2.10 (no bug)

PsychoJS expects Slider's style property to be given as an `Array`, however PsychoPy exports the style property as a `String`.

Therefore causes unrecoverable `TypeError`s whenever `forEach()` is called on the `._style` property (`forEach()` only works with Arrays).

I believe this can be fixed in PsychoPy by modifying [`psychopy/experiment/comp

[2021-02-25 13:39] peircej commented on #3636
Thanks, looking into it now. Yes, @TEParsons has been moving the Slider to have a single style and then potential 'tweaks' on top because it wasn't clear which of the existing combinations were/weren't mutually exclusive. Unfortunately I think that work has moved into the release before the JS had been updated to match

[2021-02-25 14:32] peircej commented on #3634
That looks like a bug in the user code. If `obj` is a visual stimulus and `resp` is a Mouse or a coordinate, then that code will work. In this case it looks like `obj` is not a visual stimulus but a list, so the script has failed.

Maybe `obj` has been used more than once in the experiment to define different objects (so need a better name to avoid this happening?)

[2021-02-25 14:32] #3634 closed, assigned to nobody

[2021-02-25 14:37] peircej commented on #3620
Was a problem with new experiments, fixed in 2021.1.1

fixed by #3626

[2021-02-25 14:37] #3620 closed, assigned to nobody

[2021-02-25 14:40] peircej commented on #3614
This looks like it might be an issue in the JS library code, rather than the script coming from PsychoPy, right? As far as I can tell the PsychoPy code being generated does provide the loop property _to_ the constructor

[2021-02-25 14:42] peircej commented on #3602
I'll look at this. They're probably left over files on the dev machine that aren't cleared away by git

[2021-02-25 15:20] isolver commented on #3612
One option might be to use the same old school approach as the original TextBox stim but generalize it to work with any font. This is possible and the performance should end up being about the same as the current TextBox. Not saying this is the way to go, just pointing out it is an option.

[2021-02-25 17:21] peircej commented on #3636
thanks. They should also be in cap and shoudl include the new "tweaks" (separating the mutually exclusive and the additive styles settings).

All fixed in #3644 hopefully!

[2021-02-25 17:40] #3636 closed, assigned to nobody

[2021-02-25 21:48] peircej commented on #3617
I believe this is fixed by the change to the manifest in #3646 (and the files should be in release 2021.1.2) but do check and reopen if it didn't fix it

[2021-02-25 21:48] #3617 closed, assigned to peircej

[2021-02-25 21:49] peircej commented on #3602
I believe this is fixed in 2021.1.2

[2021-02-25 21:49] #3602 closed, assigned to peircej

[2021-02-26 00:44] jhays006 commented on #3614
Right, it's the missing JS that I put in the subclass above. I was considering both PsychoPy and Pavlovia as being run by the same cohort. Does Pavlovia have a separate github to submit the issue to?

[2021-02-26 09:44] TEParsons opened #3648 "LTR/RTL do nothing in Textbox"
These haven't been implemented yet but are exposed in Builder

[2021-02-26 09:52] peircej commented on #3614
Same general team, but PsychoJS has its own repo and developers. I'll move this over there. Thanks

[2021-02-26 12:33] isolver commented on #3612
This maybe of relevence. https://github.com/psychopy/psychopy/pull/3624#issuecomment-786617692. Not sure how much time of textbox2 settext() is spent doing text parsing / layout vs. rebuilding the vert arrays needs by draw() based on the layout. That might influence where it is worth redoing the actual drawing code vs. optimizing the text parsing wrapping.

[2021-02-26 18:53] mservantufc opened #3650 "Scaling bug (windows 10)"
15" laptop, running windows 10, 1920x1080 resolution, 60Hz refresh.
Running the following piece of code within PsychoPy:

[code]
returns [1536 864]. I first thought this was due to the default 125% scaling on windows 10. However, adding a gui at the beginning of the code:

[code]

gives the desired [1920 1080] resolution. I replicated these findings on other laptops running windows 10. It looks li

[2021-02-27 00:58] hsogo commented on #3612
My code consists of following 4 parts.  I inserted `time.perf_counter()` to the code to to measure which part takes time.

1.segment text at breakable point using psychopy.tools.linebreak module ([lines 579-581](https://github.com/hsogo/psychopy/blob/8bed2639c33d82eaf6cab7755966957750811716/psychopy/visual/textbox2/textbox2.py#L579))
2. get width of each segment ([lines 583-653](https://github.com

[2021-02-28 13:05] isolver commented on #3612
Some _Ideas_ around the layout part

#### Where possible, use numpy arrays instead of for / while loops

Maybe we could speed things up by trying to vectorize the layout operation as much as possible. Say we keep some lookup tables (numpy arrays) about the text and glyph advance info:

- `text_ords`: array of text ord() values / lookup codes for font. 
- `font_advances`*: dict of arrays, holding a

[2021-02-28 20:16] meuwl opened #3651 "AttributeError: 'list' object has no attribute 'contains'"
I know, that this error was discussed and closed already, but I can't solve it anyway. (@peircej)

That's my error message:

`Traceback (most recent call last):
  File "C:\Users\Admin\Desktop\posner\test_lastrun.py", line 157, in <module>
    if obj.contains(mouse):
AttributeError: 'list' object has no attribute 'contains'
##### Experiment ended. #####`

In my case there is only one picture ("imag

[2021-03-03 11:24] tpronk opened #3657 "PsychoPy builder: scrolling right in the flow panel displaces context menu"
Hey!

I'm using Windows 10, PsychoPy 2021.1.2. If I scroll to the right in the flow panel, then right click a loop or routine, the context menu appears shifted to the right. It seems that the amount the context menu moved to the right is about the same amount that I scrolled to the flow panel to the right. In the screenshot below, I right-clicked the "drawing" routine.

![image](https://user-image

[2021-03-03 21:54] meuwl commented on #3651
BF: Mouse clickables no longer need encasing in [] #3656
Thank a lot, it works!

[2021-03-03 21:54] #3651 closed, assigned to nobody

[2021-03-04 12:48] yoshihiko1218 opened #3661 "Adding asarray function for time variable for JS code"
Hi, I updated to latest version of psychopy and currently using builder to make task. However, when I convert the task to JS file, it make asarray outside of time variable. So it cannot be ran online since there is no asarray function in JS. I think this might be some error when converting task to JS. OR I wonder did variable usage in components changed? Thank you!
![image](https://user-images.git

[2021-03-04 18:32] #3657 closed, assigned to nobody

[2021-03-05 16:03] brissend opened #3668 "Incorrect moving dot positions when dimensions of dot field are unequal"
I've discovered a bug in dot.py that results in incorrect dot positions when the desired dimensions of the dot field are unequal. On line 558 of dot.py, _newDotsXY outputs:

[code]

This is only correct when x and y dimensions of dot field are equal. I changed it to:

[code]

This appears to have solved the issue for me.

[2021-03-06 14:31] 104H commented on #3575
I had the same issue and check the log file `~/.psychopy3/last_app_load.log`

`Traceback (most recent call last):
  File "/usr/bin/psychopy", line 11, in <module>
    load_entry_point('PsychoPy==2020.1.3', 'gui_scripts', 'psychopy')()
  File "/usr/lib/python3/dist-packages/psychopy/app/psychopyApp.py", line 100, in main
    start_app()
  File "/usr/lib/python3/dist-packages/psychopy/app/psychopyAp

[2021-03-08 21:57] pn2200 opened #3672 "Stop time of last component in routine is incorrect"
I have an experiment displaying a ShapeStim for one second, then a TextStim for 4 seconds, in a loop five times. The output for the start and stop times of the TextStim is incorrect: the `.stopped` field has value `None` for some of the entries (sometimes 2 entries, sometimes 3), and the remainder are values before the `.started` field. When `TextStim.stopped` does have a value, then it is equal t

[2021-03-11 01:55] Sohnia opened #3674 "It is recommended to use wxpython threading to prevent blocking main loop"
The program becomed unresponsive when I used builder or coder sometimes. Network requests and IO should run in other threads.

[2021-03-12 17:42] pn2200 opened #3675 "Unhandled internal error when checking for PsychoPy updates fails"
If checking for PsychoPy updates fails, using the `Tools -> PsychoPy updates...` menu item, then there is an unhandled internal error because the `InstallUpdateDialog.latest` attribute is -1, and not a dictionary of version keys.
[code]

[2021-03-12 17:52] pn2200 opened #3677 "Check for PsychoPy updates never finds newer versions because version is outdated"
The version used to check if updates are available, at https://psychopy.org/version.txt, is outdated, so checking for updates never finds a newer update to install. This file should be updated on each release, so the update check can work correctly.

[2021-03-16 00:33] kawarimidoll opened #3682 "Installation is failed using latest Homebrew in macOS"
The command `brew cask install` in `docs/source/download.rst` doesn't work now because of update of Homebrew.
This is not a bug of this app, but the document needs to be fixed.

homebrew discussions: [Error: Calling brew cask install is disabled! · Discussion #340 · Homebrew/discussions](https://github.com/Homebrew/discussions/discussions/340#discussioncomment-232364)

homebrew blog: [2.6.0 — Home

[2021-03-16 11:26] peircej commented on #3677
I think this shouldn't be updated on every release, at least historically not, because we don't necessarily recommend everyone updates immediately all the time. I agree it should be updated now. We haven't been using the system for so long that I don't actually know if the patch updates still work 🤔

[2021-03-16 11:36] #3682 closed, assigned to nobody

[2021-03-17 15:19] isolver opened #3686 "Add device config query functions to iohub"
Working towards iohub eye tracker - Builder integration, we need to add functions to iohub that make it easier for Builder to get:

- [x] list of available eye tacker interface names (`psychopy.iohub.util.getDeviceNames(...)`)
- [x] default config dictionary for an eye tracker (`psychopy.iohub.util.getDeviceDefaultConfig(...)`)
- [x] param settings for each device config setting (`psychopy.iohub.u

[2021-03-17 15:25] isolver opened #3687 "Add hint strings for iohub eye tracker device config settings"
For Builder - iohub eye tracker integration, add a hint string for each eye tracker config param that can be set via the Builder interface. This will get used as part of the information Builder needs to build param objects from the iohub config info.

Will add a seperate 'hints' yaml file to each eye tracker implementation folder, which will contain the same basic setting structure as the default_

[2021-03-17 15:33] pn2200 commented on #3677
I am exaggerating a little bit, but I am also serious with this suggestion. Given that this feature is buggy (#3675), hasn't been used in 20+ releases, does not appear to have tests, and there hasn't been any clamor to make it work, maybe it isn't needed and can be removed?

[2021-03-18 08:51] yh-luo opened #3688 "BF: sound files in a loop always get truncated to the duration of the first sound"
As title. This is an old bug that's still present in v2021.1.1, recently reported to me by my colleagues. Many forum posts were related to this bug, like [this](https://discourse.psychopy.org/t/audio-sample-cut-off/6885) and [this](https://discourse.psychopy.org/t/sound-ends-stops-before-it-should-audio-is-cut-short-in-builder-and-online/19416). The bug exists for both the sounddevice and the PTB

[2021-03-18 12:02] isolver opened #3690 "iohub calibration gfx should use same color space as experiment window"
iohub calibration settings currently only support RGB255 style colors and calibration stim in pix units. This should be changed so that calibration graphics uses same color space and coord units as the experiment window.

If iohub is started before the experiment window is created we may need to send some info to the hus server when the window is created.

A simple 'solution' would be to make it m

[2021-03-18 12:21] isolver opened #3691 "Remove need for iohub .iohpid file."
This _should_ be able to be completely removed, as the iohub server is also checking for the existence of the psychopy process every few seconds and terminates if psychopy process no longer exists.

[2021-03-18 18:27] pn2200 commented on #3688
I tested this change on a Mac with `sounddevice` backend and it appears to have resolved issues we were having with different sound files in a loop getting cut off or truncated.

[2021-03-19 07:39] isolver commented on #3686
implemented in DEV

[2021-03-19 07:39] #3686 closed, assigned to isolver

[2021-03-19 07:53] isolver commented on #2007
Using 2021.1.2, tested both:

[code]

and

[code]

on Ubuntu and both run without error and to completion, so these issues seem to have been fixed.

[2021-03-19 07:53] #2007 closed

[2021-03-19 10:42] peircej commented on #3688
Nice one. Many thanks for tracking this down!
We'll have it in the 2021.1.4 release (target date not decided yet)

[2021-03-19 10:49] peircej commented on #3677
I don't think it needs removing right now - the concept is useful and it should be worked on and fixed. With the next release I will update version.text on psychopy.org alerting people to get up to 2021.1.4
At that point I'll look into whether patch-update still works and, if so I can set it to patch update from 2021.1.0

[2021-03-19 17:35] #3688 closed, assigned to nobody

[2021-03-22 11:10] isolver commented on #3387
After reviewing pro's and con's, implementing a minimal multiprocessing based proof of concept for kb and mouse events, and testing / comparing performance between it and the existing options, we have decided not to change any of the main iohub dependencies. The desire is to simplify and reduce the iohub code footprint, but keep the basic framework as is for now.  So iohub will continue to use sub

[2021-03-22 11:19] JLC827 opened #3697 "Changing stimulus opacity no longer works in online experiments"
Attempting to change the opacity of an image stimulus in an online experiment does not appear to be working correctly. There is no visual change even when the opacity property is changed. Setting the opacity did work as expected in past versions.

This is reported by several users on the forum in the following threads:
https://discourse.psychopy.org/t/change-opacity-when-i-click-on-a-rectangle/192

[2021-03-22 11:23] #3691 closed, assigned to isolver

[2021-03-22 11:23] #3687 closed, assigned to isolver

[2021-03-22 11:24] isolver commented on #2766
fixed

[2021-03-22 11:24] #2766 closed

[2021-03-22 11:26] isolver commented on #1773
Increased max length of these fields greatly, so the chances of running into the issue will be much lower.

Still need to add check / report issue if > max is used, but have added that to the "improved error handling" list, so closing this issue.

[2021-03-22 11:26] #1773 closed

[2021-03-22 13:21] rphlypo commented on #3387
Agree that greenlet (through gevent) seems ok here and spawning a subprocess for the iohub with a socket communication will do the job on the communication level. Thanks @isolver for having taken a look at the proposal, appreciate that ! Ok for me to close the issue.

[2021-03-22 13:21] #3387 closed

[2021-03-29 08:58] isolver commented on #3690
fixed in dev

[2021-03-29 08:58] #3690 closed, assigned to isolver

[2021-03-29 09:23] tomwallis opened #3701 "Indexing error in `data.TrialHandlerExt`"
I'm trying to use the `data.TrialHandlerExt` class to create unequally-balanced presentations of conditions. I receive an `IndexError` with the following basic configuration. Perhaps I am using this incorrectly?

[code]

Yields:

[code]

I'm running psychopy (`psychopy 2021.1.3 py36h79c6626_0 conda-forge`) in a python 3.6 conda environment.

Tagging @suddhasourav in case he's still about, since I

[2021-03-29 11:58] JLC827 commented on #3697
After some testing, I can confirm opacity changing is working correctly in version 2021.1.3.

[2021-03-29 11:58] #3697 closed, assigned to nobody

[2021-03-29 12:07] JLC827 commented on #3697
For anyone who is having issue with opacity and finds this in the future, I will add that the code component needs to be placed below the image stimulus component if using the experiment builder. PsychoPy would not always provide an error on this, but would silently fail to change the opacity, presumably because the component wasn't created yet.

[2021-03-29 14:57] suddhasourav commented on #3701
Hi there @tomwallis!
I am sorry for the index error you encountered - you are not using the class incorrectly. I found the cause of the error: When I wrote the _TrialHandlerExt_ class for Psychopy 2 with the older numpy, numpy arrays could be indexed with floats. Example with my Psychopy v1.83.04 (win32):

[code]

This now throws errors, as floats (e.g. 2.0) are not valid indices anymore. I will c

[2021-03-29 18:27] tomwallis commented on #3701
Super cool, thanks so much @suddhasourav!

[2021-03-30 21:15] pn2200 commented on #3672
I think this issue affects more components than just `TextStim`. I think that the stop times of the last component in any routine is not recorded correctly.

In this specific experiment, this issue occurs because the `routineTimer` becomes negative (`routineTimer.getTime()` returns a value less than 0) while the TextStim has a status of STARTED and `tThisFlipGlobal` is less than the TextStim's sta

[2021-03-30 21:24] pn2200 commented on #3672
I also think that https://github.com/psychopy/psychopy/issues/2916 is a special case of this more general problem, so I think that the fix for that issue should be revisited.

[2021-04-05 21:15] radiantone commented on #2864
Hi. I still get this error using 4.1.1 on ubuntu 20.10

wx._core.wxAssertionError: C++ assertion "!(flags & wxALIGN_CENTRE_VERTICAL)" failed at /tmp/pip-install-8zhwx37h/wxPython/ext/wxWidgets/src/common/sizer.cpp(2143) in DoInsert(): Vertical alignment flags are ignored in vertical sizers

[2021-04-06 09:25] Mrswolf opened #3714 "contrast property of ElementArrayStim is not working in version 2021.1"
contrast property of **ElementArrayStim** is not working in this version.

I have seen many refactoring work about colors in #3396 and it deletes codes about contrast. I'm currently using **ElementArrayStim** with a 240Hz monitor and changing its contrast property in each frame.
Although it is possible to achieve the same effect with the new **setColors** function, I'm not sure if this would cause

[2021-04-06 11:07] peircej commented on #2864
@radiantone what version of psychopy do you have installed?

Actually, did you change your post to remove the full traceback? From what I can see of your unedited version it wasn't even in a PsychoPy dialog box that you were seeing the error message. I think yours is an unrelated issue with your own code; a bug in your `GSASIIimgGUI.py`

[2021-04-06 11:10] radiantone commented on #2864
yeah, it wasn't related to psychopy, and probably I shouldn't have posted on this ticket (thought maybe it was same root issue), but downgrading wxPython to 4.0.7.post2 did solve the problem for me FWIW.

[2021-04-06 13:31] emmaducos commented on #3575
Sorry for my late reply, but this is my current state in using psychopy in Linux Ubuntu 20.04 LTS:

As of today, I have updated & upgraded everything I could with apt-get for linux, I have done the same with conda.
I uninstalled all previous instances of psychopy/psychtoolbox that I could find on my computer.

I created a conda environment with python 3.8.5, and followed the installation process:

[2021-04-06 19:32] bpinsard opened #3716 "TextStim pyglet italic/bold not working"
I was not able to make italic or bold working with TextStim with pyglet, it seems to be broken, maybe by a pyglet update.
I tried either with italic/bold boolean, or adding Italic to the font name (Palatino Linotype).
environment: ubuntu, psychopy 2021.1.3 , pyglet 1.4.11

The only way I was able to fix it was to do:
[code]
It seems that TextStim get the font for itself using `pyglet.font.load_fon

[2021-04-07 13:47] #3675 closed, assigned to nobody

[2021-04-07 13:57] #3701 closed, assigned to nobody

[2021-04-07 14:49] tpronk opened #3718 "Postfixing an expInfo field with an asterisk (`*`) gives a key error"
If you postfix an expInfo field with an asterisk (for example `participant*`), then PsychoJS requires a value for that field before starting the experiment. In PsychoPy 2021.1.3, the star postfix triggers a key error.  For example:
[code]

I've got 2 suggestions:
1. Could we make it such that the `*` doesn't trigger an error. And perhaps add the "required" feature in PsychoPy too?
2. I noticed the

[2021-04-07 16:39] peircej commented on #3672
So, the general issue about the stop times for last thing in a routine is that the next frame flip typically occurs after we've gone around to the next entry of the trials loop. Unfortunately, in TrialHandler each trial is not its own object (unlike in TrialHandler2), rather it's an index into a matrix. That means we don't have the option to add data to the *previous* trial easily once it's passed

[2021-04-07 16:43] peircej commented on #3672
Basically, I think the true solution is that we switch to using TrialHandler2 which manages each trial essentially as its own dict that could then be modified later. That switch to the new class is held up by not having quite a full set of comparable methods in TrialHandler2 (it can't save the summary xlsx output that some users prefer).

I should note though, that the easy workaround is that the

[2021-04-07 19:02] pn2200 commented on #3672
This assumes there is a stimulus at t=0 in the next routine. That isn't required (I could choose to leave the screen blank for a bit and start the stimulus after t=0). Also, the stop time of the last routine of the last trial is completely lost. There is no next routine and there is no next trial, so there is no way to recover that data.

So it looks like the way forward is to fix #1590 first, the

[2021-04-08 01:06] daciansolgen3 commented on #2476
File "C:\Users\dacia\Desktop\Real-Time-Voice-Cloning-master\demo_toolbox.py", line 2, in <module>
    from toolbox import Toolbox
  File "C:\Users\dacia\Desktop\Real-Time-Voice-Cloning-master\toolbox\__init__.py", line 1, in <module>
    from toolbox.ui import UI
  File "C:\Users\dacia\Desktop\Real-Time-Voice-Cloning-master\toolbox\ui.py", line 1, in <module>
    import matplotlib.pyplot as plt
Mo

[2021-04-08 12:32] tpronk opened #3721 "URLs in README files won't open"
[This experiment](https://gitlab.pavlovia.org/tpronk/cep_2021_april7-9_assignment_stroop/) has a README file that displays upon opening the psyexp file via builder. There are a couple of URLs in there, pointing to gitlab repos. While the URLs are valid, when I click them, PsychoPy gives an error message. For example:

PsychoPy3 Error

Unable to open requested HTML document:
https://gitlab.pavlovia

[2021-04-09 12:29] tpronk commented on #3721
I noticed that anchors to another location within a page also don't work. For example, in the README of the project below, I link to a section titled "prolific" as follows:
`[Prolific](#prolific)`
Clicking this link in gitlab takes me to the right sections, but in Builder I get "HTML anchor prolific does not exist"
https://gitlab.pavlovia.org/tpronk/demo_chaining

[2021-04-09 17:05] peircej commented on #3672
Yes, indeed, but one could add something for timing measures if needed. What I mean really is that this problem has a potential workaround whereas adding win.flip() will be wrong for some people and they *won't* have a workaround (which seems worse)

Yes, I think we should try and fix TrialHandler2 and use that instead. Did you fancy attacking that Issue?  I'd be delighted to help If you had time

[2021-04-12 10:28] datalowe opened #3727 "builder iohub stroop_keyboard demo refers to nonexistent eyetracking"
The [stroop_keyboard demo](https://github.com/psychopy/psychopy/tree/release/psychopy/demos/builder/Feature%20Demos/iohub/stroop_keyboard) instructions include this:

However, the .psyexp/.py files and the corresponding config file do not specify any eyetracker configurations. There is also no check for 'g' keypresses in the trial's code snippet (it only has `if iok.key in [u'down',u'left',u'right

[2021-04-12 13:33] isolver commented on #3727
Ya, this is an issue of the readme not being updated. It is not suppose to use the eye tracking. Will fix. thanks for pointing it out.

[2021-04-13 11:28] azazel75 commented on #2757
Just inform you guys that I had some time to spend on Javascrypthon and I've updated it to Python 3.9, if still useful for you can you please try it out the unrelased master branch?
I've also removed the dependency on macropy
Also, I saw your preprocessor for the math functions, would you like to have it integrated with Javascripthon?

[2021-04-13 15:54] peircej commented on #2757
OK, fantastic, thanks for getting in touch @azazel75 :-)

Great to hear the project still has support. @apitiot and @tpronk in particular have done some work extending your (excellent) work for our particular needs which, yes, often involves maths and sometimes numpy. If you were interested in extending javascripthon itself with some of these functions that would take some of the code off our plat

[2021-04-13 15:54] #2757 closed

[2021-04-15 13:55] JLC827 opened #3733 "Feature request: Report the component name and routine of disabled components in Alert 4305"
PsychoPy reports [an alert](https://psychopy.org/alerts/4305.html) when a component in the experiment is disabled. However, this alert doesn't tell you what component is disabled. It can be quite difficult to find the disabled component, aside from going through and manually checking every component. It would be a useful feature if this alert also included the name and routine of the disable compo

[2021-04-15 14:07] JLC827 opened #3734 "Backslash in ImageStim image path causes unknown resource error"
If backslashes are used instead of forward slashes in image resource paths PsychoPy reports an "unknown resource" error. Forward slashes are used for file paths on Unix, but Windows allows forward and backslashes interchangeably, so it's not unreasonable for a user to not notice this difference. I'm not sure whether to best way to solve this problem would be to allow backslashes for file paths, or

[2021-04-15 14:28] jakub-jedrusiak opened #3735 "BF Can't access preferences in Ubuntu 20.04 due to case sensitivity of icon's names"
I use Ubuntu 20.04 with Python 3.8.5. For quite a while, when I tried to access the preferences window, I was getting the following error message:
[code]
The problem persisted until I've changed the names of some icons in light, dark and classic folders in app/Resources. The buggy files were named „flowtop_compright.png” and „flowtop_compleft.png” but the program demanded „FlowTop_CompRight.png” a

[2021-04-19 08:35] RebeccaHirst opened #3739 "Duration field needs a "$" sign in new release"
Previously it was necessary for users to add a $ sign at the start of the duration field to use custom code in that field, but in 2021.1.3 and 2021.1.4 this will throw an error. Need to add a $sign to the parameter fieldname in the dialog box.

[2021-04-19 15:34] pn2200 commented on #3672
I have been looking at implementing `saveAsExcel` for `TrialHandler2`. It seem possible to do, and then there could be a replacement of `TrialHandler` with `TrialHandler2` when Builder generates scripts, and TrialHandler could be marked as deprecated.

However, just using `TrialHandler2` in this experiment that does not record stop times of the last component, does not resolve this issue, because

[2021-04-20 15:13] peircej commented on #3735
Well done Jakub. Thanks for tracking that down (I can see why that isn't an issue on Win32 but I'm puzzled that it doesn't cause an error on macOS as that does use case-sensitive names)

Anyway, do you fancy submitting this as a pull request (create a branch off the release trunk and make a commit with BF: prefix) so that you're credited with the fix? I can help you through it if you haven't done

[2021-04-20 15:51] peircej commented on #3739
@TEParsons maybe this is another case where the code has moved incorrectly to number and should be code (or similar)?

[2021-04-20 15:54] peircej commented on #3734
We really need to get people using forward slashes so that if they want to run online it still works too. The question is whether to automatically/silently replace with forward slashes or to warn user verbally

[2021-04-20 19:06] jakub-jedrusiak commented on #3735
@peircej I can do it, but help would be appreciated 😅

[2021-04-20 19:09] Jolinda opened #3742 "TextStim in second glfw window causes error if initialized with text"
Hi, I am playing with glfw windows on both MacOs & Windows 10, build 2021.2.4, and getting identical behavior on both platforms.

The following code:

[code]
fails with pyglet.gl.lib.GLException: b'invalid operation' during the initialization of the second TextStim. This can be avoided by using the default constructor and changing the text attribute after construction:

[code]
However, the text in

[2021-04-21 00:37] Jolinda commented on #3742
I found out that this and a lot of other oddness can be prevented if you share objects between the two contexts:

`win2 = visual.Window(units="height", winType = 'glfw', pos = (800,0), backendConf={'share':win1})`

[2021-04-21 13:56] JLC827 opened #3744 "Inconsistent auto generation of JavaScript code specifying component duration"
I am setting the duration of components dynamically using code. As in the following image:
![image](https://user-images.githubusercontent.com/38880886/115564867-c94ad300-a2b0-11eb-9da0-31307c88438c.png)

This works as expected for Image elements, but does not works for a Keyboard element. Instead the following error is given
`ReferenceError: asarray is not defined`

Taking a look at the js shows t

[2021-04-21 14:25] JamesLewis-Cheetham opened #3745 "BF: Videos are not played multiple times when running JavaScript experiment"
This error occurs when using the builder component Movie and running the experiment in JavaScript.

When running an experiment that plays the same video multiple times, on the second time the video is played it will freeze on the final frame and the routine does not end even if "Force end of Routine" is ticked.

This isn't a new bug [and was discussed back in March 2020](https://discourse.psychopy

[2021-04-22 20:12] bpinsard opened #3750 "Set ImageStim data from unsigned byte"
Hi, I want to change the image and mask from an ImageStim at a high frequency from data in a numpy array in unsigned byte dtype.
The input of image and mask seems to require a float format, but it seems cumbersome and inefficient to convert to float the whole array, using larger amount of memory (or storage and load time if precomputed).
Is there a way to feed unsigned byte images and alpha layer,

[2021-04-23 14:52] bpinsard opened #3752 "ImageStim mask: square power of two required contradicts the doc"
Here `forcePow2` is not set to False while it is for the image:
https://github.com/psychopy/psychopy/blob/da868c01a8028ac57e79fc1dafe5b23b8d2a17fd/psychopy/visual/image.py#L350-L356
The documentation says the array can be 1xN or NxN (so needs to be square but not Pow2).
Not sure what should be corrected: the doc or the code.
Note that the error is logged here https://github.com/psychopy/psychopy/b

[2021-04-24 13:01] mkoculak opened #3753 "Cedrus buttonbox not working in Builder"
I noticed today, playing with Cedrus component in the Builder (PsychoPy 2021.1.4), that it does not work, resulting in an error exit of the procedure.

After compiling the code, the problem seems to be a faulty generation of the buttonbox variable name:
[code]

As You can see, the name has a float after underscore instead of an integer. Also index of the devices list is a float.

I narrowed the pr

[2021-04-25 00:25] bcmross opened #3754 "TypeError when mouse component "clickable stimuli" only contains one object"
For PsychoPy version 2021.1.4  (a different error for this was recently resolved in 2021.1.3 #3651 #3656)

**Situation:** I have a rectangle polygon object named `click_here` to act as a button to end the routine. I also have a mouse component and list `click_here` as the only object in "clickable stimuli" and end routine set to valid click.

**Error:**
[code]

**Issue in code:** When multiple obj

[2021-04-25 15:19] jakub-jedrusiak commented on #3735
@peircej OK, I might have done it. At least I hope so.

[2021-04-26 14:48] waa8128 commented on #2668
i meet the same question in my windows 10. The psychopy worked several months ago， but it made the error now.
[code]

and in the shell

[code]

[2021-04-27 15:53] peircej commented on #3735
Well done, yes :-)
Normally we have to make sure the test suite passes but I have to admit that right now that is failing for unrelated reasons that we need to work on. Thanks!

[2021-04-27 16:00] peircej commented on #3745
This sounds like an issue for psychojs rather than psychopy. @JamesLewis-Cheetham could you also just confirm the version of psychojs being imported in your script (or providing a link to a minimal working example of the failure)?

[2021-04-27 16:02] peircej commented on #3744
I believe this has been fixed by GH-3731

[2021-04-27 16:02] #3744 closed, assigned to nobody

[2021-04-27 16:02] peircej commented on #3661
I believe this has been fixed by https://github.com/psychopy/psychopy/pull/3731

[2021-04-27 16:02] #3661 closed, assigned to nobody

[2021-04-27 17:59] mdcutone commented on #3742
A PR was introduced to solve this problem. https://github.com/psychopy/psychopy/pull/3740

[2021-04-29 09:00] peircej commented on #3753
Thanks @mkoculak
That looks a bug introduced by a recent refactoring of parameter types to make them more flexible (e.g. allowing us to provide controls for each type of parameter). Yes, in this instance it needs to be either an int or pure code. We'll look into it

[2021-04-29 14:41] #3742 closed, assigned to nobody

[2021-04-29 20:00] mpeters2 opened #3760 "Psychopy Drawing into wrong buffer"
The code below should display "1", "2", an image, "4", and "5" each time a key is pressed.  This works fine for the visual.TextStim, but not for the visual.ImageStim.  Specifically, the stimulus image is not displayed after the win.flip(), but it does appear on the subsequent win.flip() along with the visual.TextStim (the number "3").

This happens on both Mac and Windows

`from psychopy import vi

[2021-04-29 20:10] #3760 closed, assigned to nobody

[2021-04-29 20:10] mpeters2 commented on #3760
nevermind.

[2021-04-30 12:13] TEParsons commented on #3753
Ah yes that was something I missed when implementing the new param types - a simple fix, just needs to be `int` rather than `num`! Will reference this issue in the pull request.

The placeholder you found is actually just for the control drawn - `inputType = "spin"` will eventually make a control with up/down arrows for increasing/decreasing the value, but we couldn't get the spinner to work with

[2021-04-30 13:23] TEParsons commented on #3754
The dilemma here is: What do we do when the object is a `list` variable? For example, if your earlier code said:
[code]
and you had set the clickable stimuli to be `click_here`, you wouldn't want it encasing in `[]` as you would then have `[[myStim1, myStim2, myStim3]]`. However, in the case you describe, you would want it encasing in `[]` as it needs to be iterable later on.

Currently, the code

[2021-04-30 13:26] TEParsons commented on #3739
Spot on, yes, it needs changing back to `valType="code"`. Putting in a pull request now :)

[2021-04-30 13:40] TEParsons commented on #3721
Looks like the default behaviour for links in a `wx.html.HtmlWindow` is to try to open them as a HTML document, which is... interesting. Thankfully a link click emits and event which we can rebind, so I've just made a function which does what we actually want and rebound to that.

[2021-04-30 13:42] TEParsons commented on #3721
Anchors probably won't work until we find a better solution than a `HtmlWindow` - I don't think they have that kind of functionality at all.

I am looking for a better alternative anyway as I'd like to have a CSS stylesheet for each PsychoPy app theme which styles README files, even have the main two written already:
https://codepen.io/todd_parsons/pen/XWjYOgr
https://codepen.io/todd_parsons/pen/d

[2021-05-05 13:54] #3753 closed, assigned to TEParsons

[2021-05-06 10:48] #3735 closed, assigned to nobody

[2021-05-06 14:43] #3739 closed, assigned to TEParsons

[2021-05-06 14:44] #3752 closed, assigned to nobody

[2021-05-06 14:48] #3721 closed, assigned to TEParsons

[2021-05-06 19:50] peircej commented on #1056
Most of this is either completed or obsolete

[2021-05-06 19:50] #1056 closed

[2021-05-07 19:35] RebeccaHirst opened #3775 "BUG: orientation parameter of slider does not function locally"
Setting the orientation parameter of slider to 90 does not create a vertical slider in 2021.1.4.

[2021-05-07 20:09] RebeccaHirst opened #3776 "BUG: tone generated in PsychoPy are not given infinite duration"
Tones generated in builder view (i.e. sound parameter A) are not given infinite duration if the duration field is left empty.

[2021-05-07 22:27] RebeccaHirst commented on #3775
Ohhh I see this is because the orientation of a slider is determined by its size parameter locally (note that in PsychoJS the orientation of the slider is set using an `slider.ori` attribute, and setting the orientation parameter to be 90 in builder results in a vertical slider for online use - enabling the orientation parameter to function the same locally and online would be intuitive)

[2021-05-09 06:06] alexholcombe opened #3778 "Failure to convert nDots (of Dots component) and texRes (of Noise component) into integer"
Psychopy (at least version 2021.1.2 and 2021.1.4) for Noise auto-translates the texRes parameter, which is written as “128” in the Builder parameters, into “128.0”, and for Dots auto-translates the “100” nDots as “100.0”. But texRes and nDots must be integers, so this creates an error. People seem to have also reported this here 1 and here 1 (without identifying the underlying problem). For an exa

[2021-05-10 08:56] peircej commented on #3778
Thanks @alexholcombe
We did some refactoring of params in 2021.1 to to make for more flexible inputs in the dialogs. The logic being that if a parameter knows what type of entry to expect then it can offer better options to the user (like browse buttons, number spinners etc) but that refactoring has produced some rough edges. They're relatively easy fixes once we know though so thanks for reportin

[2021-05-10 09:05] peircej commented on #3775
Yes, I had used the height/width to determine how it behaved but maybe ori would have been better. I hadn't realised @apitiot had handled it that way in PsychoJS. I guess we could do the same in PsychoPy. We could set a flag early on that says checks both the height/width and effectively flips them if ori=90 (and stores what was requested separately from what's used in the rendering)

[2021-05-13 15:16] TEParsons commented on #3716
In theory, italic and bold tags should be in the font itself, so are passed via `self.font`. If adding Italic to the font name leads to "Font not found" error, it could just be that you don't have Palatino Linotype Italic installed, so Pyglet defaults to the closest font it can find (Palatino Linotype Regular)

[2021-05-13 15:32] bpinsard commented on #3716
I do have the font installed, I think it's by default on ubuntu.
![image](https://user-images.githubusercontent.com/1155388/118147042-30a20180-b3dd-11eb-9d7a-9ef8c97c4f52.png)
Does bold/italic works for you?

Because from the code it shouldn't, here:
https://github.com/psychopy/psychopy/blob/336cdd7dedb387566bb7fb6910bfd73f27c8265f/psychopy/visual/text.py#L383-L389
what is given to `pyglet.text.La

[2021-05-13 22:54] tpronk opened #3793 "Image component: selecting Image via file picker doesn't translate well to PsychoJS"
On my Windows 10 device, I selected an image via the file picker, and so the path `img\request_landscape.png` ended up in the Image field. In the generated JS, two different things happened with the backslash in this path:
- In `psychoJS.start`, as a resource the backslash got converted to a slash (`img/request_landscape.png`), so the resource got correctly downloaded
- However, in the `image` pro

[2021-05-14 07:39] hoechenberger commented on #3362
I just set up PsychoPy on Big Sur and the app starts without any issues. Here's what I did:

[code]
Had to wait a bit (30 secs? a minute?), but then the GUI started up successfully:

<img width="1193" alt="Screen Shot 2021-05-14 at 09 38 35" src="https://user-images.githubusercontent.com/2046265/118237972-2abd2680-b498-11eb-9ef2-0ef7582176be.png">

This is with macOS 11.3.

[2021-05-14 09:46] tpronk opened #3794 "Syncing via Builder sometimes gives problems if only capitalization changed"
When renaming a file from `slideshow.js` to `Slideshow.js`, I noticed that this change wasn't synced to Pavlovia. As a workaround, I first removed the file, synced, then added it again.

Next, I tried to reproduce this problem in a fresh project. At first, changes in capitalizations did get synced, but after a couple of syncs not anymore. I guess a good way to reproduce this problem is via a somew

[2021-05-14 12:02] #3716 closed, assigned to nobody

[2021-05-14 13:41] cbrnr commented on #3362
Yes, you're right! After half a minute the GUI starts successfully (`pip install psychtoolbox` isn't even necessary).

[2021-05-14 13:41] #3362 closed

[2021-05-14 14:38] tpronk opened #3797 "Selecting Use PsychoPy Version `latest` generates code for `2021.1.0` instead of `2021.1.4`"
This happens both when generating Python and JS

[2021-05-14 15:35] hoechenberger commented on #3362
Great! For me it's only the first startup that takes so long, subsequent launches are much faster.

[2021-05-14 19:18] peircej opened #3798 "Right-click on a Component allows you to copy but not Paste"
To paste a Routine requires the Experiment menu.

Ideally:
- the context menu for a Component should have a Paste Above and Paste Below option
- the context menu when clicking on the background should paste to the bottom of the Routine (probably too much faff to try and work out where the mouse is, but this is a good start)

[2021-05-14 19:19] peircej commented on #3362
What's this `mamba` business?! Too many snakes! My head's full! 😉

[2021-05-14 21:19] hoechenberger commented on #3362
🐍

It's a faster re-implementation of `conda` :) It typically solves the dependency tree in much less time!

https://github.com/mamba-org/mamba#the-fast-cross-platform-package-manager

[2021-05-16 13:27] dhabershon98 opened #3799 "Setting Audio To Only Play For Certain Trials"
I'm very new to PsychoPy and have no coding experience whatsoever, so I don't really get much of it and am using mainly the builder. I'm creating a simple stop-signal task that consists of an arrow indicating the position of the stimulus followed by a stimulus to which you have to respond with the correct arrow key. The idea is that a tone will play before the stimulus appears at random intervals

[2021-05-19 12:07] marizephe commented on #2283
Two years later, and it seems the problem is still there. I have lost many hours and participants. The worse is it will run through the whole experiment and then fail to save at the end!  And it may happen when I have changed nothing (or at least did not mean to). I am feeling very grumpy at the minute. If at least you could get an error message at the start of the experiment. I mean psychopy is f

[2021-05-20 16:52] mdcutone opened #3815 "Unhandled error when changing themes"
I tried to change the coder document and output font and got this error. Possibly caused by a recent change in wx, so not sure if our bug or an upstream fix is needed.

[code]

[2021-05-20 22:57] mwaskom opened #3816 "ElementArrayStim is ignoring contrast parameter"
`visual.ElementArrayStim` is ignoring the `contrs` parameter, and it is not possible to set the contrast of the visual stimuli.

Example:

[code]

![image](https://user-images.githubusercontent.com/315810/119058652-ca008300-b99c-11eb-8d87-5a76d3913dbb.png)

Indeed, it looks like the code where `contrs` took effect was removed recently:

[code]
[code]

If you search around that file, I don't think

[2021-05-21 09:09] jan-lukas-bichel opened #3817 "Bug Report: Builder-generated button component registers clicks from previous routine"
I’m using the builder on version 2021.1.4 and encountered a bug with the button component. If two routines following each other have a button in the same spot, and the first button press ends the first routine, then your mouse will still be in the same spot in a pressed state when the next routine starts. This way you will skip all the other routines following the first one immediately, if they ha

[2021-05-21 09:42] TEParsons commented on #3776
I noticed this when building the piano exercise - from what I can tell, I think the reason is that it handles notes by generating an array of a set size and then playing it. The solution is probably to say "if duration is None: make a sound of a set length like normal, but loop it until stop is called". @mdcutone if we're moving Sound over to use AudioClip objects like Microphone, does/can AudioCl

[2021-05-26 10:53] TEParsons commented on #3411
Jon is right, it's because of the font used - as font wasn't settable in Forms it was always Open Sans, which doesn't have a full character set for Hebrew at all weights. In #3801 I added a parameter to Form to set font, so this is fixed in the `dev` branch.

If you pull down the latest `dev`, you should be able to add `font="Rubik"` (or any of these fonts: https://fonts.google.com/?subset=hebrew)

[2021-05-26 10:53] #3411 closed

[2021-05-26 10:54] TEParsons commented on #3411
In the interest of testing, could you share the `.xlsx` file you were using for that form?

[2021-05-26 18:31] GalAharon1988 commented on #3411
[STAXI.xlsx](https://github.com/psychopy/psychopy/files/6548912/STAXI.xlsx)

[2021-05-27 18:59] thewhodidthis opened #3853 "Need not declare all of PsychoJS deps inside of index.html"
Follow up on psychopy/psychojs#335

[2021-05-28 09:06] peircej commented on #3411
@TEParsons does this (re)raise the question of what a good default font should be? If we chose something like Arial would that mean it supported wider range of languages out the box and would be available on all platforms without needing to download?

[2021-05-28 10:18] TEParsons commented on #3411
I'd go for Noto Sans over Arial as we can put a TTF of that in resources like we do Open Sans, but another option is to stick with Open Sans as the default but include a selection of other free fonts to cover all characters, so that there's no download required.

[2021-06-01 13:48] TEParsons opened #3870 "Textbox stretches out text in `norm` units"
I you set the units of a Textbox to be `norm`, then the font is stretched out - haven't measured but I'd wager the amount it's stretched by is just the proportion of height/width of the screen.

[2021-06-02 09:30] TEParsons commented on #3817
Finally had time to look into this! Just to check, do you have "Run Once Per Click" ticked in your button component?

[2021-06-02 10:06] jan-lukas-bichel commented on #3817
Thank you for looking into it! "Run Once Per Click" is ticked in all of the button components.

[2021-06-02 10:10] jan-lukas-bichel commented on #3817
I just tried to replicate the bug in a new experiment. It seems that you can avoid skipping the following routines, if you instantly release the mouse-button after you click. But if you hold down the mouse button for a fraction of a second to long, then it will also click the button in the following routine.

[2021-06-02 10:17] TEParsons commented on #3817
Ah okay, when I try this I can replicate it in 2021.1.4 but not in 2021.2.x (aka the next release), I have changed some stuff around how it checks for `wasClicked` and handles the "Run Once Per Click" setting so something I did must have fixed it... At any rate, this will no longer be a bug in the next release :)

[2021-06-02 10:17] #3817 closed, assigned to TEParsons

[2021-06-02 10:22] jan-lukas-bichel commented on #3817
Thank you :)

[2021-06-02 10:29] #3231 closed

[2021-06-02 10:54] #3733 closed, assigned to nobody

[2021-06-02 14:43] thewhodidthis opened #3887 "BUG: Need tweak JS / CSS imports for next release"

[2021-06-02 19:18] #3887 closed, assigned to nobody

[2021-06-03 13:15] TEParsons opened #3892 "Textbox: When one word is very long, it wraps as 1 new line per character over limit"
Can be seen here:
https://user-images.githubusercontent.com/25686106/120650831-11474300-c476-11eb-8e42-65e952642346.mov

[2021-06-03 16:36] RebeccaHirst opened #3897 "JS boilerplate: Functions declared twice if routine used twice, produces syntax error"
If a function is declared in the before experiment tab and then the routine is used multiple times in the flow, then the function is also declared multiple times in the JS output. This produced an error when run online 'Uncaught SyntaxError: Identifier FUNCTION NAME has already been declared'.

Minimal demo of bug here: https://gitlab.pavlovia.org/lpxrh6/double_function_test/tree/master

[2021-06-03 16:43] tpronk commented on #3793
I compiled a test using the dev branch and commit dd2200175ac53dcd560290cd7b5eabd0a… but this issue still seems to be there:
* [example of issue](https://staging.psychopy.org/experiments/issue_demos/wdio_img/)
* [corresponding psyexp file](https://github.com/psychopy/psychojs_testing/tree/main/tests/wdio_img)

[2021-06-03 17:04] RebeccaHirst opened #3899 "Textbox: cannot set every repeat using variable"
Setting the value of textbox.text on each repeat (using input from a conditions file i.e. $thisWord) results in error (tested on windows). Could be associated with python installation rather than PsychoPy per say? Doesn't occur for updating TextStim.

C:\Users\44797\mypython\lib\site-packages\pyglet\media\codecs\wmf.py:838: UserWarning: [WinError -2147417850] Cannot change thread mode after it is

[2021-06-03 17:17] RebeccaHirst opened #3900 "Keyboard: Correct answer box greyed out and not editable if store correct checked"
If the "Store Correct" box in the data tab is checked in a keyboard component the Correct Answer field remains greyed out, so the user cannot enter the correct answer i.e. `$corrAns`

[2021-06-03 17:20] RebeccaHirst commented on #3900
update, if you check the Store Correct box > press OK > reopen the component, the Correct Answer field is *then* editable

[2021-06-03 17:27] RebeccaHirst opened #3901 "Keyboard: AttributeError: 'Keyboard' object has no attribute '_buffers'"
Using a keyboard response with default parameters results in experiment closing with the following error:

AttributeError: 'Keyboard' object has no attribute '_buffers'

Minimal demo here: https://pavlovia.org/lpxrh6/keyboard_bug_demo

(all issues reported on dev branch)

[2021-06-03 18:04] RebeccaHirst opened #3902 "Microphone: Cannot function in loop because thisTrialN used for saving"
Data from the microphone cannot be stored if the routine is not enclosed in a loop. Produces error:

"C:\Users\44797\Documents\PsychoPy_Job\development\new_release_tests\microphone\basic_no_loop_lastrun.py", line 204, in <module>
    thisExp.addData('mic.clip', os.path.join(micRecFolder, 'recording_mic_thisExp_%s.wav' % thisExp.thisTrialN))
AttributeError: 'ExperimentHandler' object has no attribu

[2021-06-03 19:25] RebeccaHirst opened #3903 "TextBox/TextStim: premature detection of syntax errors in text field"
Typed code in the text field of textStim and textBox objects are prematurely detected as syntax errors, meaning that input will not be accepted (OK is greyed out). Start typing `$int(random()*10)` the error "python syntax error field `text` : in" will appear in red and block selection of the OK button before the whole phrase is complete. Note that typing the whole phrase elsewhere and copying it i

[2021-06-03 19:57] RebeccaHirst opened #3904 "TextBox: Text in text field not presented if "set every repeat""
If the text field of textbox contains placeholder text e.g. "type here" and that field is set to "set every repeat" the text in that field is not presented at the star of each trial. This differs from textbox's current functionality whereby that text is presented at the start of each trial, but can be deleted/edited.

Minimal demo: https://pavlovia.org/lpxrh6/textbox_bug_placeholder_txt

[2021-06-03 23:20] #3610 closed, assigned to nobody

[2021-06-04 04:02] 104H opened #3906 "Device in hardware.keyboard.Keyboard must be index not dict unlike docs"
Filename: psychopy/hardware/keyboard.py
Version: 2021.1.4
OS: Ubuntu 20.04 LTS, Ubuntu 16 LTS

The Psychopy documentation states that the `device` argument to `hardware.keyboard.Keyboard()` can be:

However, if one provides a dict as recieved from `getKeyboards()`, on line 159 in the constructor, `self._ids` becomes a `dict`:
[code]
Line 153 above stores a list of indices of devices, as returned b

[2021-06-04 08:25] TEParsons commented on #3902
It's worse than that, in JS I actually hard coded it to be `trials` regardless of the loop/experiment handler's actual name... Whoops! Will change the boilerplate now!

[2021-06-04 08:29] TEParsons commented on #3900
I'd wager this is the same validation bug I've just passed to @mdcutone as I couldn't figure it out... It also means that if you add invalid code, the warning message doesn't go away and the Okay button doesn't enable even after you fix the code

[2021-06-04 08:31] TEParsons commented on #3903
This extends to all components - the problem is that once the validator finds one error, it stops looking, so once you fix the error it doesn't recognise that it's fixed.

[2021-06-04 09:53] smathot opened #3907 "`_` is removed from built-ins, which breaks applications that have installed a global translator"
The `psychopy.localization` packages deletes the `_` object, which is installed as part of the translator, from `__builtins__`. Because this package is imported along with non-GUI libraries (e.g. `psychopy.visual`), this means that applications that rely on the `_` built-in for localization (such as OpenSesame) break (see open-cogsci/OpenSesame/issues/762). I see two workarounds to improve this:

[2021-06-04 14:36] isolver commented on #3901
fixed in PR 3910

[2021-06-05 13:38] #3870 closed, assigned to TEParsons

[2021-06-05 13:38] #3902 closed, assigned to nobody

[2021-06-05 18:39] RebeccaHirst opened #3923 "Cannot launch experiments from builder in dev branch "NameError: name 'defaultKeyboard' is not defined""
Launching experiments from builder in dev branch returns error "NameError: name 'defaultKeyboard' is not defined"

[2021-06-07 09:33] TEParsons commented on #3923
Ah whoops, that was an indentation typo on my part... Moving the code to make defaultKeyboard to the ioHub code to it appears in the right place relative to ioHub servers, I forgot to dedent it so it's now only written if there's an Eyetracker chosen. Easy fix, will push out now!

[2021-06-07 09:35] #3892 closed, assigned to nobody

[2021-06-07 09:56] RebeccaHirst opened #3926 "Cannot open preferences in dev branch: "Failed to find icon""
file > preferences produces error in dev branch:

Traceback (most recent call last):
  File "C:\Users\44797\PycharmProjects\psychopy\psychopy\app\themes\_themes.py", line 816, in _loadBitmap
    im = wx.Image(filename)
TypeError: Image(): arguments did not match any overloaded call:
  overload 1: too many arguments
  overload 2: argument 1 has unexpected type 'NoneType'
  overload 3: argument 1 ha

[2021-06-07 10:58] RebeccaHirst opened #3927 "Polygon: "constant" blocked in vertices parameter"
In the polygon component the "constant" dropdown is disabled/greyed out in the vertices field (cannot be set every repeat/frame)

[2021-06-08 14:24] #3904 closed, assigned to nobody

[2021-06-08 14:34] #2847 closed

[2021-06-08 14:39] peircej commented on #3794
This is a git issue with windows because win32 doesn't distinguish case in filenames. We can't fix without getting really ugly

[2021-06-08 14:39] #3794 closed, assigned to nobody

[2021-06-08 14:43] peircej commented on #3903
fixed in GH-3935

[2021-06-08 14:43] #3903 closed, assigned to nobody

[2021-06-08 14:55] TEParsons commented on #3926
This is git ghosts I think - *should* be a problem unique to people pulling the version from Git and should only affect those who've previously pulled revisions before this name changed happened. If you go to psychopy->app->Resources and find those FlowTop_CompRight files and delete them then checkout from Git again it should fix this

[2021-06-08 14:57] TEParsons commented on #3900
The validation bug was affecting this but the crucial thing is that this box had its own special method outside the `depends` system - it doesn't do anything special though, so deprecating the function and using `depends` instead is the way to go. On it now :)

[2021-06-08 15:36] peircej commented on #3907
Why do we mess with this at all? Although _ is the norm for localisation it's also used by other things in Python. People often, for instance, use it to get rid of a junk item being returned by a function. It also isn't clear what is being done. Basically we feel that `_('text')` is not clear (most devs wouldn't know what this was doing) and very easily broken so we switched to using replaced `_`

[2021-06-08 15:37] #3923 closed, assigned to nobody

[2021-06-08 15:39] #3926 closed, assigned to nobody

[2021-06-08 15:45] peircej commented on #3901
additional fix in https://github.com/psychopy/psychopy/pull/3922

[2021-06-08 15:45] #3901 closed, assigned to nobody

[2021-06-08 17:24] peircej commented on #3906
In reverse order:

Problem 3 is an issue with permissions. Follow the answer here: https://discourse.psychopy.org/t/installation-headaches-and-partly-fixes-on-ubuntu-20-04/16476/9

Problem 2 is an upstream issue but we've inserted a workaround to neutralise that bug in https://github.com/psychopy/psychopy/pull/3922
will be released in 2021.2 (next week?)

For problem 1 we'd welcome a pull request

[2021-06-08 22:07] lanstonchu commented on #1579
I have this error when I call `pyrender.OffscreenRenderer()`.

The first time I called this function, there is no error. But if I run the code the second time, I will have this "`ContextException: Unable to share contexts`" error as well.

If I restarted my Python kernel, I can run the first time of my code again.

Is it the intended behavior, or is that something I need to check further regarding

[2021-06-09 03:11] 104H commented on #3906
I have educated myself on the contributing guidelines, I will generate a pull request for problem 3, detailing in the documentation how to obtain the device ID and make the code entertain dictionaries too.

Regarding the support, I could paste the solution here, and we can discuss prior to the actual pull request.

I'm very happy to be able to contribute to Psychopy.

[2021-06-09 06:17] thewhodidthis opened #3942 "Need bring back PreloadJS script tag"
As it happens, trying to package this library in with the rest of our code creates more problems than it solves https://github.com/psychopy/psychojs/issues/379

[2021-06-09 09:40] RebeccaHirst opened #3944 "Eyetracking calibration: Selecting options freezes up routine"
When a calibration routine is added to the flow, if the user selects to make any change within the routine (e.g. uncheck randomize, change target layout) a small white box appears in the top left of the routine (visible if theme is dark) and no further edits can be made to that routine until the user selects a different routine and then returns to the calibration routine.

[2021-06-09 09:41] RebeccaHirst opened #3945 "Eye tracking Calibration: Not presented if MouseGaze used"
The calibration routine does not present if MouseGaze is the eye tracking device type.

[2021-06-09 09:50] RebeccaHirst opened #3946 "Eye tracking: Calibration routine cannot be placed at several locations in flow"
Currently the calibration routine can only be added to the flow once. This limits functionality for those wanting to repeat calibration at several points in their experiment (e.g. by presenting it every nth trial).

[2021-06-09 09:52] RebeccaHirst opened #3947 "Cannot add loops to flow in dev branch"
selecting insert loop and then selecting the location on the flow for insertion produces the following error:
[code]

[2021-06-09 09:58] peircej commented on #3947
I just saw the same 😦

[2021-06-09 10:18] RebeccaHirst opened #3948 "Eyetracking Region of interest: Spatial units greyed out / blocked"
The spatial units option in the Layout tab of the eyetracking ROI component it greyed out and cannot be updated.

[2021-06-09 10:26] RebeccaHirst commented on #3946
issue needs investigation - could add calibration several times after closing and reopening PsychoPy

[2021-06-09 10:27] #3942 closed, assigned to nobody

[2021-06-09 10:49] RebeccaHirst opened #3949 "Eyetracking: recorded position not location of cursor if mousegaze used"
The recorded look position is not the location of the cursor if mousegaze is the eyetracking device, the recorded position is to the right and down - this can be seen in the Demos>Feature Demos > eye tracking demo in dev branch

[2021-06-09 11:32] isolver commented on #3949
What OS are you having the issue on? How many monitors are you using (I only have a single monitor macOS and Linux setup at the moment).

I do not see tthe issue on Windows. There is [an open PR](https://github.com/psychopy/psychopy/pull/3940) that will fix a small _vertical_ offset that was occurring to the experiment window on macOS after calibration, but should not have impacted horizontal.  I'

[2021-06-09 11:32] peircej opened #3950 "Code Component dialog not opening (error with WarningsManager)"
Traceback (most recent call last):
  File “/Users/lpzjwp/code/psychopy/git/psychopy/app/builder/builder.py”, line 2325, in onClick
    timeout=timeout)
  File “/Users/lpzjwp/code/psychopy/git/psychopy/app/builder/dialogs/dlgsCode.py”, line 153, in __init__
    self.warnings = WarningManager(self, self.okButton)  # to store warnings for all fields
TypeError: __init__() takes 2 positional arguments

[2021-06-09 11:37] isolver commented on #3948
I think this is intentional, as the ROI must use the same units as is used
during calibration or the .contains() will fail since the eye tracker
outputs gaze position in the coord space that it was calibrated in.

On Wed, Jun 9, 2021 at 7:18 AM Rebecca Hirst ***@***.***>
wrote:

--

<https://www.labhackers.com>

Sol Simpson

LabHackers Research Equipment <https://www.labhackers.com>

<https://www.

[2021-06-09 11:41] isolver commented on #3945
This is most likely because of the "Disable Component" issue or issue of component gui state != 'internal' state. If you generate the python script, is there any call to calibration? I have had to be generatng python script from Builder to check things like this to see if it is Builder not genrating expected code.

[2021-06-09 11:44] mirh commented on #1579
Mentioning what that is wouldn't hurt.

https://discourse.psychopy.org/t/bugfixes-for-unable-to-share-contexts-and-portaudio-not-initialized/3537
https://discourse.psychopy.org/t/unable-to-share-contexts-error-when-creating-window/9853/2
Also, are you using the last version and did you try the usual workarounds?

[2021-06-09 11:45] isolver commented on #3944
This is also reported in an [open Clickup issue](https://app.clickup.com/t/x18xdh) - I thought we were using that for new feature issues in Dev.

[2021-06-10 10:49] tpronk opened #3959 "Adding a loop to an empty timeline raises an error"
I tried to add a loop to an empty timeline, which admittedly doesn't make a lot of sense to do. It did raise an error though:
[code]
PS - This happened in an experiment that originally contained 4 routines, that I had first deleted.

[2021-06-10 10:54] TEParsons commented on #3948
Yep Sol is right :) We wanted the param to exist as it may be possible once we have a Position/Size handler like the Color object, but it currently isn't so we fixed it in place

[2021-06-10 10:55] #3948 closed, assigned to nobody

[2021-06-10 10:58] #3947 closed, assigned to nobody

[2021-06-10 11:20] #3900 closed, assigned to nobody

[2021-06-10 11:44] TEParsons commented on #3959
I think the solution here is to grey out the Add Loop button when there's no routines, so rather than letting people do this and then erroring because it doesn't make any sense, we just stop them doing it in the first place.

[2021-06-10 12:31] TEParsons commented on #3950
I was getting this too but I'm not in the latest dev, is this fixed?

[2021-06-10 13:01] peircej commented on #3950
Sorry, yes, fixed in #3951

[2021-06-10 13:02] #3950 closed, assigned to nobody

[2021-06-10 14:15] #3853 closed, assigned to nobody

[2021-06-10 14:44] #3945 closed, assigned to nobody

[2021-06-10 14:49] #3927 closed, assigned to TEParsons

[2021-06-10 15:48] #3959 closed, assigned to nobody

[2021-06-10 16:03] tpronk opened #3969 "PsychoJS code generation: setting text in a textbox doesn't show up"
[This experiment](https://github.com/psychopy/psychojs_testing/tree/main/tests/wdio_textbox) contains a non-editable textbox that presents the content of a variable named `$msg`. In a code component, begin routine tab, this variable is set to the value `"this is a test"`. I compiled this experiment to JS with a current version of the dev branch of PsychoPy. However, this value isn't shown. It seem

[2021-06-11 11:24] TEParsons commented on #3944
In current dev I'm no longer getting this bug... Did someone fix it by accident?

[2021-06-11 11:55] tpronk opened #3980 "Unit tests for Python -> JS transpiler?"
@apitiot has done some amazing work on the transpiler. Let's add some unit tests to ensure that they will be stable across future updates of PsychoPy

[2021-06-11 11:59] isolver commented on #3944
Agreed, seems to be fixed in latest Dev

[2021-06-11 12:00] chkoss commented on #2832
I encountered the same error (PsychoPy3, version 2021.1.4 running on macOS Catalina).

To figure out what's going on, I put the following lines into `staircase.py` right before the line where the error is thrown:

[code]

Re-running `gammaMotionNull` then gives the following output:
[code]

So when checking the type it seems to be a float, which should be convertible to a string using `str()`. But

[2021-06-11 17:42] tpronk opened #3988 "What's this error message exactly?"
I'm wondering what that symbol between "or" and "no spaces" should mean?

![image](https://user-images.githubusercontent.com/8987504/121728088-b3a19f00-cae4-11eb-8655-a6fd9bf67a6b.png)

[2021-06-14 08:17] smathot commented on #3907
Either 1 or 2 would be fine, but unless I'm overlooking something, 1 is actually quite easy to implement. Basically, [at the start](https://github.com/psychopy/psychopy/blob/release/psychopy/localization/__init__.py#L49) of the localization initialization, you can check whether `_` is a callable that has been registered as a built-in:

[code]

And then [at the end](https://github.com/psychopy/psyc

[2021-06-14 08:46] 104H commented on #3906
We can check if devId is a dict and if it is, we can overwrite the variable as the value for key index. (lines 164 and 165). the rest of the code just follows.
[code]

As for the changes in the docs, i propose:

[2021-06-14 09:46] TEParsons commented on #3988
Every character has to be alphanumeric (`[A-Za-z\d]`) or an underscore, definitely could word that error better... I'll look up where it's defined

[2021-06-14 09:56] #3778 closed, assigned to TEParsons

[2021-06-14 10:03] TEParsons commented on #3899
When I run this in latest dev I don't get any errors, could you pull down the latest and try it again?

[2021-06-14 10:14] tpronk commented on #3988
Maybe it should be a valid Python varname (in which case it may not start with a number and may also contain underscores)? In that case, the message we've got in our loop template could be nice:
"Variable names need to start with a letter or an underscore (_), followed by only letters, numbers and underscores."

[2021-06-14 11:25] peircej commented on #3754
In 2021.2 (imminent) we check at runtime if whatever has been provided is iterable and convert it to a list then. This has been implemented here: bac1692bb3aa638c604df05eb28edb95b57cd18e

Ideally, we should do this slightly more neatly within the Mouse class. I'm thinking we should add a method to that called `getUnderlyingObjects(listOfObjects)`. Then we can test for a click and if we find one th

[2021-06-14 11:26] peircej commented on #3754
Look out for that method in 2022.1. For now though I think we can close this as is it at least fixed in the Builder-generated scripts (thanks @RebeccaHirst )

[2021-06-14 11:26] #3754 closed, assigned to nobody

[2021-06-14 11:34] #3944 closed, assigned to nobody

[2021-06-14 11:35] TEParsons commented on #3815
Are you still getting this?

[2021-06-14 13:04] TEParsons commented on #3609
I think this is fixed now?

[2021-06-14 13:05] TEParsons commented on #3503
It would be cool to eventually use Pavlovia to manage demos - have a "Subscribe" button on projects on the site and then populate the demos menu in the app using your subscribed projects. That way we won't need to worry about unpacking, overwriting, etc. because it'll all be Git

[2021-06-14 13:07] #3327 closed

[2021-06-14 13:10] #2985 closed

[2021-06-14 13:44] isolver opened #3995 "Gazepoint calibration / validation from Builder"
In Dev branch, when gazepoint is used from Builder, ET calibration runs, but the resulting gaze data seems __very__ poor compared to the same setup when one of the Coder demos is run with gazepoint. Only thing I can think it that there is some difference in settings being provided by Builder vs. those used by coder examples and that is causing an issue.

MouseGaze, Tobii and EyeLink run fine, so t

[2021-06-14 14:11] mdcutone commented on #3609
Does the demo run when you try it?

[2021-06-14 14:20] isolver commented on #3949
Do you still see this issue when using the latest Dev branch?

[2021-06-14 14:56] tpronk commented on #3969
I don't think we're there yet. If I run the same test now, I get these lines of JS.
[code]
Howver, the text still isn't visible, because `msg` is assigned a value *after* it's used to set the text

[2021-06-14 15:22] RebeccaHirst commented on #3949
Hi Sol - yes I do still get the error - interestingly the distance of the gaze position from the mouse cursor varies depending on how far from fixation I am (it is closer to my cursor when the cursor is near an edge, but further away when the cursor is central)

[2021-06-14 15:35] isolver commented on #3949
What OS are you having the issue on and how many monitors are you using? I only have a single monitor macOS and Linux setup and wonder if that could be the difference. Thanks again

[2021-06-14 15:53] isolver commented on #3949
When I run the Builder Demos>Feature Demos > eye tracking demo in the current Dev branch, I get these warnings and can not proceed past the 'fixation' stage. Are you able too?

[code]

[2021-06-14 16:02] TEParsons commented on #3609
Yeah, seems fine on my build at least

[2021-06-14 16:04] TEParsons commented on #3949
Try pulling down the absolute latest, that's from when I'd removed start/stop from variables - shouldn't prevent the experiment from running either way though

[2021-06-14 16:13] isolver commented on #3949
pretty sure it is.

[2021-06-14 16:19] isolver commented on #3949
I see what the 'not being able to progress' issue is - the roi min look time in the demo is set to 1000 / 500 sec, when it should be 1.0  / 0.5 since things are now in seconds, so it never triggers in the current demo

[2021-06-14 16:29] mdcutone commented on #3609
Okay closing for now.

[2021-06-14 16:29] #3609 closed, assigned to nobody

[2021-06-14 17:12] tpronk opened #4003 "Slider markerColor is not in generated JS"
This [test-experiment](https://github.com/psychopy/psychojs_testing/tree/main/tests//wdio_slider) features a slider with a blue marker (markerColor == 'Blue'). In PsychoPy I see a blue marker, but in PsychoJS I don't. If I generate JS using a recent version of the dev branch, I don't see any `markerColor` arguments in the Slider constructor. See [this line](https://github.com/psychopy/psychojs_tes

[2021-06-14 17:59] mdcutone commented on #3815
It honestly happened randomly. I have a feeling wx being updated cleared this error.

[2021-06-14 19:18] peircej commented on #3988
The warning message might not have been very self-explanatory, but it was a lot better that the issue raised about it! 😉
Try to keep issue titles clear to everybody so that when someone sees the list they have a better idea what this refers to (including in the future)

[2021-06-14 19:18] #3988 closed, assigned to nobody

[2021-06-14 19:22] peircej commented on #3980
You could extend psychopy/tests/test_py2js
It currently only tests expression2js (e.g. for parameters) not snippet2js for larger chunks

[2021-06-14 19:27] peircej commented on #3969
The second issue is a user error. You have the Code Component that defines the `msg` coming _after_ the Text Component that uses it. i.e. the order needs to change in the experiment in order to change in the output code.

[2021-06-14 19:27] #3969 closed, assigned to TEParsons

[2021-06-14 21:34] tpronk commented on #3980
Will do; added it to my list!

[2021-06-15 09:29] peircej commented on #3897
This is fixed in #4009

[2021-06-15 09:29] #3897 closed, assigned to peircej

[2021-06-15 09:49] RebeccaHirst opened #4010 "Eyetracking: Calibration routine, Animation Position Changes causes freeze"
If the "Animate Position Changes in the Animation tab is checked/unchecked the routine freezes with a white box in the corner of the routine panel - like this https://github.com/psychopy/psychopy/issues/3944

[2021-06-15 09:49] RebeccaHirst commented on #3944
Still a bug with the animation tab specifically https://github.com/psychopy/psychopy/issues/4010

[2021-06-15 10:35] isolver commented on #3949
The Mousegaze position issue is being caused by the reported display resolution != actual display resolution of the monitor being used. On Becca's windows 10 laptop, the actual resolution is 1280x800 not 1920x1080 but iohub seems to be picking up the 1920x1080 and trying to use it.

This is a bug that needs to be fixed in iohub. It is also more of an annnoyance then a show stopper issue in the sen

[2021-06-15 10:39] RebeccaHirst commented on #3949
FYI units changed from ms to seconds here https://github.com/psychopy/psychopy/pull/4014

[2021-06-15 11:44] RebeccaHirst opened #4018 "BUG: error when using open file from coder view"
Selecting open file from coder view produces the following error (in the dev branch):

Traceback (most recent call last):
  File "C:\Users\44797\PycharmProjects\psychopy\psychopy\app\coder\coder.py", line 2374, in fileOpen
    defaultDir=initPath, style=wx.FD_OPEN
TypeError: FileDialog(): argument 'defaultDir' has unexpected type 'NoneType'

[2021-06-15 11:51] RebeccaHirst commented on #3946
@TEParsons @isolver sorry this one is back! the word "calibration" is greyed out in the "insert routine" tab

[2021-06-15 11:54] RebeccaHirst commented on #4003
does this link to this? https://github.com/psychopy/psychojs/issues/322

[2021-06-15 11:58] tpronk commented on #4003
Well spotted @RebeccaHirst! Yes. I think there might be an issue on the side of the PsychoJS library as well. Both need fixing before we'll actually get to see a colored marker

[2021-06-15 12:28] TEParsons commented on #4010
Ahh I see why this was accidentally fixed now - the thing that fixed it will be when I fixed the flicker by only laying out when there's a visibility change from checking depends. Can actually fix this properly now I know where it's erroring!

[2021-06-15 12:42] isolver commented on #3949
@RebeccaHirst and I have figured out the source of this issue; I still need to figure out how to solve it for iohub.  The laptop monitor being tested had a reported windows 10 desktop resolution of 1920 x 1200 (not a typo), but the monitor size reported / used by psychopy and iohub are 1280 x 800.  The mouse coordinates iohub gets from Windows are being given in the 1920x1200 range and  iohub is a

[2021-06-15 13:24] thewhodidthis commented on #4003
This looks like a boilerplate thing as far as `markerColor` is concerned. However, the `Slider` class in PsychoJS does lack border / line options https://github.com/psychopy/psychojs/issues/401

[2021-06-15 13:55] #4018 closed, assigned to nobody

[2021-06-15 14:36] RebeccaHirst commented on #3899
yep can confirm now woks

[2021-06-15 14:36] #3899 closed, assigned to TEParsons

[2021-06-15 15:09] isolver opened #4029 "Eyetracking: calibration points "random" has no effect"
Changing the "randomise target positions" in the calibration component has no effect on the order in which points are presented.

this is actually a general bug in the updating of _nested_ calibration settings from the `runSetupProcedure()` call.

[2021-06-16 09:24] #3677 closed, assigned to nobody

[2021-06-16 09:24] peircej commented on #3799
This doesn't appear to be a bug or a feature change. Please use the forum for usage queries.

[2021-06-16 09:24] #3799 closed, assigned to nobody

[2021-06-16 10:11] isolver commented on #4029
closing. fixed in PR#4031

[2021-06-16 10:11] #4029 closed, assigned to isolver

[2021-06-16 11:10] #4010 closed, assigned to TEParsons

[2021-06-16 11:13] TEParsons commented on #3946
Fixed in #4028

[2021-06-16 11:13] #3946 closed, assigned to TEParsons

[2021-06-18 10:18] isolver commented on #3995
Seems to have been fixed by https://github.com/psychopy/psychopy/pull/4060.
Closing.

[2021-06-18 10:18] #3995 closed, assigned to isolver

[2021-06-18 10:47] RebeccaHirst opened #4061 "Pavlovia SearchBar: Search critereon need refining"
1. Currently search appears to only be performed on name not on group (sorting on group would help in finding demos).
2. Because the projects list is only of length 100 this means that many search hits can be missed from the results dialogue (especially if this is a popular project e.g. BART)

[2021-06-18 10:47] #4061 closed, assigned to nobody

[2021-06-18 10:53] #4003 closed, assigned to nobody

[2021-06-18 10:56] TEParsons commented on #3793
So is this a problem with relative paths? Does it need to have `../` at the beginning or something? If so I could add a condition whereby if a param is `valType="file"` and is a relative path it compiles to JS with necessary characters appended/prepended

[2021-06-18 12:29] tpronk commented on #3793
This issue is fixed I believe. There were a couple of PRs (amongst which one by you) for that, and the last one being PR #3957

[2021-06-18 12:29] #3793 closed, assigned to nobody

[2021-06-18 12:37] TEParsons opened #4063 "Slider start value doesn't affect .value, .rating or .markerPos"
Even if Slider component in Builder is given a start value, it still starts off as None (so you still have to do `(slider.markerPos or 0)`)

[2021-06-18 13:11] TEParsons commented on #31
We could potentially add this now that we have standalone routines! They could be managed by a dlg and appear in the component panel in their own category

[2021-06-18 14:16] #812 closed

[2021-06-18 14:31] #1260 closed

[2021-06-18 14:34] TEParsons commented on #2161
Editing README is now done in Coder, so this no longer applies

[2021-06-18 14:34] #2161 closed

[2021-06-18 23:39] alexholcombe opened #4065 "psychopy.info disappeared"
psychopy.info is not showing up for me or my student, in 2021.1.4, when one calls:

`import psychopy`

If one then executes
'psychopy.info', for example from the Psychopy IDE’s Shell, one gets this error:

AttributeError: module 'psychopy' has no attribute 'info'

Versions of psychopy a couple years ago did not have this error, and e.g. `psychopy.visual` does not throw an error.  I'm guessing that

[2021-06-21 13:12] tpronk opened #4069 "Shall we add `===` and `---` title options to our markdown parser?"
Shall we add `===` and `---` title options to our markdown parser? I ran a little test and confirm that the following works on our gitlab:
[code]
NB - This suggestion is inspired on a suggestion by @peircej.

[2021-06-21 14:50] R180 opened #4070 "The GUI (including the pop-up help message) says use brackets [ ] but the pre-populated value uses parentheses () instead, and using brackets causes a syntax error."
The GUI (including the pop-up help message) says use brackets [ ] but the pre-populated value uses parentheses () instead, and using brackets causes a syntax error.
Win10
2021.1.4:
Standalone

If I select TEXT - LAYOUT, I see “Position [x,y] $”
It’s as though the user is being asked to enter a list.
However, the corresponding, pre-populated value is not [0,0] but (0,0)
It’s as though the user is b

[2021-06-22 13:10] tpronk opened #4074 "Should we also transpile fields such as `Layout.size` to JS?"
I'm examining what it would take to make the [pizza-calculator](https://gitlab.pavlovia.org/demos/pizza-calculator) run on PsychoJS.

I noticed that the `bigPizza` Polygon has a Python expression in its size field, namely:
`((bigPizzaSize.markerPos or 0)/20, (bigPizzaSize.markerPos or 0)/20)`

This fails in PsychoJS, partially because the `or` operator does not transpile to JavaScript's `||` opera

[2021-06-22 13:25] peircej commented on #4074
Or, for the sake of demos, I think we just avoid doing stuff that's a Pythonism. The help-a-newbie version of this would be a code component with

BeginExperiment:
`pizzaSize = (0,0)`
EachFrame:
`pizzaSize = (bigPizzaSize.markerPos, bigPizzaSize.markerPos)`

Yes, it's 3 lines long but is really explicit to a newbie

[2021-06-22 13:27] peircej commented on #4074
Although transpiling parameters should also be done again. We did that to start with then stopped (and I've forgotten why). It isn't quite the same code call as for a snippet (because it isn't whole lines of code) but should be doable

[2021-06-22 13:46] tpronk commented on #4074
Ping @TEParsons, so he's in the loop

[2021-06-22 13:48] tpronk opened #4075 "Should we add "Variable Components" to the code generation for PsychoJS?"
I'm examining what it would take to make the [pizza-calculator](https://gitlab.pavlovia.org/demos/pizza-calculator) run on PsychoJS. It uses "Variable Components" , but those aren't generated for PsychoJS yet. Should we add them?

NB - This is a repost of a [ticket](https://github.com/psychopy/psychojs/issues/419) that was originally in the PsychoJS repo.

[2021-06-22 13:52] TEParsons commented on #4074
That specific issue won't be a problem when #4063 is fixed - as the slider should have a numeric start value if that param is set, so the `or` won't be needed.

[2021-06-24 04:48] iPsych opened #4081 "The Release v2021.2.0 crashes in mac os."
I guess it's some link issue. Referencing user directory supposed to used in compilation.

[code]

[2021-06-24 10:54] TEParsons opened #4082 "Validate colors"
Now that we have `visual.Color`, we can use this to validate colors in Builder, so we catch things like entering an rgb value while colorSpace is hex before running.

[2021-06-24 11:00] peircej commented on #4081
hmmm. Thanks for getting the stacktrace out
Looks like an issue with reloading the previous files into Runner view. Could you clear your userprefs file (or move it to a different name) to see if that fixes it? Then we can try and work out what went wrong if so

[2021-06-24 19:34] iPsych commented on #4081
I think it's similar to https://github.com/psychopy/psychopy/issues/3060 issue.

[2021-06-26 02:31] iPsych commented on #4081
@peircej
Still same, with 2.0.1, the error message is same with
https://github.com/psychopy/psychopy/issues/2823
The crash of PTB main thread in High Sierra. (Tested in three different system in 10.13.6, Mac Pro 2013, MBP 2014, Mac Mini 2012).

[2021-06-28 08:45] peircej commented on #4081
I don't see the error message you report in either of those issues, and 3060 has been fixed (that was a packaging/code-signing issue on newer versions of macOS.

I don't understand though, if this is occurring at startup why any files are being loaded if you've cleared out your user prefs. 🤔  If this is failing on 3 systems, I wonder why I can't reproduce it. Is there anything else you're doing be

[2021-06-28 08:46] peircej commented on #4081
Also, when you say you tested on those 3 different macs, were they all running High Sierra? I haven't used that in a while so maybe that's the issue

[2021-06-28 08:49] iPsych commented on #4081
@peircej Yes, all High Sierra. I will test in Mojave and report today.

[2021-06-28 09:31] bollaking commented on #4081
How can I get the stacktrace. I get a similar crash when I run but it is silent. All I get is the Apple notification that a program has crashed. PsychoPy itself does not crash just the thread running the experiment.  I maybe too bleeding edge as I am on Big Sur and I have seen many things on the internet regarding xCode 12.  Here is the Apple report if it helps?
[dump.txt](https://github.com/psych

[2021-06-28 13:33] TEParsons commented on #876
@mdcutone is this solved now that we have the new mic backend?

[2021-06-28 13:34] #880 closed

[2021-06-28 13:39] TEParsons commented on #1022
Tried this out in 2021.2.0 and seems to no longer be an issue :) Instead of crashing it reverts back to Constant - might be the changes we made to Params in 2021.1, as there's new behaviour when the value is not in allowedVals for a list ctrl

[2021-06-28 13:39] #1022 closed

[2021-06-28 13:43] #1101 closed

[2021-06-28 14:14] mdcutone commented on #3776
Infinite playback is supported through the audio backend if they support repetition or streaming.

[2021-06-29 13:33] mdcutone commented on #876
The new microphone class does not have a `block` method. Use timers instead.

[2021-06-29 13:33] #876 closed

[2021-06-29 14:57] martinthedinov opened #4090 "Issue opening preferences dialog (+workaround)"
When I was trying to open the preferences to change the order of sound drivers, I get this error:

`Traceback (most recent call last):
  File "/home/thebrain/Desktop/Maaind/dev/NOVA/.venv/lib/python3.9/site-packages/psychopy/app/themes/_themes.py", line 814, in _loadBitmap
    im = wx.Image(filename)
TypeError: Image(): arguments did not match any overloaded call:
  overload 1: too many arguments

[2021-06-30 09:18] #4063 closed, assigned to nobody

[2021-07-01 13:40] eyavuz21 opened #4096 "Edited images on gitlab do not appear when I run experiment on Pavlovia"
Dear all,

When I try to replace an image on an experimental project on Gitlab, and then run the experiment on Pavlovia, the new image does not appear, only the old one!

I have attached a screenshot of what I am trying to do!

![Screenshot 2021-07-01 at 14 39 47](https://user-images.githubusercontent.com/59828368/124133925-37aecd00-da7a-11eb-8340-eacdc6749315.png)

Is this the right of way of edi

[2021-07-02 04:13] iPsych commented on #4081
@peircej
The head of full error message is below.
It seems the crash is related to LIBDISPATCH.

I get the same error message in Catalina too.
Both machines are Mac Book Pro 2014, (tested in high sierra mac pro 2012, Catalina Mac pro 2013 too...)

[code]

[2021-07-02 06:57] iPsych opened #4098 "Tobii eyetracker with EPU not works in PsychoPy"
<p style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-size: 15.008px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);

[2021-07-03 14:10] giuliaccc222 commented on #4081
Hi, I get the same error on my Macbook Pro too (2019 - running Big Sur v 11.2.1). It happens every time I run an experiment from Builder (see screenshot). I downgraded to Psychopy 2021.1.4 and it seems to work, but it would be great to have the latest version to use the new eye tracking component integrated into Builder.

<img width="851" alt="Schermata 2021-07-03 alle 14 59 58" src="https://user-

[2021-07-04 02:49] iPsych commented on #4081
@giuliaccc222 exactly same error. I've excluded software issues, since one of the tested system is dedicated to experiment and not 3rd party system utils like istats... etc.
One remaining possibility in software level is the exists of brew. Do you have homebrew in your system?

[2021-07-04 11:41] iPsych commented on #4081
@peircej
I found below, and tried to command to run
`/Applications/PsychoPy3.app/Contents/MacOS/python -m psychopy.app.psychopyApp
`but below error happens.
"Users/robind/" is pops up in the error repeatedly. Is there any path issue while compiling?
'robind' is mentioned in several other issues,
https://github.com/psychopy/psychopy/pull/2563
https://github.com/psychopy/psychopy/issues/3065

https:

[2021-07-06 17:28] peircej commented on #4065
This is actually the expected behaviour. We could set up the `psychopy/__init__.py` to import all submodules in which case your code would work, but haven't done that for many years because it means _all_ of PsychoPy being imported when you import _any_ part of it. With the notation:
[code]
you can choose which parts of the package you import and for something as large as PsychoPy that's important

[2021-07-06 17:28] #4065 closed, assigned to nobody

[2021-07-06 17:49] peircej commented on #4081
There are several different error messages going on here. @iPsych your first one was about the runner. Your most recent one was about the Coder and it's a different error message. You haven't said what you're actually doing when either of these occur (which might help me to reproduce it locally).

@giuliaccc222 and @bollaking I can replicate what looks like the issue you have (at the point of stud

[2021-07-06 17:52] peircej commented on #4090
That's fixed by this commit (and in 2021.2.0)
https://github.com/psychopy/psychopy/pull/3755

[2021-07-06 17:52] #4090 closed, assigned to nobody

[2021-07-07 13:25] RebeccaHirst opened #4110 "BUG: polygon contrast component doesn't update appearance"
Changing the contrast value of a polygon (in builder view version 2021.2) does not update the visual appearance of a polygon.

[2021-07-07 18:42] haley-beck opened #4116 "Button and ResponseScale missing"
Someone in my lab just installed version 2021.1.4 and the Button and ResponseScale options are missing from her builder. We have both looked around online for solutions but it doesn't seem that people have run into this issue before. She tried uninstalling and reinstalling the program and this did not fix it. Any suggestions for fixing this? Thank you.

[2021-07-08 09:08] isolver opened #4118 "Builder Calibration or Validation shortens time / skips first trial if duration is used"
If an experiment specifies trial length by duration (say 5 seconds), adding eye tracker Calibration or Validation Component before the trial causes the trial to be skipped. It is as if the timer for the trial is not being reset before the trial starts.

Run attached example and you will not see any trial screen (experiment will just exit after validation).
[singlescreen.zip](https://github.com/psy

[2021-07-08 09:51] isolver opened #4119 "Resolution warning confusion on some laptops"
Some (Windows??) laptops seem to have display hardware with pixel resolutions < 1920x1080 and this causes some issues for Builder warnings. Two examples:

[code]

and

[code]

but in both cases the user did not request anything but _fullscreen_ resolution.

If an image is displayed that matches the 'actual size' reported by PsychoPy (for example a 1920x1080 with a 1920x1080 screen res), then this

[2021-07-08 12:56] isolver commented on #4098
@iPsych , looking at the project you attached on Discourse, it looks like you are using the Tobii Python SDK directly in the custom code of your Builder experiment, starting your own subprocess for calibration, etc.  Do I have that right? If so, I'm not sure how we can help with this. Have you contacted Tobii about the issue, maybe trying to create an example outside of psychopy that recreates the

[2021-07-08 13:17] isolver commented on #4118
updated OP to indicate both Calibration and Validation components seem to have same isssue. @TEParsons, would you be able to look into this please?

[2021-07-09 03:01] iPsych commented on #4081
@peircej, Yes, the first one is issue on runner from builder, and the recent one is what I found while searching 'robind'.
Isn't this the path issue related on libraries and frameworks of MacOS?

[2021-07-09 03:07] iPsych opened #4122 "Pyo problem in MacOS"
There are many reports in forum on mic issue with MacOS.
I've struggled for days, and found solution.
It's just hacky solution, and hope the dylib with correct relative path is included in new release : )

in the pyo folder,
`/Applications/PsychoPy.app/Contents/Resources/lib/python3.6/pyo
`
run below commands.
`install_name_tool -change @loader_path/libportaudio.2.dylib @loader_path/…/…/…/…/Framew

[2021-07-09 09:15] tpronk opened #4124 "Use tab to go to the next field in the builder (also for name field)"
I like to use tab to go from one field to the next when editing a component in the builder. This works well with fields that have a numeric value, such a "Start" and "Stop". However, when I press the tab in a "Name" field, it adds a tab to the value in that field instead of going to the next field.

Since tabs aren't allowed in variable names anyways, could we make it such that we can also go the

[2021-07-09 09:42] isolver commented on #4118
Current work around is to add an empty Routine to the flow right before the trial routine, and after Validation. The empty routine seems to cause the trial timer to be set correctly.

[2021-07-09 13:21] jfkominsky opened #4126 "VlcMovieStim gives inconsistent segfault error on MacOS when there are multiple movie files"
PsychoPy 2021.2.0.1, MacOS Catalina 10.15.7, 2017 Macbook Pro

Easy repro: Using the VlcMovieStim demo, simply add a second VlcMovieStim object (mov2) with a separate path, and give it a separate play loop following the first one.

The failure is inconsistent: once every two to four runs, it crashes and outputs no error message in the console, but instead I get a system error dialog and the option

[2021-07-09 14:26] #4110 closed, assigned to nobody

[2021-07-09 15:03] iPsych commented on #4098
@isolver Thanks.
Actually putting subscribe and unsubscribe in routine doesn't make any problem with USB type ones.
However, yes, it's weird way.

So, I tested very simple code attached directly in python and in coder shell, same result. ( I attached the file)
[tobiitest2.py.zip](https://github.com/psychopy/psychopy/files/6792265/tobiitest2.py.zip)

[2021-07-09 15:05] iPsych commented on #4098
@isolver
Update! the problem only happens with tobii_research >=1.6.2.
I tested all available versions one by one, and found the issue disappears in 1.6.1 and 1.6.0.
It seems the issue is directly related to .so file Tobii provided.
If anybody using Mac and use X3-120, please replicate the issue :)

Update2!
Yes. After force unzip and replaced tobiiresearch in lib folder of PsychoPy3 2021.1.4 Vers

[2021-07-12 09:21] SvenB-Hal opened #4128 "Window and Stimulus Sizes Influenced by Dialog Box"
According to TParsons on discourse.psychopy.org I post this on GitHub, too.

Win10, PsychoPy 2021.1.4, standalone, Builder

I know this thread: [Size of visual.Window() still influenced by dialog box](https://discourse.psychopy.org/t/size-of-visual-window-still-influenced-by-dialog-box/6559) and the thread before, but the problem is still present.

When I define a window size of for example 800 x

[2021-07-12 12:00] TEParsons opened #4129 "Changing textbox units breaks it"
Can be seen running this code:

[code]

TextBox works fine if it's created in `pix`, but not if it's set to `pix`

[2021-07-12 12:27] TEParsons opened #4131 "Slider size and pos are not settable"
Rather than setting the size and pos of each element on init, we should define relationships between the size of elements & the size of the Slider so that they can change live

[2021-07-13 01:25] NickleDave opened #4133 "broken links on psychopy.org landing page -- templating issue?"
Hi `psychopy` maintainers,

just noticed that the link to Documentation on the drop-down from the main landing page is broken

(I get "https://www.psychopy.org/%7B%7B%20pathto('documentation')%20%7D%7D" from pasting)
![Screen Shot 2021-07-12 at 9 24 35 PM](https://user-images.githubusercontent.com/11934090/125375736-9536f980-e357-11eb-87e4-da59b0033e6a.png)

when I click that, I get something that

[2021-07-13 01:28] NickleDave commented on #4133
Update: it's all the links in that dropdown 😬 -- I get something similar trying to go to the API reference

![Screen Shot 2021-07-12 at 9 27 45 PM](https://user-images.githubusercontent.com/11934090/125376002-0f677e00-e358-11eb-8096-16f1fce76810.png)

[2021-07-13 13:50] jfkominsky commented on #4126
Update: On further testing this is not a VLC thing. This occurs at odd intervals whenever I try to access information that involves external media files. Most likely a duplicate of https://github.com/psychopy/psychopy/issues/4081

[2021-07-13 13:50] #4126 closed, assigned to nobody

[2021-07-13 13:54] jfkominsky commented on #4081
I've been encountering related errors that are different flavors of memory access issues, primarily in the context of accessing complex dictionaries that contain things like media files or paths (yes, this is all PyHab stuff). There is something weird going on with memory allocation or protection or something, because my errors are always things like "KERN_PROTECTION_FAILURE at 0x0000000102b61000"

[2021-07-14 09:14] thewoz commented on #4122
I try you hack.
However I not able to open PsychoPy since the file look dameged.
Moreover the ... in the path should be ..?

[2021-07-14 09:53] thewoz opened #4134 "PsycoPy 2021.2.0.1 still issue in MacOS BigSur"
Hi,
I have download the laste version on the code.
I still get this error running an experiment.

Process:               python [3280]
Path:                  /Applications/PsychoPy.app/Contents/MacOS/python
Identifier:            org.opensciencetools.psychopy
Version:               2021.2.0 (2021.2.0)
Code Type:             X86-64 (Native)
Parent Process:        PsychoPy [3268]
Responsible:

[2021-07-14 13:27] gjcooper opened #4135 "gui.DlgFromDict raises KeyError when passing a dictionary of alternative labels"
When I create and run a `DlgFromDict` I often want the dictionary to have useful but short names, and the dialog box to have longer, more informative names.

However if I pass any dictionary to the `gui.DlgFromDict` as a labels argument (that has at least one matching key to the `dictionary` object) then when the dialog box returns it triggers a `KeyError`

This can be replicated by adding a line

[2021-07-14 13:55] iPsych commented on #4122
@thewoz
It's hacky way, since it's touching the dylib after it compiled.
So, SIP should disabled. First check it.
Than possiblly need to disable sudo spctl --master-disable.
Little safer way is trying xattr based on below link.
https://osxdaily.com/2019/02/13/fix-app-damaged-cant-be-opened-trash-error-mac/

[2021-07-14 14:22] thewoz commented on #4122
Hi thanks for the answer.
I have disable the xattr and PsychoPy start.
however I still have an error running an experiment. #4134

[2021-07-14 14:35] iPsych commented on #4122
@thewoz Me neither...
2021.1.4 is currently works, but not 2.0 or 2.0.1...

[2021-07-16 14:57] jfkominsky commented on #4081
I think I have at least pinned this down into something reproducible. I created a version of the vlcmoviestim coder demo and found a few different patterns of behavior. Let me start with the base code I used:

[code]

This code, as written, will show nothing until a key is pressed, at which point it will play the movie just fine. So right off the bat, it's ignoring that initial 'play' command and

[2021-07-16 22:02] mdcutone commented on #4081
Thanks for trying to get to the bottom of this. I'm quite puzzled by this line Apple error log as it seems unrelated to the problem:

[code]

My suspicion is that `python-vlc` is using `libcrypto` somewhere and it's failing when trying to access it.

[2021-07-18 13:36] RebeccaHirst opened #4138 "Microphone: using en-GB raises error"
using en-GB raises error when using mic transcription in builder even though the hover prompt tells users to use en-GB.

  File "C:\Users\44797\Desktop\tests\mic\untitled_lastrun.py", line 333, in <module>
    language='en-GB', expectedWords=None
  File "C:\Program Files\PsychoPy\lib\site-packages\psychopy\sound\microphone.py", line 929, in bank
    engine=engine, **kwargs)
  File "C:\Program File

[2021-07-18 20:56] mdcutone commented on #4138
Thanks for pointing this out, will fix.

[2021-07-19 11:59] papr opened #4142 "[Python 3.9 incompatibility] unexpected keyword argument 'encoding'"
I am aware that https://www.psychopy.org/download.html#developers-install recommends using Python 3.6. [But with its end-of-life approaching in December](https://www.python.org/dev/peps/pep-0494/#and-beyond-schedule), I wanted to raise awareness about incompatibilities with the latest Python release, version 3.9.

One of the incompatibilities is that PsychoPy uses the `encoding` keyword argument w

[2021-07-19 16:10] mdcutone commented on #4134
This seems to be related to #4081 which is a problem we're aware of.

[2021-07-20 14:36] #4135 closed, assigned to nobody

[2021-07-20 21:23] kappa95 opened #4150 "BUG with Ubuntu 18.04 and Python 3.6 - Stack Smashing error"
Hi community,
I have installed Psychopy with Python 3.6.9 on Ubuntu 18.04. I am trying the demo code of the [tutorial](https://www.psychopy.org/coder/codeStimuli.html) but i get the following output:
[code]

I have also tried to change the stack limits with: `ulimit -s unlimited` without success.

It is also impossible to use directly from the terminal the `psychopy` command because it results not

[2021-07-21 12:15] thewhodidthis opened #4152 "Lib list entries in Runner.getPsychoJS() need updating for PsychoJS latest"

[2021-07-21 14:03] #4138 closed, assigned to nobody

[2021-07-21 14:14] #4152 closed, assigned to nobody

[2021-07-21 14:29] peircej commented on #4133
I believe this is fixed now. Thanks

[2021-07-21 14:29] #4133 closed, assigned to nobody

[2021-07-22 11:54] isolver opened #4156 "iohub mouse.setPosition inverts y position of system mouse"
See https://discourse.psychopy.org/t/iohub-mouse-wrong-location-using-coder/24085/3

[2021-07-22 13:12] isolver commented on #4156
iohub `mouse.setPosition` inverts y position of system mouse on macOS.
`mouse.setPosition((0,0))` : correctly sets system cursor set to screen center
`mouse.setPosition((100,-200))` : system cursor incorrectly set to psychopy pix coord (100,200) - y value is inverted.

[2021-07-22 15:11] thewhodidthis opened #4157 "Boilerplate JS for circle shape needs more edges"

[2021-07-22 17:14] mdcutone opened #4159 "Duplicate item in Builder demo menu"
See picture below. This is 2021.2.1 on Windows 10.

![dup_menu_in_builder_demo](https://user-images.githubusercontent.com/5150568/126680647-dd134108-d934-4882-ba66-ba931128880f.PNG)

[2021-07-23 12:08] peircej commented on #4122
I'm surprised this works - I thought pyo was being stripped entirely since we began codesigning for macOS gatekeeper (a requirement to working on Big Sur)

BUT there's a new Microphone class that uses Psychtoolbox instead:
  https://github.com/psychopy/psychopy/blob/release/psychopy/sound/microphone.py
I believe this is more robust, almost certainly lower-latency, and works out the box (although f

[2021-07-23 12:08] #4122 closed, assigned to nobody

[2021-07-23 12:43] peircej commented on #4081
Could you try with 2021.2.1 (just released)?

There was certainly one issue with launching the app that turned out to be occurring during the Apple Code Signing step of the building - it turns out that the psychtoolbox dylib that was installed had been compiled with a compiler that didn't support code sign so it was being stripped out.

For crypto we now explicitly include the python cryptography

[2021-07-23 12:45] peircej commented on #4134
Could you try with 2021.2.1 (just released)? I believe there was an issue with the psychtoolbox in the previous version, although from the useless error message it's hard to know exactly what the issue was! So in 2021.2.1 I've switched to a different version of psychtoolbox (3.0.16) which was certainly previously working

[2021-07-23 12:45] #4134 closed, assigned to nobody

[2021-07-23 13:26] thewoz commented on #4134
Hi,
I need to download the just released 2021.2.1 here on Github or I can also download it from the web site (www.psychopy.org)?

[2021-07-23 13:26] jfkominsky commented on #4081
Just got 2021.2.1 and tried it, but I'm afraid it's the exact same as it was before. When it works it behaves as describes, when it crashes it crashes with the same error:

[code]

[2021-07-23 19:33] jfkominsky opened #4161 "problem with MoviePy playback - fixed by going to most recent build of MoviePy"
So I've been fighting an _incredibly_ annoying series of bugs involving movie playback (yes, my PyHab thing again). Basically it would play the movie fine the first time, but then on a subsequent playback, for larger movies (>5MB), it would throw the error described in this moviepy issues thread: https://github.com/Zulko/moviepy/issues/1323

It actually throws this error recursively every time  it

[2021-07-26 13:21] isolver commented on #4156
this is actually an issue win and macOS

[2021-07-26 13:41] isolver commented on #4156
Also fix:
- [ ] setPosition only seems to work when units are pix / ints.

[2021-07-26 15:34] iPsych commented on #4081
@peircej Thanks. I just tested 2021.2.1. The experiment runs properly in High Sierra and Catalina.
I cannot agree more about your feeling toward recent MacOS development.

[2021-07-26 17:50] mdcutone commented on #4161
While shipping a development release is something we try to avoid, if it provides a fix to something that's completely broken it might be worth doing. Thoughts @peircej?

[2021-07-26 23:54] alexholcombe opened #4168 "psychopy.info check of other processes running no longer works, at least on MacOS"
The problem seems to be that to create a list of processes running, info.py uses
                proc = shellCall("ps -c -U " + os.environ['USER'])
However, this no longer works, as I discovered by executing
shellCall("ps -c -U") from the shelf.

It seems that perhaps Psychopy should now be using psutil as described [here](https://thispointer.com/python-get-list-of-all-running-processes-and-sort-b

[2021-07-27 09:57] #4156 closed, assigned to isolver

[2021-07-28 16:05] dfareri commented on #2255
Hi, has there been a verified solution to this issue?

[2021-07-28 20:05] mdcutone commented on #4119
I'm assuming this is related to HiDPI settings on Windows which are commonly set to >%100 on laptops to make sure the UI is readable on small HD displays. We'll need to apply similar logic we use with retina displays on Windows machines at some point. Right now people will need to ensure desktop scaling is at 100% when using PsychoPy. Hopefully we can get a move on this since I'm seeing this come

[2021-07-28 20:08] mdcutone commented on #4124
Sounds reasonable. I think we just need a `TAB_TRAVERSAL` flag when instancing our input fields. Something Todd or I can do.

[2021-07-29 08:38] papr opened #4184 "iohub.server.sendResponse: Incorrect MAX_PACKET_SIZE"
We are working on [integrating Pupil Core into PsychoPy's ioHub](https://github.com/pupil-labs/psychopy/tree/pupil-labs-pupil-core-eye-tracker) but are currently receiving a series of similar error messages:
[code]
As you can see `max_pkt_sz >= reply_data_sz`, but `reply_data_sz` is still too large for a single-message transfer. Therefore, I am assuming that [`max_pkt_sz` is calculated incorrectly

[2021-07-29 12:53] isolver commented on #4184
Looks like the max udp packet size on macOS is ~9000 bytes. Atleast for now, if you keep each response to below 9k bytes you should not run into the issue.

Out of interest, what are you needing to send that is 29k bytes in one response? For best IPC performance, if possible you probably want to keep each response to within a single packet.

I'm looking into an actual fix, but simply reducing the

[2021-07-29 13:07] papr commented on #4184
We currently have a very high `device_timer.interval`, resulting in ~250 samples being added to the event buffer per `_poll()` call. Am I assuming correctly that the iohub server tries to batch-transfer these? We might be doing something very wrong if a single event has a size fo 29k bytes...

[2021-07-29 13:22] isolver commented on #4184
Thanks for the extra info. You probably want the polling interval to be <= your device sampling rate so that each poll gets 0 to a couple events / samples. So if the tracker is sampling at 250 hz, a default device_timer.interval of 0.004 sec (4 msec) would work well.

Regardless, I'll let you know when I've fixed the macOS multipacket issue. Thanks again.

[2021-07-29 15:53] isolver commented on #4184
This should be fixed in #4185. Thanks for raising the issue.

[2021-07-29 15:57] isolver commented on #4119
I think @RebeccaHirst has a laptop that reproduces the issue. I though we had tried changing the scaling to 100% and it did not make a difference, but I may have that wrong.

[2021-07-29 16:21] mdcutone commented on #4168
Thanks, I'll try to get this sorted out.

[2021-07-30 12:54] TEParsons commented on #4159
This is the thing I was complaining about with the standalone, think it's fixed in the .2 release but you might have to manually delete the demos folder for it to no longer appear if you had .0 installed previously. @peircej am I right in thinking that?

[2021-07-30 12:55] #4157 closed, assigned to nobody

[2021-07-30 14:15] TEParsons commented on #4116
RatingScale was hidden in version 2021.1.0 onwards, existing RatingScale components will still exist but the button is no longer in the components panel - we recommend using Slider instead as it can do all the same stuff as RatingScale but is actively maintained and more stable.

Button certainly should be there though - in your preferences, is Button listed in "Hidden Components"?

[2021-08-02 11:07] #4184 closed, assigned to isolver

[2021-08-03 19:50] mdcutone opened #4191 "Possible regression in file access times"
Issue brought up in this [forum post](https://discourse.psychopy.org/t/moviestim3-1-s-load-time-windows-10-new-problem-in-old-script/23901/14?u=mdc). Seems that PsychoPy was previously had faster loading times for images but that changed in a previous release indicating a possible regression.

[2021-08-04 08:02] TEParsons commented on #4070
Square brackets not working was a bug that is now fixed :) `size` and `pos` are both list-type inputs, meaning you can specify them as:
`[x, y]`
`(x, y)`
or
`x, y`

[2021-08-04 08:02] #4070 closed, assigned to nobody

[2021-08-04 08:11] TEParsons commented on #4069
So far as I can tell this works on the latest standalone:
![image](https://user-images.githubusercontent.com/25686106/128146141-9c594b2a-18c1-4390-8c87-099bf51a5c6d.png)

We use markdown-it to parse markdown in the REAME files, which also exists in JS, so if GitLab will let us use a custom parser we could apply markdown-it JS to Pavlovia for synchronicity?

[2021-08-04 09:21] TEParsons commented on #4118
Looks like the problem is with the routine timer - it gets reset at the end of the previous routine, but I guess it doesn't for standalone routines, so rather than starting counting down to 0 at 5s it starts at like -70s (or however long the previous routines took)

[2021-08-04 10:40] #4116 closed, assigned to nobody

[2021-08-04 10:41] TEParsons commented on #4096
Did you sync your experiment inbetween? It looks like the last update to those files was 1 month ago

[2021-08-04 11:14] TEParsons commented on #3816
Ah I see the problem - `self._colors.render('rgba1')` applies the value of `self._colors.contrast` to the colours, but the value of `self._colors.contrast` and `self.contrs` aren't linked. Will put in a PR with the necessary changes :) In the meantime, you can get this example to work by adding this line after the stim is created:
[code]
(and importing numpy)

[2021-08-04 14:34] #1434 closed

[2021-08-04 15:48] peircej commented on #256
Closing this for long inactivity! :-)

[2021-08-04 15:48] #256 closed

[2021-08-05 09:13] TEParsons commented on #1821
Given the stuff @mdcutone has been doing recently I'd wager 5 is no longer relevant as audio is totally different behind the scenes now, and movie stim is next up for these changes so 8 may well be fixed soon too. Matthew can you confirm?

[2021-08-05 12:28] TEParsons commented on #3714
This should be fixed on pulling in #4196 :)

[2021-08-05 12:34] TEParsons commented on #2860
This has since been fixed by @thewhodidthis on the JS end :)

[2021-08-05 12:34] #2860 closed

[2021-08-05 12:38] TEParsons commented on #2826
I can't replicate this error in the latest version - I'll close this issue for now, but @PhilLange if it's still a problem in 2021.2 please reopen this :)

[2021-08-05 12:38] #2826 closed

[2021-08-05 12:39] TEParsons commented on #2539
We've changed a fair bit about how conditions files are loaded in since this issue was raised, could you give it another go in the latest version (2021.2.2)?

[2021-08-05 13:49] TEParsons commented on #2381
Vertices aren't hugely relevant to TextStim as it doesn't really have an x size - it just has a height and is as long as the characters are. However, when the rework of `.size` and `.pos` is in, I've added to that something to estimate the width of the TextStim based on letter height, so vertices can at least be estimated if not set. However, for creating text with settable and sensible vertices,

[2021-08-05 17:42] #4118 closed, assigned to TEParsons

[2021-08-05 23:10] mdcutone commented on #2291
I'm currently making a new REPL that is marginally better than what we have now. It is able to spawn separate Python interpreter processes rather than using the application's (which is my biggest problem with PyShell).

I was also able to run IPython and JS shells from it, but it's really tricky to get working since we don't have real terminal emulation here.

[2021-08-06 11:37] #4098 closed, assigned to isolver

[2021-08-06 15:53] #3815 closed, assigned to TEParsons

[2021-08-08 19:13] bastosfh opened #4207 "Possible bug - Builder crashes when typing a dollar sign into a text component"
**OS:** Ubuntu 20.04
**PsychoPy version:** 2021.2.2
**Standard Standalone**

**What happens:**
When I type a dollar sign ($) at the beginning of a text component, Builder gives an error and crashes.
If I type the $ at a different position in the box, nothing happens (please, see the gif below):

![Builder_crash_with_dollar_sign](https://user-images.githubusercontent.com/23731464/128643192-cf7e7fef

[2021-08-08 19:22] RebeccaHirst opened #4208 "Eyetracking demo: Error on launch 2021.2.2 iohub issue?"
I get the following error when launching the eyetracking demo in builder 2021.2.2 on windows (app launched from pycharm)- does anyone else get this? looks like an iohub issue?

[code]

[2021-08-09 10:45] isolver commented on #4208
the demo seems to be OK for me. What screen number is the demo tryng to use? One of the errors / warnings you get suggests the requested screen number does not exist. The demo in the release branch is set to use the first screen, so that seems correct.

[code]

thank you

[2021-08-09 11:26] isolver commented on #4208
With that said, iohub should probably be defaulting back to the first monitor in cases like this (like psychopy itself does), instead of raising an error and crashing out.

[2021-08-09 17:16] mdcutone commented on #4207
Thank you for reporting this. We'll be looking into it.

[2021-08-09 18:46] RebeccaHirst commented on #4208
Hi @isolver sorry about that - yes you are correct. I was trying to use screen 2 (I had a second monitor plugged in) - it runs fine with one monitor and screen number set to 1. Thanks!

[2021-08-09 18:46] #4208 closed, assigned to nobody

[2021-08-10 15:15] #1227 closed

[2021-08-10 16:36] #3816 closed, assigned to nobody

[2021-08-11 11:27] peircej commented on #4207
I haven't been able to replicate this on macOS, although I'm not sure what aspect would make it a platform-specific bug 🤔

[2021-08-11 20:37] bastosfh commented on #4207
I'll make a fresh install of Ubuntu and Psychopy to check if I can still see it. I'll report it here as soon as I can.

[2021-08-12 00:01] bastosfh commented on #4207
With a fresh install (and after installing all the updates) I still get the error, but now PsychoPy does not crash (please, see the gif below).

![Psychopy_error_text](https://user-images.githubusercontent.com/23731464/129118077-69213b33-e054-4ee1-915e-2d772fbdb553.gif)

**Error message**

  File "/home/flavio/.local/lib/python3.8/site-packages/psychopy/app/builder/dialogs/paramCtrls.py", line 29,

[2021-08-12 11:20] peircej commented on #1979
I'm closing this again as a problem upstream

[2021-08-12 11:20] #1979 closed

[2021-08-12 11:30] peircej commented on #3611
As far as I can tell, this is all fixed @mdcutone ?

[2021-08-12 11:30] #3611 closed, assigned to nobody

[2021-08-12 12:05] peircej commented on #1309
Do PST boxes still exist to support or shall we close this one down?

[2021-08-12 12:06] peircej commented on #1300
pysoundcard has been superseded by several superior packages and I think we can close this now

[2021-08-12 12:06] #1300 closed

[2021-08-12 12:13] hoechenberger commented on #1309
I would consider them legacy and advice users to switch to something else these days.

[2021-08-12 12:27] peircej commented on #1085
This has become irrelevant with recent sound engines which have much improved sound out the box

[2021-08-12 12:27] #1085 closed

[2021-08-12 12:34] peircej commented on #2283
I believe the point in the original post is fixed. The subsequent comment by
@marizephe seems to be about the an experiment that has crashed at run time, rather than an experiment not being recognized as existing by PsychoPy

[2021-08-12 12:34] #2283 closed

[2021-08-12 12:36] peircej commented on #4096
I think this was most likely an issue with not refreshing the browser cache after updating the experiment. I'm closing for now but reopen if this is still an issue

[2021-08-12 12:36] #4096 closed, assigned to nobody

[2021-08-12 12:46] #1819 closed

[2021-08-12 12:50] peircej commented on #2035
I'm closing this - not important enough a change to warrant breaking people's existing code

[2021-08-12 12:50] #2035 closed

[2021-08-12 13:36] #4168 closed, assigned to mdcutone

[2021-08-12 13:48] #4069 closed, assigned to nobody

[2021-08-12 15:13] #3714 closed, assigned to nobody

[2021-08-12 15:28] #2539 closed

[2021-08-12 15:39] peircej commented on #4081
OK, I'm closing this issue as the original posted issue is fixed (crashing when launching on macOS)

By the way the new 2021.2.3 now fixes the annoying frozen-in-the-dock issue too 🥳

@jfkominsky it looks like your issue is a specific thing to do with the VLC movies. Let's move that discussion to a separate issue so that we have only one bug to fix per thread. thx

[2021-08-12 15:39] #4081 closed, assigned to nobody

[2021-08-12 15:41] peircej commented on #3797
this was fixed by #4190

[2021-08-12 15:41] #3797 closed, assigned to nobody

[2021-08-12 15:43] #2295 closed

[2021-08-12 15:44] TEParsons commented on #2328
@peircej does this still happen on Mac?

[2021-08-12 16:20] tsgouvea opened #4223 "Publishing before saving only pushes changes to .js, not .psyexp nor .py"
If after making changes through Builder one clicks "Sync with the web project" without also clicking "Save current experiment file", a commit will be pushed with changes to the `.js` files only.

It appears that in order for a commit to reflect the same changes on the three files (`.psyexp`, `.py`, and `.js`), one would have to take three distinct actions (respectively: save, render to python, and

[2021-08-12 18:46] bastosfh commented on #4207
The way I install PsychoPy changes the behavior of the error:

- No icons, but also no crash: above installation following [this instructions](https://discourse.psychopy.org/t/unable-to-properly-install-psychopy-on-ubuntu-20-04/12760/8)
- Icons showing nicely, but PsychoPy crashes: the method I describe below

This time, I started PsychoPy from the terminal so I could (hopefully) get more informat

[2021-08-12 20:02] peircej commented on #4142
It looks like this was fixed back in January with #3470 and that has certainly been applied to both our dev and release trunks
@papr is your copy of the repo up to date?

[2021-08-12 20:06] papr commented on #4142
Probably my bad then. I can't check right now. I will close the issue and reopen it in case I can confirm that the issue persists.

[2021-08-12 20:06] #4142 closed, assigned to mdcutone

[2021-08-13 08:25] #3197 closed

[2021-08-13 08:31] TEParsons commented on #2273
Working on this in #4107 :)

[2021-08-13 08:47] #1324 closed

[2021-08-13 08:49] TEParsons commented on #1296
#4211 will essentially add this :) You'll be able to make a Vector in one unit space and then access its value in another, so can convert to and from any valid unit space.

[2021-08-13 09:05] #882 closed

[2021-08-13 09:12] TEParsons commented on #2381
link #4211

[2021-08-13 09:13] #714 closed

[2021-08-13 09:14] TEParsons commented on #714
Uninstaller does now remove shortcuts in Windows 10 :)

[2021-08-13 11:57] TEParsons opened #4224 "Modal dialogs with multiple Builder/Coder windows open"
When a dialog is open in Builder, it's marked as "model" - meaning clicking on anything else while it's open will have no effect other than making an error ping. This is intended behaviour, but when multiple windows are open, dialogs should be modal only relative to that window. This means you can have a component open in two experiments to compare, or can look at a Coder window without having to

[2021-08-13 12:04] TEParsons opened #4225 "False syntax errors after compile to JS"
To replicate:
Create a TextStim in Builder, set its Text param to "set each frame" with a value of:
[code]
Then compile to JS. When you click back on the TextStim, the validator insists that your syntax is incorrect. This goes away if you compile to Python.

I think what's happening is that the global `target` is set to JS on compile, and having this `target` be JS causes text in validators to be

[2021-08-13 14:00] TEParsons opened #4227 "Moving folder of already synced Pavlovia project breaks on next sync"
On first sync, the local path of the project is stored - when you move the whole folder to a new location, this local path isn't updated. Possible solution is to update local path on save/sync if it's different than is stored.

[2021-08-13 15:08] peircej commented on #4227
I think there are a few of these sort of issues where once the project is created we assume it's there still with no `try...except` to catch the error if it's moved

[2021-08-16 14:18] mdcutone commented on #2291
Closing this since we have a slightly improved REPL in the dev branch (proper history, separate processes, etc.). It's unlikely we'll get IPython support reintroduced anytime soon and the option to change interpreters will be completely removed.

[2021-08-16 14:18] #2291 closed

[2021-08-17 14:58] #2394 closed

[2021-08-17 15:02] peircej commented on #2392
@mpratt14 I believe parallel ports are now working seamlessly in the Win10 version of PsychoPy. I think the issue used to be around the fact that the driver was 32bit and didn't play nicely with 64bit operating systems. We now ship Standalone only in 64 bit format and I haven't heard of anyone having issues recently but if I'm wrong about that then do reopen this issue

[2021-08-17 15:02] #2392 closed

[2021-08-17 15:16] peircej commented on #2390
I'm pretty sure this was indeed fixed in July 2019 in commits 389e1571658ac and d2a9eddb203 and released in PsychoPy 3.2.0
Sorry I failed to come and feedback that info here earlier! 😄

[2021-08-17 15:16] #2390 closed

[2021-08-17 15:16] #2385 closed

[2021-08-17 15:23] peircej commented on #2189
This is definitely fixed now. It was a world of pain but we are now using the pytest fixtures of >4.1

[2021-08-17 15:23] #2189 closed

[2021-08-17 15:33] peircej commented on #2150
I believe this is now fixed. Certainly there's a try...except around the joystick initialisation. Let's close and reopen if someone else finds it's still an issue

[2021-08-17 15:33] #2150 closed

[2021-08-18 10:07] TEParsons opened #4233 "On Sync, focus switches to Coder window, even though the commit box is in Builder"
Pretty sure this is because compiling to JS switches focus to Coder, just needs to switch back if compiling via a sync call

[2021-08-18 20:47] mdcutone commented on #4224
Might be as simple as parenting the correct window.

[2021-08-18 21:07] mdcutone commented on #4207
@peircej I think we need a tool to check whether package versions installed to the system/current interpreter differ from those we ship with standalone. Since we require specific package versions to get things like movies/audio working, other apps within the environment can break or be broken by installing PsychoPy. At the very least we should enumerate over the packages installed to the environme

[2021-08-19 10:52] StefanoVicentin opened #4235 "Pavlovia doesn't play moviepy stimuli"
Hello everyone,
I am having some issues to load movie stimuli to Pavlovia.
I have created an experiment where subjects needs to see a video clip (2 minutes) right before the task. It works pretty well offline, but once I load it in Pavlovia, the movie does not start, showing only the first image for the whole duration of the video stimulus, without audio. Stimuli are .mp4, saved in the moviepy bac

[2021-08-19 22:40] mdcutone opened #4241 "Closing a tab deletes respective routine (@mmagnuski)"

[2021-08-19 22:41] #4241 closed, assigned to nobody

[2021-08-19 22:41] mdcutone commented on #4241
Sorry accidentally created this.

[2021-08-20 08:04] #3630 closed, assigned to TEParsons

[2021-08-20 13:23] sadiphil opened #4242 "Trying to upload a conditions file into the loop"
traceback (most recent call last):
  File "C:\Program Files\PsychoPy\lib\site-packages\psychopy\app\builder\dialogs\__init__.py", line 1455, in onBrowseTrialsFile
    returnFieldNames=True)
  File "C:\Program Files\PsychoPy\lib\site-packages\psychopy\data\utils.py", line 420, in importConditions
    fieldName = fieldNames[colN]
IndexError: list index out of range

[2021-08-20 14:19] peircej commented on #1212
I wonder if this is resolved by TextBox, but actually I don't think there's much we can do about it either way. Closing for now

[2021-08-20 14:19] #1212 closed

[2021-08-20 14:22] mdcutone commented on #1821
Many of these issues were resolved by the inclusion of the PTB audio backend. Movie playback improvements are ongoing but vastly improved at this point.

[2021-08-20 14:22] #1821 closed

[2021-08-20 16:08] #970 closed

[2021-08-20 16:30] peircej commented on #949
This appears to have been fixed many versions ago - long enough ago that I can't see in the . The minimal working example certainly no longer has any glitches in current PsychoPy

[2021-08-20 16:30] #949 closed

[2021-08-21 03:43] arnon-weinberg commented on #4207
Getting exactly the same behaviour on Centos 7.  I do use separate virtual Python environments for each version of PsychoPy.
This issue does not happen with previous versions of PsychoPy (eg, 2021.1.4) on the same machine, so not sure if it's a simple dependency issue...

As a temporary workaround, I made the following edit to [python-package-directory]/psychopy/app/builder/dialogs/paramCtrls.py.o

[2021-08-21 20:01] bastosfh commented on #4207
Thank you very much for reporting this, @arnon-weinberg!
The workaround you proposed also fixes the problem in my install of PsychoPy 2021.2.3 (no more errors or crashes) :1st_place_medal:

[2021-08-23 22:16] mdcutone commented on #4207
@arnon-weinberg Thanks for tracking down the issue and fixing it. Perhaps you could submit a PR with the patch to get credit for your contribution and help others out. 😃

[2021-08-23 22:29] arnon-weinberg commented on #4207
I can, but it didn't seem like a fix so much as a temporary workaround.  It looks like the intended functionality was to set a different font for code than text in the UI; which this patch effectively disables.  A real fix would get that functionality working under Linux, which I am not sure how to do.
I am glad it helps others for now.

[2021-08-23 22:34] mdcutone commented on #4207
Okay I'll sort it out.

[2021-08-24 09:36] LiKao opened #4246 "Routines with Mouse don't end after stop time, if end on press is set to never"
## Description
If a routine with a mouse is created and the "End Routine on Press field is set", the mouse object is not stopped at the time configured under "stop", if there is at least one component with a variable length.

## Detail configuration

Code Component:
-> `TrialDuration = 5` under "Begin Routine"

Mouse Component:
-> Start: 1.0s
-> Stop: 3.0s
-> End Routine on Press: "Never"
-> Save

[2021-08-24 14:18] jfkominsky commented on #4235
Moviepy isn't relevant here because Pavlovia uses a different system for playing movies. Online studies are run using JavaScript rather than Python, and I believe movies in particular are loaded as HTML5 movie tags. Are the movies h.264 encoded? In general mp4s should work, but more often than not this is an issue with the movie files themselves. See https://discourse.psychopy.org/t/pavlovia-wont-

[2021-08-24 19:05] #2396 closed

[2021-08-25 10:59] peircej commented on #4207
Well done everyone on the detective work. My guess is that this is a change between wxPython versions on that Bold() method. Are we certain the fix is sufficient? ie. does the IsOK trick in Matthew's fix catch the broken font? Also, I guess we could at least revert to `app._codeFont` rather than `app._mainFont` if the Bold() call doesn't work?

[2021-08-25 13:49] bastosfh commented on #4207
I've replaced my paramCtrls.py with [this version](https://github.com/mdcutone/psychopy/blob/dev-code-validation-bf/psychopy/app/builder/dialogs/paramCtrls.py) and PsychoPy v2021.2.3 crashed after giving this error:

  File "/home/flavio/.local/lib/python3.8/site-packages/psychopy/app/builder/dialogs/paramCtrls.py", line 31, in validate
    validate(self, self.valType)
  File "/home/flavio/.local/

[2021-08-25 14:10] mdcutone commented on #4207
This might be a wxPython on Linux issue. We could just detect the platform and use the workaround for now. Longshot but try removing the `str()` around `obj.GetValue()` and see if that clears up the issue.

[2021-08-25 16:17] bastosfh commented on #4207
Removing the `str()` - living just `val = obj.GetValue()` - still gives the error and crash :(

[2021-08-27 14:22] bastosfh commented on #4207
Hi @mdcutone,

I've tried [this version of paramCtrls.py](https://github.com/psychopy/psychopy/blob/943ac736deda52e4cb38ee6a745536d6a84feb60/psychopy/app/builder/dialogs/paramCtrls.py) and it gives this error:

  File "/home/flavio/.local/lib/python3.8/site-packages/psychopy/app/builder/dialogs/paramCtrls.py", line 31, in validate
    validate(self, self.valType)
  File "/home/flavio/.local/lib/py

[2021-08-30 15:25] smathot opened #4257 "Error when missing sound dependencies: psychopy.sound.exceptions has no attribute DependencyError"
When missing either `psychtoolbox` or other libraries that are required for sound support, PsychoPy attempts to raise a `DependencyError`. Oddly, even though looking at the code it seems that it (correctly) tries to raise `psychopy.exceptions.DependencyError`, it apparently tries to raise `psychopy.sound.exceptions.DependencyError`, which doesn't exist, triggering the error shown below. I haven't

[2021-08-30 22:00] RebeccaHirst commented on #4242
Hi There,

I think this might be better posted on discourse.psychopy.org first - we are also going to need more information to help e.g. PsychoPy version

Thanks,
Becca

[2021-08-31 03:05] arnon-weinberg opened #4259 "Dollar sign turns code into text"
#https://discourse.psychopy.org/t/bug-dollar-sign-turns-code-into-text/24659

In PsychoPy 2021.2.3 (using Javascript):

The dollar sign ($) as code indicator in any TextBox’s Text property appears to be foiled by another dollar sign.

So this works: `$Math.E+'%'` generates `2.72%` as expected.
But this does not: `$Math.E+'$'` generates `Math.E+'$'` instead of `2.72$`.
This also behaves strangely:

[2021-08-31 12:28] TEParsons commented on #4259
I think the correct solution to this should be to use `$Math.E+'\$'` - the reason this doesn't work is a fix we put in for file paths which replaces all `\` with `/`. The changes in #4229 should fix this, so I'll make a point of testing this out again once that's pulled in!

[2021-08-31 18:02] sadiphil commented on #4242
Sorry, when I got this error, Psychopy copied it and asked me to post it here. It was with the newest version of PsychoPy and reverting to an older version fixed the issue.

[2021-08-31 18:02] #4242 closed, assigned to nobody

[2021-09-01 09:59] TEParsons commented on #4246
I think the problem is that, if Mouse is set to not gather any data, it doesn't get *any* of its Each Frame code written, including the checks for whether it's started and stopped. These are used to end the routine, as it checks each component for `.status == FINISHED`, so even a Mouse with finite duration isn't marked as `FINISHED` if it isn't gathering data.

I think this should be as simple as

[2021-09-01 11:27] TEParsons commented on #3718
I think the key error here is just that your filename should use `expInfo['participant*']` - which you can edit in Experiment Settings. But there should be a better way to do this - maybe we could add a tickbox for "Compulsory" for each row of a DictCtrl and then append the * when compiling to JS?

[2021-09-01 11:32] TEParsons commented on #1281
We haven't directly solved this, but there are two roundabout solutions which I think effectively address it:
1. Thanks to @tpronk the template conditions file created when clicking the excel button on a TableCtrl has Excel validation on the top row to avoid any namespace clashes
2. There's an option in prefs to not expand conditions file variables, so as to keep the namespace clear

[2021-09-01 11:32] #1281 closed

[2021-09-01 18:55] #4246 closed, assigned to TEParsons

[2021-09-02 23:50] lulucasg commented on #1532
Hi, I'm new to psychopy. I tried using 'MovieStim3' and I got this error:

AttributeError: 'MovieStim3' object has no attribute '_texID'

Anyone knows how to solve it? or what should I use instead?
Thanks :)

[2021-09-03 11:16] peircej commented on #2505
Addressed for now by dialog to confirm closing

[2021-09-03 11:16] #2505 closed

[2021-09-03 13:02] #4227 closed, assigned to nobody

[2021-09-03 16:12] RebeccaHirst opened #4262 "Eyetracker calibrate routine: "Press space to start" text not visible if window color is black"
Because the text "press space to start" in the eyetracker calibrate routine is black, the text is not visible if the background is black. Ideally we could either expose this text in the callibration routine, or make the text the inverse of the background colour so it is always visible

[2021-09-06 11:01] RebeccaHirst opened #4265 "MovieStim: adding value to size parameter results in movie not presenting"
If a value is added to the size parameter of movieStim the movie does not present

PsychoPy version 2021.2.3
Value used in size parameter `(1, 0.7)`

[2021-09-08 08:42] waltervanheuven opened #4268 "Pyo fix for macOS"
(updated)

`pyo` library doesn't work on Intel Macs (switching audiolibrary library to `pyo` results in errors).

The pyo library is successfully installed through using `pip install psychopy`. However, an error occurs in PsychoPy when pyo library is used (tested on M1 Mac).

[code]

Solution is to build `pyo` library from source. However, installing `pyo` python module (v1.04) from source fails.

[2021-09-08 09:15] waltervanheuven opened #4269 "pip install psychopy fails on Apple Silicon - fix and issues"
`pip install psychopy` fails on M1 Macs (native Apple Silicon) due to issues with required Python modules.

Instructions how to get `pip install psychopy` working on Apple Silicon can be found [here](https://github.com/waltervanheuven/psychopy-on-M1).

PsychoPy will run native on Apple Silicon but there are issues with `pyglet` and `psychtoolbox`. In particular, `core.wait()` fails due to calls to

[2021-09-08 11:53] isolver commented on #4262
Since three of the eye trackers initial calibration screen is different (either different text or text + other graphics), I think we should add support for specifying the calibration text _color_ as a new eye tracker calibration setting and expose this in Builder.

[2021-09-08 15:14] HanZhang-psych commented on #4262
Minor comment: the same issue applies to the validation routine as well. E.g., the validation results are hard to see if the background color is black.

[2021-09-08 18:50] waltervanheuven commented on #4269
I've further investigated the issues on Apple Silicon. macOS specific code for the `getTime()` function in `clock.py` doesn't work correctly on Apple Silicon.

`_timebase.numer` and ` _timebase.denom` are 1 on Intel but on Apple Silicon these values are not 1.  `_timebase.numer / _timebase.denom` indicates the scaling factor. More info [here](https://eclecticlight.co/2020/11/27/inside-m1-macs-time

[2021-09-09 13:48] AdoNunes opened #4270 "Bold characters not showing up"
For some reason, psychopy does not render bold text characters. For example, running the demo  \psychopy\demos\coder\stimuli\textbox_editable.py , PsychoPy should be in bold but it is not the case:

![image](https://user-images.githubusercontent.com/17873774/132697249-d7416332-478e-4e1d-92cb-ccf0d40a21d4.png)

Any suggestions on how to make TexTBox2 bold letters?

[2021-09-09 16:06] isolver commented on #3727
Given the better Builder - iohub integration since 2021.2.x, this demo will be removed in the next release, so closing the issue.

[2021-09-09 16:06] #3727 closed, assigned to isolver

[2021-09-10 12:00] isolver commented on #4262
[This branch](https://github.com/isolver/psychopy/tree/enh-calibration-text-color) fixes the text color issue for calibration. The new default behaviour does what @RebeccaHirst suggested, calculating the text color based on the background color. The nice thing about this approach is that it does not require any Builder GUI updates. ;) Wondering if we should add these type of functions to the Color

[2021-09-10 12:05] isolver opened #4273 "Eyetracker validation routine: Text not visible if window color is black"
Same type of issue as #4262, but for iohub eye tracker Validation procedure graphics.
- [x] Add text_color option to validation class, if None, use auto calculated color based on window background color.

[2021-09-13 10:12] RebeccaHirst opened #4274 "JS compile: very long code causes error on compile to JS"
If the code inside a code snippet is very long the following error will be returned when one compiles to Javascript

This has been previously reported on the forum with a similar fix - breaking up the code into many short snippets: https://discourse.psychopy.org/t/valueerror-stat-path-too-long-for-windows-error/22059/6?u=becca
[code]

[2021-09-14 08:04] nicoa47 opened #4277 "PsychoPy crashes shortly after one hour without error message"
I admit this is a complete shot in the dark.
I have set up a PsychoPy3 EEG experiment using Builder and it crashed both times I tested it, after approx. 65 minutes. The program just disappears all of a sudden, without any error message.

My main question is: has anyone else encountered such a situation?

I will run some tests I can come up with to try to reproduce it minimally.
Until then, I am op

[2021-09-23 09:10] RebeccaHirst opened #4280 "Transpiler: True in expInfo not translated to true in JS"
If the user uses "True" in the expInfo to generate a checkbox in the startup that produced an error online because `True` is not translated to `true` in Javascript.

[2021-09-23 11:53] RebeccaHirst opened #4281 "Slider: parameter "labelHeight" not exposed in JS"
Changing the Letter Height parameter in builder will change the label height in psychopy (locally) but not online. This is because the parameter "labelHeight" is not written to the Javascript.

e.g. a slider component written in javascript will appear as:
[code]

Whereas in python it will appear as:
[code]

For users currently seeking a solution the temporary fix is to add a code component with th

[2021-09-23 12:42] RebeccaHirst opened #4283 "ImageStim + Transpiler: start time parameter not correctly transpiled to JS"
If the onset of an imagestim is "condition" based and a python operator is used, that operator is not correctly transpiled to Javascript (note that this example does correctly transpile in the ButtonStim - so it should be possible the same way).

e.g. if we have 2 sliders and want an image to pop up when both sliders have ratings. The `Start` parameter of that image would be `slider1.rating and sl

[2021-09-27 13:26] isolver commented on #4273
fixed by PR #4282 in Dev branch.

[2021-09-27 13:26] #4273 closed, assigned to isolver

[2021-09-27 13:27] isolver commented on #4262
Fixed by PR #4275 which has been merged into Dev

[2021-09-27 13:27] #4262 closed, assigned to isolver

[2021-09-28 09:59] datalowe opened #4284 "Module 'pysoundcard' isn't found, and import of wrong exceptions in psychopy/sound/__init__.py"
Context: Using PsychoPy Standalone v2021.2.3 on a Windows 10 computer. When specifying a non-existent audio library earlier I had received the error message `audioLib pref should be one of ['PTB', 'sounddevice', 'pyo', 'pysoundcard', 'pygame'],`, and I wanted to test all of the options.

Running the following script:
[code]

I get the following output:
[code]

The original error, ModuleNotFoundErr

[2021-09-28 11:25] isolver opened #4285 "Joystick breaks EyeTracker Calibration"
Atleast on win10, if a project uses a Joystick and also ET Calibration, the experiment window is no longer properly restored after calibration; instead a black screen is displayed and the experiment appears to freeze. Originally reported [here](https://discourse.psychopy.org/t/task-crashing-following-eye-tracker-calibration/25073).

[2021-09-28 12:51] TEParsons commented on #4270
This is a feature we're planning to add but haven't yet - currently, we don't show HTML tags like `<b>`, and adding them does mark those characters internally as bold, but we're still working on the code to actually render these characters in a different font weight. So textboxes have to be either all bold or all non-bold, for now.

Watch this space though, we're doing a lot on Textbox currently!

[2021-09-30 10:31] mmagnuski opened #4293 "Can't draw a polygon with antialiasing although interpolate=True"
Hi,
I've had this issue on various computers so far and would like to cooperate with you (psychopy devs) to find the root of the problem. :)
I'm trying to draw an antialiased circle, but I keep getting pixelated edges although I set `interpolate=True` (which is the default anyway):

[code]
I see this circle displayed:
![obraz](https://user-images.githubusercontent.com/8452354/135438893-589b76b1-c4

[2021-09-30 10:38] mmagnuski opened #4294 "Default Polygon color settings lead to drawing invisible stimulus."
This is not really a bug, rather a minor inconvenience. Using the default Polygon fill and edge colors leads to invisible stimulus (the same color as the default window background).
[code]
This behavior is also different from Builder defaults where fill and border color is `'white'`.

[2021-09-30 11:12] mmagnuski commented on #4293
my graphics card is `NVIDIA GeForce GTX 1660`. Setting `useFBO=False` when creating the window does not help.

related issues:
#753
#594

https://discourse.psychopy.org/t/drawing-multiple-anti-aliased-lines/2593/10
https://discourse.psychopy.org/t/visual-stimulus-edges-appear-blurred/19535

[2021-09-30 11:24] mmagnuski commented on #4293
Ok, creating the window in this way:
[code]
does make antialiasing work.

[2021-10-05 20:19] celstark opened #4297 "Windows - Cannot import QtWidgets from PyQt5"
Fresh install of Psychopy (both the January and August builds -- same) on Windows 10 and attempts to use the GUI methods fail.  Here's the output from the GUI demo:

[code]

Here's manually doing the loads as asked for in another thread.
[code]

Craig

[2021-10-06 02:52] ArielZJ commented on #4297
I was literally in the process of writing out my bug report for the same problem when I noticed this issue. Let me add my own information:

I'm unable to run any .psyexp files at all without encountering this error message:

[code]

I've tried installing and running all the standalone versions, both 32 and 64 bit, from v2021.1.0 onwards. All of them produce the same error for me.

My machine is a

[2021-10-06 16:10] mdcutone commented on #4293
Right, we don't yet support multisample FBOs (unless your are using VR) so you need to use the default back buffer with multisampling enabled. Setting the shape's outline color might make it work since it will draw an outline, lines are antialiased by the driver so multisampling may not be needed.

[2021-10-07 00:02] ArielZJ commented on #4297
I don't really know what I'm doing, but I get the impression it can't see the .pyd files for some reason. See here:

[code]

[2021-10-07 02:16] ArielZJ commented on #4297
FYI, after an ungodly number of hours messing around, I finally managed to get an installation to work by installing through Anaconda.

[2021-10-11 16:17] mmagnuski opened #4305 "QuestPlusHandler freezes at trial 28 when `.next()` mehtod is called"
Hi @hoechenberger, I'm not sure if this is psychopy or questplus issue (great package BTW!).
The QuestPlusHandler freezes when its `.next()` method is called for the 28'th time. Below is the (almost minimally) reproducible example:

[code]

The code quickly hangs and I get the following output after killing the process through the psychopy runner.
You can see that it gets to trial 28, but never ma

[2021-10-11 17:09] mmagnuski commented on #4305
Interesting, running the script from another conda environment (with psychopy installed from `conda-forge`) works well - there is no freezing.

[2021-10-11 17:56] hoechenberger commented on #4305
Ouch, this is … great and not great at the same time 😅 Do you think you could try to produce a MWE that doesn't make use of `psychopy`, but uses `questplus` directly?

[2021-10-12 10:23] mmagnuski commented on #4305
Similar problem when running the questplus script in psychopy coder - it freezes, now on trial 29.
[code]

and the output:
[code]

[2021-10-12 10:28] mmagnuski commented on #4305
And the story is the same here: running this script from the terminal (not from psychopy runner; but different env - psychopy from conda-forge) does not lead to freezing (although it is getting colder by the day).
This was tested on a different Windows computer than the report from yesterday - so can be reproduced across (at least some) machines.

[2021-10-12 11:31] mmagnuski commented on #4305
But running from the terminal in the same python env as the coder also works. Must be something strange happening in the coder...
This is a good enough workaround for me at the moment, but I'm sure my collaborators would find it helpful if running the procedure from psychopy GUI (coder) would work. :)

[2021-10-12 13:43] hoechenberger commented on #4305
Could you monitor memory usage? I wonder if something weird is happening in this regard?

[2021-10-12 14:20] mmagnuski commented on #4305
Looking at the task manager - the memory usage does not change significantly (but this computer has 128 GB RAM, so it may be difficult to see anything below 1GB in the task manager).
Also - running the script from psychopy coder sometimes succeeds (no freezing).
Were you able to reproduce the problem?

[2021-10-12 15:18] hoechenberger commented on #4305
No I haven't tried to reproduce it -- I don't use psychopy these days :(

I might find some time to look into it this weekend

Could you do another test with the standalone distribution?

[2021-10-12 16:43] mmagnuski commented on #4305
All the tests that I performed in the coder are using a standalone psychopy (the one installed not through conda, but a separate installer). Is it possible to run the psychopy GUI for the conda installed psychopy?
Or do you mean - test this on another computer? I've tested on two so far, but I can test on another one.
The psychopy version on the computer I used today is `2021.2.2`.

[2021-10-12 17:00] hoechenberger commented on #4305
What I meant was, the official PsychoPy stand-alone distribution (which is the recommended way to run PsychoPy)
which you can download from https://www.psychopy.org/download.html :)

[2021-10-12 20:20] mdcutone commented on #4294
I see how this can be confusing for users. Thoughts @TEParsons?

[2021-10-12 21:40] mmagnuski commented on #4305
The tests in the coder I mentioned were in stand-alone PsychoPy.
So, to summarize - on both computers I tested the situation is as follows:

env | Psychopy coder | terminal
---|---|---
standalone | freezes | OK
conda-forge | ? | OK

[2021-10-12 22:24] TEParsons commented on #4294
I think this might be a carry over from before the colour rework - before, `None` would have meant "default" for some stimuli and "transparent" for others. Now it always means "transparent", which is better, but I'm guessing Polygon still has its default fill colour as `None` from when `None` meant "default". Should be as simple as changing the default from `None` to `'white'`, I'll just need to c

[2021-10-14 19:29] dvbridges opened #4313 "Text component uses expected duration, rather than duration (frames)"
See [Discourse issue](https://discourse.psychopy.org/t/expected-duration-rather-than-duration-frames-is-setting-stimulus-timing/25381). Text stim is displayed for the duration of the "expected duration" rather than the requested duration when using duration (frames) - tested in version 2021.2.3 with the following

![bug](https://user-images.githubusercontent.com/22459095/137382818-44973c7c-5f58-40

[2021-10-16 17:55] StephBadde opened #4318 "kb.getKeys() misses button presses on Windows"
Hi,
kb.getKeys() sometimes does not register a keypress in my setup.
- this happens only on Windows 10/11 (PsychoPy Version 2021.2.3), not on my MBP running Big Sur
- this happens only when getKeys is called as a function of the keyboard class, event.getKeys() works fine
- the problem was replicated using a Millikey button box, a standard Dell keyboard, and a standard Logitech keyboard on two diff

[2021-10-18 14:08] peircej commented on #4318
I think this is caused by checking the keyboard in too "tight" a loop - you're calling getKeys so rapidly that the OS isn't able to do anything else (including some of the housekeeping required to do the keyboard polling behind the scenes).

I think either of the following options will fix that:
- add something like `time.sleep(0.001)` to your `while True` loop to give a millisecond to the CPU for

[2021-10-18 20:01] StephBadde commented on #4318
Thanks for the quick reply!
- I've tried adding time for housekeeping. time.sleep(0.001) didn't come with any improvements. Then I tried time.sleep(0.016), i.e., checking every refresh interval on a 60 Hz monitor. That helped but it still missed about 1% of keypresses (which I probably wouldn't have noticed in a normal experiment).
- Using ioHub worked, but I'm not sure if I implemented it the way

[2021-10-19 10:03] peircej commented on #4297
I'm afraid I have no idea what would have caused PyQt not to load, just in a very very small number of users. Is it possible that you have another python/qt installation on your system and the two were conflicted?
PyQt and all the necessary files are certainly included in the current standalone release

[2021-10-19 10:14] peircej commented on #4297
I've just tested on a clean virtual machine (win10 pro) and I can't replicate the issue. I'm closing for now, pending any further reports and clues as to what this could be.

[2021-10-19 10:14] #4297 closed, assigned to nobody

[2021-10-20 14:32] mdcutone commented on #4265
PR has been merged that fixes this.

[2021-10-20 14:32] #4265 closed, assigned to mdcutone

[2021-10-22 19:48] danaris opened #4322 "Loop variable referenced before defining, gives NameError"
In trying to put together a fairly simple project using the Builder, I came upon this error. I have two text stimuli, each with its text changing each repeat. Upon compilation, the second of these has its _initial_ value set to the loop variable `varA`—which is not yet set.

Attached are the Builder file and the compiled Python file zipped together (trial.zip), the loop variables file (trial-list-

[2021-10-25 12:22] TEParsons opened #4323 "Icons for components without a start time aren't greyed out when disabled"
This is because the code to draw the greyed out icon is within the same if statement (psychopy -> app -> builder -> builder.py, line 2057 in dev) as the code to draw a line, which is only executed if a line is needed (i.e. if there is a start time)

[2021-10-26 19:52] salilabwfu opened #4325 "Data Saving Error"
A participant reported to me today an error message that I have not encountered before. It is quite long and refers to an issue with gitlab:

“Unfortunately we encountered the following error: when flushing participant’s log for experiment, when uploading participant’s log for experiment, when saving logs from a previously opened session on the server. File exists. Another git process seems to be

[2021-10-29 07:28] bollaking opened #4329 "Unable to run any experiment from dev or release branch"
Apologies if this is just a stupid error of mine but I have not been able to run a from source code psychopy experiment for a couple of weeks now.

I have installed the dependencies from scratch using pip install -e . from the release and dev branches (I had some problems with the release and had to manually install pocketsphinx manually ) but dev branch appears to install correctly as is. I can r

[2021-10-29 07:32] bollaking commented on #4329
Using print statements I found that the crash was occurring in this line:
[code]
changing this to ```defaultKeyboard = None``` and removing references to defaultKeyboard allows the experiment to run to completion

[2021-10-29 08:59] isolver commented on #4329
Psychtoolbox psychHID seems to crash python 3.8 on macOS. I can reproduce
the error as well.  Use python 3.6 and it should be OK.

On Fri., Oct. 29, 2021, 4:32 a.m. bollaking, ***@***.***>
wrote:

[2021-10-29 13:34] #4323 closed, assigned to TEParsons

[2021-10-29 13:37] TEParsons commented on #4322
That's because text_2 has its text value set to "Constant" - meaning it's set at the start of the experiment, before the loop has started so before the loop values exist yet. You'll need to set it to "Set each repeat"

[2021-10-29 13:37] #4322 closed, assigned to nobody

[2021-10-29 13:46] TEParsons commented on #4283
I can't find the PR, but this is fixed in `release`! Essentially start/stop values were being treated as a special case rather than going through the same string-ification process as other params, so they weren't being transpiled.

[2021-10-29 13:46] #4283 closed, assigned to TEParsons

[2021-10-29 13:47] #4294 closed, assigned to nobody

[2021-10-29 13:48] #4274 closed, assigned to nobody

[2021-10-29 15:15] danaris opened #4331 "Crash upon second use of color picker"
When attempting to choose the color of text stimuli on macOS, I have experienced a recurring bug that causes PsychoPy to crash reliably on either the first or second use of the color picker.

The most reliable reproduction method I have found is as follows:

- Create a new project
- Create a text stimulus
- Go to the Appearance tab
- Click on the color picker
- Select a color on the right
- Click

[2021-11-01 11:24] pellet commented on #2250
I was unable to get over 85Hz on my external display on macOS 11.5.2(Big Sur) without it returning None instead of the correct frame rate.  I just dropped the refresh rate as a work around.

[2021-11-01 11:33] euclip opened #4334 "PTB-ERROR: PortAudio can’t detect any supported sound device on this system"
I’m trying to get PsychoPy working in a virtual Linux (Ubuntu 20.04) environment that doesn’t have a “real” audio input, just a virtual pulseaudio FIFO source. It works as an audio input in Audacity and Firefox, but trying to run psychopy produces the below error output which, it seems to me, has to do with the application not recognizing the input being available.

Is there a way to work around t

[2021-11-04 22:42] Catyre opened #4342 "Getting "Illegal Hardware Instruction" for python3.7 when using psychopy.hardware.keyboard"
I am running psychopy 2021.2.3 on MacOS Big Sur 11.6.  Whenever I use psychopy.hardware.keyboard, I get an error in the terminal saying "illegal hardware instructions," followed shortly by a crash report.  This can be replicated in even the most sterile of conditions:

[code]

Full crash report can be found on pastebin: https://pastebin.com/1RxbHfnm

After some research into related problems (see

[2021-11-05 00:45] bollaking commented on #4342
I think this is the same as:
https://github.com/psychopy/psychopy/issues/4329

There is also a bug reported in psychtoolbox to fix this for python 3.8.
https://github.com/Psychtoolbox-3/Psychtoolbox-3/issues/744

[2021-11-05 08:33] isolver commented on #4342
Yes, for now please use python 3.6 on macOS if using ptb based keyboard.

[2021-11-05 13:38] Avijit-Chowdhury1 opened #4344 "ShapeStim not working on PsychoJS"
I am including a visual.ShapeStim in my PychoPy which runs well offline (using python) but when I run it online the "lineColor" attribute is not functional - I indicate the color as red but it shows as black when I run it on Pavlovia;

Here is my task code: https://gitlab.pavlovia.org/s9072080E/sit2

The task is named "MarketTask.py"

Can someone help me with debugging, please?

Thanks

[2021-11-06 02:37] Catyre commented on #4342
Okay, so I've installed python 3.6 and tried again, but I'm still getting the same error.